<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../template.xhtml">
    <ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{CustomerDataController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>
	</ui:define>
	
    <ui:define name="content">
		<p:breadCrumb>
			<p:menuitem value="Dashboard" url="/" />
			<p:menuitem value="Info" url="/customer/#{request.getParameter('id')}/data" />
		</p:breadCrumb>
        <h:form id="form" >
        	<p:growl id="info" showDetail="true" autoUpdate="true"/>
        	<p:layout style="min-height:600px;" id="layout">
		    	<p:layoutUnit position="west" resizable="false" size="500" style="border:0">       
		        	<p:panel header="Locations"> 
			            <p:dataTable id="locations" 
							value="#{CustomerDataController.locations}" 
							var="location" 
					        emptyMessage="No locations found.">
					        
						    <p:column headerText="Location Title" style="width:140px">
						        <h:outputText value="#{location.title}" />
						    </p:column>
					    	<p:column headerText="Scenes" style="width:40px"> 
						        <h:outputText value="#{location.sceneCount}" />
						    </p:column>
						    <p:column style="width:60px">
							    <p:commandButton value="VIEW" ajax="true"
					        			action="#{CustomerDataController.editLocation(location)}"/>
						    </p:column>
						    
						</p:dataTable>
					</p:panel>
		    	</p:layoutUnit>
			    <p:layoutUnit position="center" size="400" style="border:0">
			        <p:panel header="Guides"> 
			            <p:dataTable 
			            	value="#{CustomerDataController.guides}" 
							var="guide" 
					        emptyMessage="No guides found.">
					        
						    <p:column headerText="Guide Title"> 
						        <p:commandLink action="#{CustomerDataController.editGuide(guide)}">
						        	<h:outputText value="#{guide.title}" />
								</p:commandLink>
						    </p:column>
						    <p:column headerText="Score" style="width:40px"> 
						        <p:commandLink action="#{CustomerDataController.viewGuideReport(guide)}">
						        	<h:outputText value="#{guide.score}" />
								</p:commandLink>
						    </p:column>
						    <p:column style="border-top:none; !important;">
							    <a href="/g#{guide.id}" target="_blank">
								     <p:graphicImage style="width:60px; height:60px"
								     	value="#{buildProperties.cdnUrl}/#{guide.thumbName}" />
								</a>
						    </p:column>
						    
						</p:dataTable>
					</p:panel>
			    </p:layoutUnit>
			</p:layout>
		</h:form>
    </ui:define>
</ui:composition>