<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="server">
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/" source-path="/WEB-INF"/>
        <property name="context-root" value="server"/>
        <property name="java-output-path" value="/server/build/classes"/>
    </wb-module>
</project-modules>
