<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:c="http://java.sun.com/jsp/jstl/core"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:p="http://primefaces.org/ui">

<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:f="http://java.sun.com/jsf/core">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<f:metadata>
	<f:event listener="#{SceneController.preRenderView}" type="preRenderView"/>
</f:metadata>

	<style type="text/css" media="screen">

		html, body {
			height: 100%;
			overflow: hidden;
			font-family: Arial, Helvetica, sans-serif;
		}

		body {
			margin: 0;
			padding: 0;
			text-align: center;
			layout: absolute;
		}

		.preview-visible {
			margin: 0;
			padding: 0;
			height: 100%;
			width: 100%;
		}

		.preview-hidden {
			display:none;
			visibility:hidden;
			height: 1px;
			width: 1px;
		}

		#preloadtext {
			text-align: left;
		}

		#preloader {
			display: none;
			width: 200px; /*the width of the element*/
			height: 100px; /*the height of the element*/
			position: absolute; /*absolute position to center the element in relation to its parent element*/
			left: 50%; /*the left border of the element is positioned at half of the available width of the parent element*/
			top: 50%; /*the top border of the element is positioned at half of the available height of the parent element*/
			margin-left: -100px; /*half of the element width is removed from the left margin to center it*/
			margin-top: -50px; /*half of the element height is removed from the top margin to center it*/
		}

		#preloadtrack {
			width:200px;
			background-color:#999999;
			padding:2px;
		}
		#preloadbar {
			width:1px;
			height:10px;
			background-color:#CCC;
		}

		#preview img {
			width: 100%;
			height: auto;
			position: absolute;
			left: 0;
			opacity:0;
			filter:alpha(opacity='0');
			Filter:Blur(Add = 0, Direction = 225, Strength = 5);
			z-index:-1;
		}

		#play-button {
			display: none;
		}

		#itunes-button {
			display: none;
		}

		.flash-hidden {
			display: none;
			height: 1px;
			width: 1px;
		}

		.flash-visible {
			height: 100%;
			width: 100%;
		}
	</style>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
	<script type="application/javascript">

		var loadImmediately = false;
		var flashLoaded = false;

		var STAGE_SWF_LOADED = 1;
		var STAGE_GUIDE_LOADED = 2;
		var STAGE_SCENE_LOADED = 3;


		function showPreloader()
		{
			document.getElementById("preloader").style.display = "block";
			document.getElementById("preloader").style.visibility = "visible";
			showProgress(0.2);
		}

		function preloadFlash()
		{
			showPreloader();

			// fail safe in-case the thumb does not load.
			setTimeout("loadFlash()", 1000);

			loadImmediately = true;
		}

		function onPlayButtonClick()
		{
			document.getElementById("play-button").style.display = "none";
			document.getElementById("play-button").style.visibility = "hidden";

			showPreloader();
			loadFlash();
		}

		function loadFlash()
		{
			if(flashLoaded)
				return;
			flashLoaded = true;

			showProgress(0.2);

			var swfVersionStr = "10.2.0";
			var xiSwfUrlStr = "/resources/swf/playerProductInstall.swf";
			var flashvars = #{SceneController.flashVarsJson};

			var params = {
				"quality" : "high",
				"bgcolor" : "#ffffff",
				"allowscriptaccess" : "always",
				"allowfullscreen" : "true",
				"wmode" : "direct"
			}

			var attributes = {};
			attributes.id = "player-swf";
			attributes.name = "player-swf";
			attributes.align = "top";

			var playerVersion = swfobject.getFlashPlayerVersion();
			var swfUrl = playerVersion.major &lt; 11
					? "#{SceneController.playerSwfUrlFlash10}"
					: "#{SceneController.playerSwfUrl}?r=asdf";

			swfobject.embedSWF(
					swfUrl,
					"player-div",
					"100%", "100%",
					swfVersionStr,
					xiSwfUrlStr,
					flashvars,
					params,
					attributes
			);
		}


		var fadeEffect=function(){
			return{
				init:function(id, flag, target){
					this.elem = document.getElementById(id);
					clearInterval(this.elem.si);
					this.target = target ? target : flag ? 100 : 0;
					this.flag = flag || -1;
					this.alpha = this.elem.style.opacity ? parseFloat(this.elem.style.opacity) * 100 : 0;
					this.si = setInterval(function(){fadeEffect.tween()}, 20);
				},
				tween:function(){
					if(this.alpha == this.target){
						clearInterval(this.si);
					}else{
						var value = Math.round(this.alpha + ((this.target - this.alpha) * .05)) + (1 * this.flag);
						this.elem.style.opacity = value / 100;
						this.elem.style.filter = 'alpha(opacity=' + value + ')';
						this.alpha = value
					}
				}
			}
		}();

		function getWindowHeight()
		{
			var winW = 630, winH = 460;
			if (document.body &amp;&amp; document.body.offsetWidth) {
				winW = document.body.offsetWidth;
				winH = document.body.offsetHeight;
			}
			if (document.compatMode=='CSS1Compat' &amp;&amp;
					document.documentElement &amp;&amp;
					document.documentElement.offsetWidth ) {
				winW = document.documentElement.offsetWidth;
				winH = document.documentElement.offsetHeight;
			}
			if (window.innerWidth &amp;&amp; window.innerHeight) {
				winW = window.innerWidth;
				winH = window.innerHeight;
			}

			return winH;
		}

		function onThumbLoaded()
		{
			var thumb = document.getElementById("preloadthumb");
			var headerHeight = 35;
			thumb.style.left = "0";
			thumb.style.top = (getWindowHeight() - thumb.height)/2 + headerHeight +"px";

			fadeEffect.init('preloadthumb', 1, 100);


			if(loadImmediately)
				loadFlash();
		}

		var currpercent = 0;
		var timeout;

		function showProgress(percent, endfunction)
		{
			currpercent += 0.02;

			document.getElementById("preloadtext").innerHTML = (percent *100)+"% loaded";
			var track = document.getElementById("preloadtrack");
			var bar = document.getElementById("preloadbar");
			var curr_width = parseInt(track.style.width);

			bar.style.width = (200 * currpercent) + "px";

			if(currpercent &lt; percent)
				timeout = setTimeout("showProgress("+percent+", "+endfunction+");", 20);

			else if(endfunction != null)
				endfunction();
		}

		function showFlash()
		{
			clearTimeout(timeout);

			showProgress(1, setSwfVisible);
		}

		function setSwfStage(stage)
		{
			switch(stage)
			{
				case STAGE_SWF_LOADED:
					showProgress(0.5);
					break;

				case STAGE_GUIDE_LOADED:
					showProgress(0.7);
					break;

				case STAGE_SCENE_LOADED:
					showFlash();
					break;
			}
		}

		function setSwfVisible()
		{
			document.getElementById("preview").className = "preview-hidden";
			//document.getElementById("player-div").className = "flash-visible";

			//document.getElementById("player-swf").width = "100%;";
			//document.getElementById("player-swf").height = "100%;";
		}



	</script>
</head>
<body>


		<div id="preview" class="preview-visible" >
			<img id="preloadthumb" onload="onThumbLoaded()" src="#{buildProperties.cdnUrl}/#{SceneController.scene.thumbName}" />
			<div id="preloader">
				<div id="preloadtext">this is some text</div>
				<div id="preloadtrack"><div id="preloadbar"></div></div>
			</div>
		</div>
		<div id="player-div" class="flash-hidden">
			<p>
				To view this page ensure that Adobe Flash Player version
				10.2.0 or greater is installed.
			</p>
			<script type="text/javascript">
				var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
				document.write(unescape("%3Ca href='http://www.adobe.com/go/getflashplayer'%3E%3Cimg src='" + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player'/%3E"));
			</script>
		</div>

<script type="text/javascript">
		preloadFlash();
</script>
</body>
</html>
</ui:composition>
