<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
    <f:metadata>
        <f:event listener="#{SceneController.preRenderView}" type="preRenderView"/>
    </f:metadata>
    
	<link rel="stylesheet" href="http://gms.#{SceneController.domain}/resources/css/index.css"/> 
	<link rel="stylesheet" href="http://gms.#{SceneController.domain}/resources/css/leanorama.css"/>
	<link rel="stylesheet" href="http://gms.#{SceneController.domain}/resources/css/leanorama.infobox.css"/>
	<link rel="stylesheet" href="http://gms.#{SceneController.domain}/resources/css/leanorama.beek.bubbles.css"/>
	<link rel="stylesheet" href="http://gms.#{SceneController.domain}/resources/css/leanorama.beek.guide.css"/>
	<link rel="stylesheet" href="http://gms.#{SceneController.domain}/resources/css/vendor/bootstrap.min.css" />
	
	<link rel="iframe_src" href="http://#{SceneController.domain}#{SceneController.scenePath}"/>
    
	<meta name="viewport" content="height=device-height, width=device-width, maximum-scale=1.0, user-scalable=no" />
    <meta property="fb:admins" content="117333291687303" />
    <meta property="og:title" content="#{SceneController.scene.title} - #{SceneController.scene.title}"/>
    <meta property="og:type" content="movie"/>
    <meta property="og:url" content="http://#{SceneController.domain}#{SceneController.scenePath}"/>
    <meta property="og:image" content="#{buildProperties.cdnUrl}/#{SceneController.scene.thumbName}"/>
    <meta property="og:site_name" content="Beek"/>
    <meta property="og:description" content="#{SceneController.scene.description}"/>
    <meta property="og:video:width" content="320" />
    <meta property="og:video:height" content="200" />
    <!-- test -->
    <style type="text/css" media="screen">
         html, body {
            height: 100%;
            overflow: hidden;
            font-family: Arial, Helvetica, sans-serif;
        } 

        body {
            margin: 0;
            padding: 0;
            text-align: center;
            layout: absolute;
        }
        
        .preview-visible {
        	margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }
        
        .preview-hidden {
        	display:none;
        	visibility:hidden;
        	height: 1px;
            width: 1px;
        }

        #preloadtext {
         	text-align: left;
        }
        
        #preloader {
        	display: none;
			width: 200px; /*the width of the element*/
			height: 100px; /*the height of the element*/
			position: absolute; /*absolute position to center the element in relation to its parent element*/
			left: 50%; /*the left border of the element is positioned at half of the available width of the parent element*/
			top: 50%; /*the top border of the element is positioned at half of the available height of the parent element*/
			margin-left: -100px; /*half of the element width is removed from the left margin to center it*/
			margin-top: -50px; /*half of the element height is removed from the top margin to center it*/
        }
        
        #preloadtrack {
        	width:200px;
        	background-color:#999999;
			padding:2px;
        }
        #preloadbar {
        	width:1px; 
        	height:10px; 
        	background-color:#CCC;
        }
        
        #preview img {
            width: 100%;
    		height: auto;
    		position: absolute;
    		left: 0;
    		opacity:0; 
    		filter:alpha(opacity='0');
    		Filter:Blur(Add = 0, Direction = 225, Strength = 5);
    		z-index:-1;
        }

        #play-button {
            display: none;
        }

        #itunes-button {
            display: none;
        }
        
        .flash-hidden {
            display: none;
            height: 1px; 
            width: 1px; 
        }

        .flash-visible {
            display: block;
            height: 100%; 
            width: 100%; 
        }
    </style>
    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>   
	<script type="text/javascript" src="http://gms.#{SceneController.domain}/resources/js/swfobject.js"></script>   
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="http://gms.#{SceneController.domain}/resources/js/jquery.transit.js"></script>
	<script src="http://gms.#{SceneController.domain}/resources/js/jquery.leanorama.js"></script>
	<script src="http://gms.#{SceneController.domain}/resources/js/jquery.leanorama.beek.js"></script>
	<script src="http://gms.#{SceneController.domain}/resources/js/jquery.leanorama.beek.bubbles.js"></script>
	<script src="http://gms.#{SceneController.domain}/resources/js/jquery.leanorama.beek.guide.js"></script>
	<script src="http://gms.#{SceneController.domain}/resources/js/jquery.leanorama.beek.scene.js"></script>
    <script type="text/javascript">
    	
    	var loadImmediately = false;
    	var flashLoaded = false;
		
		var STAGE_SWF_LOADED = 1;
		var STAGE_GUIDE_LOADED = 2;
		var STAGE_SCENE_LOADED = 3;

		function isIOSBrowser()
		{
			return (/iphone|ipad|ipod/i.test(navigator.userAgent.toLowerCase()));  
		} 
		
		function isMobileBrowser()
		{
			return (/iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));  
		} 

		function doesNotHaveFlash()
		{
			var version = swfobject.getFlashPlayerVersion();
			return (version["major"] &lt;= 10 &amp;&amp; version["minor"] &lt; 2);  
		} 

		function navigateToHTML5Version()
	{
		//create the pano div
		var pano = document.createElement('div');
		pano.id = 'panodiv';
		pano.Style = 'width:100%;height:100%';
		document.getElementsByTagName('body')[0].appendChild(pano);
		
		$("#preview").hide();
		document.body.style.zoom = "80%"
		//assign the pano to div
		$('#panodiv').leanorama({
		gyro: false,
		touch: true,
		autostart: false,
			beek: {
				jsonpPrefix: 'http://gms.#{SceneController.domain}/',
				cdnPrefix: 'http://cdn.beek.co',
				scene:  #{SceneController.scene.getId()},
				
	
			}
		});
	}
		function showUpgradeFlash()
		{
			loadFlash();
			//setTimeout("setSwfVisible()", 2000);
			
			document.getElementById("player-div").className = "flash-visible";
			document.getElementById("preview").className = "preview-hidden";
		} 
		
		function onThumbLoaded()
		{
			var thumb = document.getElementById("preloadthumb");
			var headerHeight = 35;
			thumb.style.left = "0";
			thumb.style.top = (getWindowHeight() - thumb.height)/2 + headerHeight +"px";

			fadeEffect.init('preloadthumb', 1, 100);
			
			
			if(loadImmediately)
				loadFlash();
		}
				
		function showItunesButton()
		{
			document.getElementById("itunes-button").style.display = "inline";
	    	document.getElementById("itunes-button").style.visibility = "visible";
		}
		
		function showPlayButton()
		{
			document.getElementById("play-button").style.display = "inline";
	    	document.getElementById("play-button").style.visibility = "visible";
		}
		
		function showPreloader()
		{
			document.getElementById("preloader").style.display = "block";
	    	document.getElementById("preloader").style.visibility = "visible";
	    	showProgress(0.2);
		}
		
		function preloadFlash()
		{
			showPreloader();
			
			// fail safe in-case the thumb does not load.
	    	setTimeout("loadFlash()", 1000);

	    	loadImmediately = true;
		}

		function onPlayButtonClick()
		{
			document.getElementById("play-button").style.display = "none";
	    	document.getElementById("play-button").style.visibility = "hidden";
	    	
			showPreloader();
			loadFlash();
		}
		
		function loadFlash()
		{
			if(flashLoaded)
				return;
			flashLoaded = true;
			
			showProgress(0.2);

			var swfVersionStr = "10.2.0";
	        var xiSwfUrlStr = "/resources/swf/playerProductInstall.swf";
	        var flashvars = #{SceneController.flashVarsJson};

	        var params = {
		        "quality" : "high",
		        "bgcolor" : "#ffffff",
		        "allowscriptaccess" : "always",
		        "allowfullscreen" : "true",
				"wmode" : "direct"
	        }

	        var attributes = {};
	        attributes.id = "player-swf";
	        attributes.name = "player-swf";
	        attributes.align = "top";
		
			var playerVersion = swfobject.getFlashPlayerVersion();
			var swfUrl = playerVersion.major &lt; 11 
				? "#{SceneController.playerSwfUrlFlash10}"
				: "#{SceneController.playerSwfUrl}?r=asdf";
	        
	        swfobject.embedSWF(
                swfUrl,
                "player-div",
                "100%", "100%",
                swfVersionStr, 
                xiSwfUrlStr,
                flashvars, 
                params, 
                attributes
	        );
		}

		function getWindowHeight()
		{
			var winW = 630, winH = 460;
			if (document.body &amp;&amp; document.body.offsetWidth) {
			 winW = document.body.offsetWidth;
			 winH = document.body.offsetHeight;
			}
			if (document.compatMode=='CSS1Compat' &amp;&amp;
			    document.documentElement &amp;&amp;
			    document.documentElement.offsetWidth ) {
			 winW = document.documentElement.offsetWidth;
			 winH = document.documentElement.offsetHeight;
			}
			if (window.innerWidth &amp;&amp; window.innerHeight) {
			 winW = window.innerWidth;
			 winH = window.innerHeight;
			}
			
			return winH;
		}

		var fadeEffect=function(){
			return{
				init:function(id, flag, target){
					this.elem = document.getElementById(id);
					clearInterval(this.elem.si);
					this.target = target ? target : flag ? 100 : 0;
					this.flag = flag || -1;
					this.alpha = this.elem.style.opacity ? parseFloat(this.elem.style.opacity) * 100 : 0;
					this.si = setInterval(function(){fadeEffect.tween()}, 20);
				},
				tween:function(){
					if(this.alpha == this.target){
						clearInterval(this.si);
					}else{
						var value = Math.round(this.alpha + ((this.target - this.alpha) * .05)) + (1 * this.flag);
						this.elem.style.opacity = value / 100;
						this.elem.style.filter = 'alpha(opacity=' + value + ')';
						this.alpha = value
					}
				}
			}
		}();

		var currpercent = 0;
		var timeout;
		
		function showProgress(percent, endfunction)
		{
			currpercent += 0.02;
			
			document.getElementById("preloadtext").innerHTML = (percent *100)+"% loaded";
			var track = document.getElementById("preloadtrack");
			var bar = document.getElementById("preloadbar");
			var curr_width = parseInt(track.style.width);
			
			bar.style.width = (200 * currpercent) + "px";

			if(currpercent &lt; percent)
				timeout = setTimeout("showProgress("+percent+", "+endfunction+");", 20);

			else if(endfunction != null)
				endfunction();
		}
		
	    function showFlash()
	    {
	    	clearTimeout(timeout);
			
	    	showProgress(1, setSwfVisible);
	    }
	    
	    function setSwfStage(stage)
	    {
	    	switch(stage)
	    	{
	    		case STAGE_SWF_LOADED:
	    			showProgress(0.5);
	    			break;
	    			
	    		case STAGE_GUIDE_LOADED:
	    			showProgress(0.7);
	    			break;
	    			
	    		case STAGE_SCENE_LOADED:
	    			showFlash();
	    			break;
	    	}
	    }

	    function setSwfVisible()
	    {
			document.getElementById("preview").className = "preview-hidden";
			//document.getElementById("player-div").className = "flash-visible";
			
	    	//document.getElementById("player-swf").width = "100%;";
	    	//document.getElementById("player-swf").height = "100%;";
	    }
	    
	    function trackSceneView(sceneId)
	    {
	    	_gaq.push(['_trackPageview', '/s'+sceneId]);
	    }
	    
	    function trackEvent(category, action, label)
	    {
	    	_gaq.push(['_trackEvent', category, action, label]);
	    }
    
        function shareOnFaceBook(url)
        {
            var t = document.title;
            window.open(
            	'http://www.facebook.com/sharer.php?u=' + encodeURIComponent(url) + '&amp;t=' + encodeURIComponent(t), 
            	'sharer', 
            	'toolbar=0,status=0,width=626,height=436'
            );
        }
        
        function openLikeFacebookWindow(url)
        {
			window.open(
				'http://www.facebook.com/plugins/like.php?href=' + encodeURIComponent(url), 
				'like', 
				'toolbar=0,status=0,width=450,height=80'
			);
        }

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{buildProperties.gaCode}']);
        _gaq.push(['_trackPageview', '#{SceneController.scenePath}']);
        
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
	<div id="preview" class="preview-visible" >
        <img id="preloadthumb" onload="onThumbLoaded()" src="#{buildProperties.cdnUrl}/#{SceneController.scene.thumbName}" />
        <div id="preloader">
       		<div id="preloadtext">this is some text</div> 
        	<div id="preloadtrack"><div id="preloadbar"></div></div>
        </div>
        <div id="itunes-button">
       		Find the Beek app in the itunes store
        </div>
        <div id="play-button">
       		<a href="Javascript:onPlayButtonClick()">Play</a>
        </div>
    </div>
    <div id="player-div" class="flash-hidden">
        <p>
            To view this page ensure that Adobe Flash Player version
            10.2.0 or greater is installed.
        </p>
        <script type="text/javascript">
            var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
            document.write(unescape("%3Ca href='http://www.adobe.com/go/getflashplayer'%3E%3Cimg src='" + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player'/%3E"));
        </script>
    </div>
    <script type="text/javascript">
	if(isIOSBrowser())
			navigateToHTML5Version();

		else if(doesNotHaveFlash())
			navigateToHTML5Version();
			
		else if(isMobileBrowser())
			navigateToHTML5Version();
			
		else
			preloadFlash();
    </script>
</body>
</html>
