/**
 * Roundable Documentation CSS
 */

/*.stage {
	width: 600px;
	height: 406px;
}
 */
 
 	/*.roundabout-example .stage {
		padding: .4em;
	}
	 */

.roundabout-example {}

.roundabout-example ul {
	list-style: none;
	width: 40%;
	margin: 0 auto;
	height: 437px;
}

.roundabout-moveable-item {
	width: 573px;
	height: 437px;
	cursor: pointer;
	overflow: hidden;

}

.roundabout-in-focus { 
	  cursor: auto; 
}



