/* css by tobias bæck & johan bakken 2011 */

::-moz-selection{

	color: #00AEEF;
	text-shadow: none;
}
::selection {

	color: #00AEEF;
	text-shadow: none;
}
html {
	-webkit-font-smoothing: antialiased;
}
body {
	transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	font: 87.5%/1.571 'Maven Pro', sans-serif;
	font-style: normal;
	font-weight: 300;
	line-height: 1.5;
	color: #343434;
	background-color: #F4F4F4;
	background-image: url(../images/body.png);
	background-repeat: repeat;
}
@-webkit-keyframes reset {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
#main {
	-webkit-animation-name: reset, fade-in;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-iteration-count: 1;
}
/* font sizes */
nav {
	font-size: 90%;
}
ul, p, h4 {
	font-size: 110%;
}
h1 {
	font-size: 280%;
	line-height: 1.2;
}
h2 {
	font-size: 220%;
	line-height: 1.2;
}
h3 {
	font-size: 160%;
	line-height: 1.2;
}
#services h3 {
	font-size: 140%
}
.fivecol p {
	font-size: 150%;
}
/* helpers */
.clear {
	clear: both;
	height: 1px;
}
.padding {
	margin: 0;
	padding: 40px;
	border: 0;
}
.top {
	padding-top: 120px;
}

.push-top {
	padding-top: 80px;
}

.push-down {
	padding-bottom: 2em;
}


#logo {
	position: absolute;
	float: left;
	width: 230px;
	height: 100px;
	left: 0px;
	margin-top: 0px;
	z-index: 101;
}
#logo a {
	background: url(../logo.png) 50% 50% no-repeat;
	display: block;
	width: 230px;
	height: 100px;
	-o-transition: all .2s ease;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	transition: all .2s ease;
	overflow: hidden;
	text-indent: -1000px;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
#logo a:hover {
	background: url(../logo_over.png) 50% 50% no-repeat;
}
.column {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	-webkit-column-rule: 1px solid #d6d6d6;
	-moz-column-rule: 1px solid #d6d6d6;
	column-rule: 1px solid #d6d6d6;
	-webkit-column-gap: 5em;
	-moz-column-gap: 5em;
	column-gap: 5em;
	padding-bottom: 1em;
}
nav {
	line-height: 16px;
	margin-top: 38px;
	text-transform: uppercase;
	font-family: 'Maven Pro', sans-serif;
	font-style: normal;
	font-weight: 800;
}
nav ul {
	position: relative;
	text-align: center;
}
nav li {
	display: inline-block;
	float: right;
}
nav li a {
	margin-right: 10px;
	padding: .3em .8em;
	color: #404041;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
nav li a.active,
nav li:hover a {
	background-color: #00AEEF;
	color: #dedede;
}
nav .left {
	display: none;
}
ul.who{
	list-style-type: circle;
	list-style-position: outside;
	margin: 0.5em 0 0 1.2em;
	padding-bottom: 0.4em;
	list-style-image: none;
	line-height: 1.3;
}
ul.who li {
	color: #343434;
	margin-bottom: 0.3em;
}
h1 {
	font-weight: 600;
	margin-bottom: 0.6em;
}
h2 {
	font-weight: 600;
	margin-bottom: 0.8em;
}
h3 {
	font-weight: bold;
	margin-bottom: 0.4em;
}
h4 {
	font-weight: normal;
	margin-bottom: 0.4em;
}
h2, h3, h4 {
	font-family: 'Maven Pro', sans-serif;
	font-style: normal;
	color: #404041;
}
p {
	margin-bottom: 1em;
}




#services h4 {
	padding: 2em 0 2em 0;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
hr.large {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
strong {
	font-weight: bold;
}
del {
	text-decoration: line-through;
	color: #666;
}
a {
	text-decoration: none;
	color: #00AEEF;
}
a:hover {
	text-decoration: none;
	color: #06C;
}
a:hover, a:active {
	outline: none;
}
p a {
	white-space: nowrap;
	padding-right: 4px;
    padding-left: 4px;
    margin: 0 -4px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}
figure {
	padding: 0;
	margin: 0 0 1em 0;
}



input, a span, a {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	margin-bottom: 0.5em;
}
input:focus {
	outline: none;
}
input#mce-EMAIL {
	font-family: 'Maven Pro', sans-serif;
	border: 2px solid rgba(211,211,211,0.8);
	background: transparent;
	padding: .5em 1em;
	width: 55%;
	font-size: 120%;
	color: #343434;
	border-radius: 5px;
	-moz-border-radius: 5px;
	height: 24px;
	vertical-align: middle;
	margin-right: 2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
}
input#mce-EMAIL:hover,
input#mce-EMAIL:focus {
	border-color: #00AEEF;
	color: #00AEEF;
	background-color: rgba(233,231,236,0);
}
input.btn {
	background: #343434;
	border: none;
	border-radius: 2px;
	-moz-border-radius: 2px;
	color: #dedede;
	padding: 0.8em 2em;
	vertical-align: middle;
	margin-right: 10px;
	font-family: 'Maven Pro', sans-serif;
	font-size: 100%;
	font-style: normal;
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-appearance: none;
}
input.btn:hover {
	cursor: pointer;
	color: #dedede;
	background: #3b80c2;
}



.facebook{
	background-image: url(../images/facebook.png);	
	height: 64px;
	width: 64px;
	float:left;
	margin-right: 10px;
}

.twitter{
	background-image: url(../images/twitter.png);	
	height: 64px;
	width: 64px;
	float:left;
	margin-right: 10px;
}

.linkedin{
	background-image: url(../images/linkedin.png);	
	height: 64px;
	width: 64px;
	float:left;
	margin-right: 10px;
}




get {
	line-height: 16px;
	margin-top: 10px;
	text-transform: uppercase;
	font-family: 'Maven Pro', sans-serif;
	font-style: normal;
	font-weight: 900;
	float:right;
}
get ul {
	position: relative;
	text-align: center;
	height: 30px;

}
get li {
	display: inline-block;
	float: right;
}
get li a {
	color: #fff;
	background-color: #000;
	margin-right: 10px;
	padding: .3em .8em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;	
}
get li a.active,
get li:hover a {
	background-color: #00AEEF;
	color: #CCCCCC;

}


/* 

device specific styles 

*/

/* >1024px */
@media (min-width: 1025px) {
	.fixed {
		position: fixed;
		z-index: 80;
		width: 100%;
		height: 50px;
	}
	nav .left {
		float: left;
		opacity: 0;
		margin-left: 10px;
		display: inherit;
	}
	nav .left a {
		color: #dedede;
		background: #343434;
	}
	.cracktop {
		position: fixed;
		width: 100%;
		z-index: 50;
	}
	.cracktop .overlay {
	width: 100%;
	height: 100px;
	background-color: #F4F4F4;
	background-image: url(../images/body.png);
	background-repeat: repeat;
	}
	.cracktop ul {
		max-width: 1210px;
		height: 9px;
		margin: 0 auto;
	}
	.cracktop li {
		opacity: 0.15;
	}
	.cracktop .left {
		float: left;
		width: 78px;
		height: 9px;
		background: url(../images/crack_left.png) 0 0 no-repeat;
	}
	.cracktop .right {
		float: right;
		width: 78px;
		height: 9px;
		background: url(../images/crack_right.png) 0 0 no-repeat;
	}
	.cracktop .middle {
		margin: 0 78px;
		background: url(../images/crack.png) 0 0 repeat-x;
		height: 9px;
		width: auto;
	}
}

/* <1024px */
@media (max-width: 1024px) {
	.container {
		font-size: 90%;
	}
	#services h3 {
		background-size: 33px 33px;
		padding: 1em 0 1em 43px
	}
	.top {
		padding-top: 100px;
	}
	h2, h3, h4 {
		margin-top: 1em;
	}
}

/* <780px */
@media (max-width: 779px) {
	img, object, embed {
		width: 100%;
	}
	.row, body, .container {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
		width: auto;
		float: none;
		margin-left: 0;
		margin-right: 0;
		padding-left: 20px;
		padding-right: 20px;
	}
	

	

	.column {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

/* ipad portrait */
@media (min-device-width: 768px) and (orientation:portrait) {
    #about .description .first {
		float: left;
		width: 42.5%;
	}
	#about .description .second {
		float: left;
		width: 42.5%;
	}
	#about .description .last {
		float: left;
		width: 42.5%;
	}
	
    #guide .description .first {
		float: left;
		width: 42.5%;
	}
	#guide  .description .second {
		float: left;
		width: 42.5%;
	}
	#guide  .description .last {
		float: left;
		width: 42.5%;
	}	
}

/* <570px */
@media (max-width: 570px) {
	.top {
		padding-top: 30px;
	}
	.fixed #logo {
	position: absolute;
	float: left;
	width: 80px;
	height: 74px;
	left: 20px;
	margin-top: 10px;
	z-index: 101;
	}
	
	.fixed #logo a {
	background:url(../logo_mobile.png);
	position: absolute;
	float: left;
	width: 80px;
	height: 74px;
	left: 0px;
	margin-top: 10px;
	z-index: 101;
	}
	.fixed #logo a:hover {
	background:url(../logo_mobile_over.png);

	}	
	nav, .black {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	nav li {
		float: right;
	}
	.padding {
		display: none;
	}

}

/* @iphone and <480px */
@media (max-width: 480px) {
	span.twitter {
		clear: both;
	}
}

/* iphone 4 and HD screens */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	.container {
		font-size: 55%;
	}
	nav li a {
		padding: .2em;
	}
	nav li a.active,
	nav li:hover a {
		color: #404041;
		background: none;
	}
	#logo a {
		background: #ec5f2e url("../logo2.png") 50% 50% no-repeat;
		-webkit-background-size: 165px 59px;
	}
	

	

