@charset "utf-8";

*                   	{ margin:0; padding:0; outline:none; }



.subscribe_info					{
	width:347px;
	position:absolute;
	height: 296px;
}
.subscribe_info_form					{
	width:268px;
	position:absolute;
	height: 296px;
	left: 480px;
	top: 1092px;
}
.subscribe_info_divider					{
	width:39px;
	position:absolute;
	height: 296px;
	background-image: url(../images/contact_divider.png);
	background-repeat: no-repeat;
	left: 352px;
	top: 1px;
}

form fieldset					{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0px 0px 20px 0px;
	border:0;
	display:block;
	padding: 0px 10px 8px;
	position:absolute;
	height: 340px;
	width:238px;
	left: 485px;

}

form fieldset legend	{
	border-width:1px;
	border-style:solid;
	border-color:#BBBB66;
	color:#000;
	font-weight:bold;
	font-variant:small-caps;
	font-size:140%;
	padding:4px 8px;
	margin:0px 0px 10px 0px;
	position:relative;
	top: -12px;
	background:white;
}
label									{
	font-size:90%;
	display:block;
	float:left;
	width:48px;
	text-align:right;
	margin:.2em .2em 0 0;
	color:#000;
	font-weight:bold;
	padding:8px 0px;
}
label.error           {
	font-weight:normal;
	color:red;
	text-align:left;
	width:126px;
	padding-left:25px;
	background: transparent url(/images/cancel.png) no-repeat scroll left;
}
input.text-input			{
	margin:4px;
	padding:2px 0;
	color:#000;
}

label#name_label      {
	position:absolute;
	top:30px;
	left:-6px;
}
input#name            {
	position:absolute;
	top:54px;
	left:-4px;
}
label#name_error      {
	position:absolute;
	top:76px;
	left:36px;
}

label#email_label     {
	position:absolute;
	top:75px;
	left:-8px;
}
input#email           {
	position:absolute;
	top:99px;
	left:-4px;
}
label#email_error      {
	position:absolute;
	top:121px;
	left:36px;
}

label#phone_label     {
	position:absolute;
	top:120px;
	left:-4px;
}
input#phone           {
	position:absolute;
	top:144px;
	left:-4px;
}
label#phone_error      {
	position:absolute;
	top:166px;
	left:36px;
}

label#your_message_label     {
	position:absolute;
	top:166px;
	left:1px;
}
input#your_message          {
	position:absolute;
	top:191px;
	left:-4px;
	height: 98px;
	width: 245px;
}
label#your_message_error      {
	position:absolute;
	top:287px;
	left:36px;
}

/*input.button					{
	position:absolute;
	top:140px;
	left:434px;
	padding:3px 6px;
	border:2px solid #fff;
	margin:20px 0px 0px 0px;
	color:#3D7169;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	background:#CCC;
	-moz-border-radius:5px;
}

input.button:hover		{ background:#009FAA none repeat scroll 0% 0%; color:white; }*/


#message					    {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0px 0px 20px 0px;
	position:absolute;
	border:0;
	display:block;
	padding: 0px 10px 8px;
	left: 394px;
	top: 8px;
	height: 153px;
	width:359px;
}
#message h2						{
	font-size:18px;
	color:#29aae3;
}
#message p						{
	color:#29aae3;
	font-weight:bold;
	margin:6px 0px;
}
#checkmark						{ position:relative;top:-46px;left:-60px; }
