/*
    LEANORAMA - jQuery Plugin for displaying and navigating panoramic images.
    Guide Extension - dispalys navigation guide for Beek scenes

    Version 0.1.0
    -------------
    Copyright 2013 Leandigo (www.leandigo.com). All rights reserved.
    Use is subject to terms.

*/

.leanorama-beek-guide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 20rem;
    background: #fff;
    border-right: 3px solid #31C6FF;

    -webkit-transition: all 0.3s ease 0;
       -moz-transition: all 0.3s ease 0;
         -o-transition: all 0.3s ease 0;
            transition: all 0.3s ease 0;
}

.leanorama-beek-guide-hidden {
    left: -19.8rem;
}

.leanorama-beek-guide-toggle-open {
    left: 19.8rem;
}

.leanorama-beek-guide-toggle {
    position:   absolute;
    bottom:     50%;
    height:     6rem;
	padding:	0;
    width:      2.7rem;
    background: #fff;
    border-right: 3px solid #31C6FF;
	border-top: 3px solid #31C6FF;
	border-bottom: 3px solid #31C6FF;
	border-bottom-right-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	z-index:1002;
	
	
	-webkit-transition: all 0.3s ease 0;
   -moz-transition: all 0.3s ease 0;
	 -o-transition: all 0.3s ease 0;
		transition: all 0.3s ease 0;
}


.leanorama-beek-guide-toggle-arrow-right {
	width: 0; 
	height: 0; 
	position:   absolute;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent; 
	border-left:30px solid #31C6FF; 
	z-index:1003;
	bottom:     1.8rem;
	left:     0.1rem;
}

.leanorama-beek-guide-toggle-arrow-left {
border-right:30px solid #31C6FF; 
border-left:0px solid #31C6FF; 
left:     0.1rem;
}


.leanorama-beek-guide-wrapper {
    padding:        1rem 1rem 1rem 1.5rem;
    font-family:    Helvetica, Arial,Verdana, sans-serif !important;
}

.leanorama-beek-guide-page {
    z-index:    1001;

    -webkit-transition: all 2s ease 0;
       -moz-transition: all 2s ease 0;
         -o-transition: all 2s ease 0;
            transition: all 2s ease 0;
}
/* header font */
.leanorama-beek-guide-page h2 {
    color:          #898989; 
    font-size:      1.5rem; 
    font-weight:    normal;
	margin-top:     3rem;
	padding:     	0;
	
}
/* body font */
.leanorama-beek-guide-page p {
    font-size:      1rem; 
    font-weight:    normal;
    color:          #636363;
	
}

.leanorama-beek-guide-page ul {
    margin-top:     3rem;
}

.leanorama-beek-guide-page ul li {
    font-size:          1rem; 
    font-weight:        normal;
    text-decoration:    underline;
    color:              #31C6FF;
    margin-bottom:      1rem;
}

.leanorama-beek-guide-close, .leanorama-beek-guide-back, .leanorama-beek-guide-home {
    position:   absolute;
    top: 1rem;
}

.leanorama-beek-guide-close {
    right:  1rem;
    height: 3rem;
    width:  3rem;
    z-index: 10000;
}

.leanorama-beek-guide-close-left, .leanorama-beek-guide-close-right {
    position:   absolute;
    bottom:     1rem;
    height:     2px;
    width:      1rem;
    background-color: #31C6FF;
    border-radius: 5px;
}

.leanorama-beek-guide-close-left {
    -webkit-transform: rotate(-45deg);
}

.leanorama-beek-guide-close-right {
    -webkit-transform: rotate(45deg);
}

.leanorama-beek-guide-back, .leanorama-beek-guide-home {
    height:          1 rem;
    font-family:     Helvetica, Arial,Verdana, sans-serif;
    font-size:       1rem;  
    padding-left:    2rem;
    margin-top:   	 0.3rem;
    line-height:     1.8rem;
    color:           #31C6FF;
    background-size: contain;
}

.leanorama-beek-guide-back {
    left:               1rem;
    background-image:   url('../img/back_btn.svg');
    background-repeat:  no-repeat;
}

.leanorama-beek-guide-home {
    right:               1rem;
    background-image:   url('../img/home_btn.svg');
    background-repeat:  no-repeat;
}

.leanorama-beek-guide-page ul li:hover,
.leanorama-beek-guide-toggle:hover,
.leanorama-beek-guide-close:hover,
.leanorama-beek-guide-back:hover,
.leanorama-beek-guide-home:hover {
    cursor: pointer;
}