.leanorama-hotspot-bubble {
    pointer-events: auto;
    width: 2px;
    height: 2px;
    background: none;
    /*border: 5px solid blue;*/
    margin:     0;
    padding:    0;
    display:    block;
    position:   relative;
    /*-webkit-backface-visibility: visible;*/
}


.leanorama-bubbles-cube {
    pointer-events:             none;
    background:                 none;
    width:                      512px;
    height:                     512px;
    position:                   absolute;
    opacity:                    1;
    filter:                     alpha(opacity=100);
    -webkit-transform-style:    preserve-3d;
    transform-style:            preserve-3d;
    -webkit-backface-visibility:    hidden;
    -webkit-transition: 0ms ease-in-out;
       -moz-transition: 0ms ease-in-out;
         -o-transition: 0ms ease-in-out;
            transition: 0ms ease-in-out;
    -webkit-transform: translateX(256px) translateY(256px);
}

.leanorama-bubbles-cube .popover{
    pointer-events: none;
    white-space:    nowrap;
    opacity:        .8;
    z-index:        101900;
}

.leanorama-bubbles-cube .leanorama-side {
    pointer-events: none;
    z-index:    100;
    margin:     0;
    padding:    0;
    width:      512px;
    height:     512px;
    display:    block;
    position:   absolute;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    background: url('http://gms.beektest.co/resources/img/fabric.png');
    -webkit-backface-visibility:    hidden;
}

.leanorama-bubbles-cube .leanorama-side-front {
    -webkit-transform: rotateY(270deg) translateZ(-256px);
       -moz-transform: rotateY(270deg) translateZ(-256px);
        -ms-transform: rotateY(270deg) translateZ(-256px);
         -o-transform: rotateY(270deg) translateZ(-256px);
            transform: rotateY(270deg) translateZ(-256px);
}

.leanorama-bubbles-cube .leanorama-side-back {
    -webkit-transform: rotateY(90deg) translateZ(-256px);
       -moz-transform: rotateY(90deg) translateZ(-256px);
        -ms-transform: rotateY(90deg) translateZ(-256px);
         -o-transform: rotateY(90deg) translateZ(-256px);
            transform: rotateY(90deg) translateZ(-256px);
}

.leanorama-bubbles-cube .leanorama-side-right {
    -webkit-transform: rotateY(0deg) translateZ(-256px);
       -moz-transform: rotateY(0deg) translateZ(-256px);
        -ms-transform: rotateY(0deg) translateZ(-256px);
         -o-transform: rotateY(0deg) translateZ(-256px);
            transform: rotateY(0deg) translateZ(-256px);
}

.leanorama-bubbles-cube .leanorama-side-left {
    -webkit-transform: rotateY(180deg) translateZ(-256px);
       -moz-transform: rotateY(180deg) translateZ(-256px);
        -ms-transform: rotateY(180deg) translateZ(-256px);
         -o-transform: rotateY(180deg) translateZ(-256px);
            transform: rotateY(180deg) translateZ(-256px);
}

.leanorama-bubbles-cube .leanorama-side-top {
    -webkit-transform: rotateX(-90deg) rotateZ(-90deg) translateZ(-256px);
       -moz-transform: rotateX(-90deg) rotateZ(-90deg) translateZ(-256px);
        -ms-transform: rotateX(-90deg) rotateZ(-90deg) translateZ(-256px);
         -o-transform: rotateX(-90deg) rotateZ(-90deg) translateZ(-256px);
            transform: rotateX(-90deg) rotateZ(-90deg) translateZ(-256px);
}

.leanorama-bubbles-cube .leanorama-side-bottom {
    -webkit-transform: rotateX(90deg) rotateZ(90deg) translateZ(-256px);
       -moz-transform: rotateX(90deg) rotateZ(90deg) translateZ(-256px);
        -ms-transform: rotateX(90deg) rotateZ(90deg) translateZ(-256px);
         -o-transform: rotateX(90deg) rotateZ(90deg) translateZ(-256px);
            transform: rotateX(90deg) rotateZ(90deg) translateZ(-256px);
}
