/*
    LEANORAMA - jQuery Plugin for displaying and navigating panoramic images.
    Guide Extension - dispalys navigation guide for Beek scenes

    Version 0.1.0
    -------------
    Copyright 2013 Leandigo (www.leandigo.com). All rights reserved.
    Use is subject to terms.

*/

.leanorama-beek-guide {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30rem;
    background: #fff;
    border-right: 3px solid #31C6FF;

    -webkit-transition: all 0.3s ease 0;
       -moz-transition: all 0.3s ease 0;
         -o-transition: all 0.3s ease 0;
            transition: all 0.3s ease 0;
}

.leanorama-beek-guide-hidden {
    left: -30rem;
}

.leanorama-beek-guide-toggle {
    position:   absolute;
    left:       1rem;
    bottom:     1rem;
    height:     4rem;
    width:      5rem;
    border-radius: 2px;
    background: #31C6FF url('../img/menu_btn.svg') no-repeat;
    background-size: 100% 100%;
}

.leanorama-beek-guide-wrapper {
    padding:        1rem 1rem 1rem 1.5rem;
    font-family:    Verdana, sans-serif !important;
}

.leanorama-beek-guide-page {
    z-index:    1001;

    -webkit-transition: all 2s ease 0;
       -moz-transition: all 2s ease 0;
         -o-transition: all 2s ease 0;
            transition: all 2s ease 0;
}

.leanorama-beek-guide-page h2 {
    color:          #898989;
    font-size:      2rem;
    font-weight:    normal;
}

.leanorama-beek-guide-page p {
    font-size:      1.2rem;
    font-weight:    normal;
    color:          #636363;
}

.leanorama-beek-guide-page ul {
    margin-top:     4rem;
}

.leanorama-beek-guide-page ul li {
    font-size:          1.4rem;
    font-weight:        normal;
    text-decoration:    underline;
    color:              #31C6FF;
    margin-bottom:      1rem;
}

.leanorama-beek-guide-close, .leanorama-beek-guide-back, .leanorama-beek-guide-home {
    position:   absolute;
    bottom: 1rem;
}

.leanorama-beek-guide-close {
    right:  1rem;
    height: 3rem;
    width:  3rem;
    z-index: 10000;
}

.leanorama-beek-guide-close-left, .leanorama-beek-guide-close-right {
    position:   absolute;
    bottom:     1rem;
    height:     5px;
    width:      3rem;
    background-color: #31C6FF;
    border-radius: 5px;
}

.leanorama-beek-guide-close-left {
    -webkit-transform: rotate(-45deg);
}

.leanorama-beek-guide-close-right {
    -webkit-transform: rotate(45deg);
}

.leanorama-beek-guide-back, .leanorama-beek-guide-home {
    height:          1.8rem;
    font-family:     Verdana, sans-serif;
    font-size:       2.5rem;
    padding-left:    2rem;
    margin-bottom:   0.3rem;
    line-height:     1.8rem;
    color:           #31C6FF;
    background-size: contain;
}

.leanorama-beek-guide-back {
    left:               1rem;
    background-image:   url('../img/back_btn.svg');
    background-repeat:  no-repeat;
}

.leanorama-beek-guide-home {
    left:               12rem;
    background-image:   url('../img/home_btn.svg');
    background-repeat:  no-repeat;
}

.leanorama-beek-guide-page ul li:hover,
.leanorama-beek-guide-toggle:hover,
.leanorama-beek-guide-close:hover,
.leanorama-beek-guide-back:hover,
.leanorama-beek-guide-home:hover {
    cursor: pointer;
}