<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="newtemplate.xhtml">
    <ui:define name="checkurl">
        <f:metadata>
            <f:event listener="#{AdminDashboardController.preRenderView}"
                    type="preRenderView"/>
        </f:metadata>

	    <style type="text/css">
	    
	    .box
	    {
	    border: 1px solid;
	    border-radius:25px;
	    float: left;
	    width: 30%;
	    margin: 1% 1%;
	    text-align: center;
	    height: 300px;
	    margin-bottom: 50px;
	    cursor: pointer;
	    
	    }
	    
	    .intro
	    {
	    text-align: left;
	    font-size: 18px;
	    font-weight: 300
	    }
	    
	    
	    
	    </style>
	    
	</ui:define>

    <ui:define name="content">
    
    <div class="box" onclick="location.href='location/dashboard'">
    	<h1>Locations</h1>
    	<img src="../resources/images/location.png"/>
    	<br/><br/>
    	<span class="intro">Locations are where you create <br/>  scenes and upload panoramas</span>
    
    </div>
    <div class="box" onclick="location.href='guide/dashboard'">
    	<h1>Guides</h1>
    	<img src="../resources/images/guide.png"/>
    		<br/><br/>
    	<span class="intro">Use Guides to link locations and  <br/> create experiences for your audience</span>
    
    
    </div>
    <div class="box" onclick="location.href='lead/list'">
    	<h1>Leads</h1>
    	<img src="../resources/images/leads1.png"/>
    		<br/><br/>
    	<span class="intro">Enter your Leads, create campaigns <br/> and track activity to manage sales</span>
    
   	
   	</div>
    
    
		<div id="welcomeMessage">
		<img src="http://beek.co/images/logo.png" style="Float : left"/>
		<span style="font-size: 24px; font-family: 'Helvetica', Arial; line-height:150%"><b> Welcome to the Beek administration system. Here you can access the tools to create beautiful guided walkthroughs and interactive experiences for your audiences using panoramas, video and sounds.</b> </span>

		<br/><br/><br/><br/>
		<span style="font-size: 14px; font-family: 'Helvetica', Arial; line-height:150%"> 
		<b>Beek is a way of connecting people with places.</b>  It’s a tool to show people around, help them get to know a place and make them aware of the benefits of a place they’re considering going.  Beek works by linking together panoramic images and videos to tell a story with a guide book, providing a reference and flow to the experience. 
		
		Beek can be used by photographers, editors and their customers as sales, training and marketing tools.<br/><br/>
		
		<b>Beek is based on panoramic scenes, that are grouped into <i>locations</i> and then added to <i>guides</i> to help audiences explore and experience a place. To upload your spherical panoramas, first create a location.</b>
		 <br/><br/>
		 <li><b>Photographers</b> can upload their panoramas for free and add navigational hotspots and media such as photos, video, sounds and posters. </li>
		 <li><b>Guide Editors </b>can then use those panoramas to create stories about a place or experience, using the guides to build presentations, link many scenes together and create a directory to help their audience explore. </li>
		
		<li><b>Businesses or organisations </b>can have their scenes presented in guides that are distributed to appropriate and targeted audiences.  They can include visual information and important details with calls to action increase audience understanding and conversion.</li>
		<br/><br/>
		 You can download the Beek App (<a href="https://itunes.apple.com/us/app/beek/id638991514" target="_blank">iOS</a>, <a href="https://play.google.com/store/apps/details?id=air.co.beek.app" target="_blank">Android</a> or <a href="http://beek.co/downloads/windows.zip" target="_blank">Windows Desktop</a>) to your mobile device or desktop, and download guides to take with you offline for sales presentations, trade shows and meetings.
		<br/><br/>
		You can invite others to edit your locations or guides, view reports and track individual users as they use Beek to understand their interests and needs better.  
		<br/><br/>
		If you need help, please submit a question at <a href="support.beek.co">support.beek.co</a> or email <a href="mailto:support@beek.co">support@beek.co</a>
		</span>
		</div>   


        



    </ui:define>
    
</ui:composition>

