<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="template.xhtml">
    <ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{loginController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>
	</ui:define>
    <ui:define name="content">
    	<script type="text/javascript">
	    		var path = window.location.pathname;
	    		if(path.indexOf("login.jsf") > 0)
	    			window.location.href = "/";
	    	
	    	$(document).ready(function () {
		    	$('input[name=formView]').change(
	                function(){
				    	showTable();
	                }
	            );
	            showTable();
			});
			
			function showTable()
			{
				var myRadio = $('input[name=formView]');	
				var checkedValue = myRadio.filter(':checked').val();
				if(checkedValue == "showLogin")
                {
                    $("#loginTable").show(); 
                    $("#retrievePasswordTable").hide();
                }
                else
                {
                    $("#loginTable").hide(); 
                    $("#retrievePasswordTable").show();
                } 
			}
		</script>
        <center>
        	<p:growl id="info" showDetail="true" autoUpdate="true"/>
        	<br/>
            <h:form prependId="false">
                <p:panel id="panel" header="Login" style="width:350px;margin-bottom:10px;">
                    <p:focus context="panel"/>
                    <p:messages/>
                    <label for="showLoginRadio">Login</label> <input id="showLoginRadio" type="radio" name="formView" value="showLogin" checked="true"  />
                    <label for="retrievePasswordRadio">Retrieve Password</label> <input id="retrievePasswordRadio"  type="radio" name="formView" value="showForgotPassword"  />
                    <table cellspacing="7" id="loginTable">
                        <tr>
                            <td><b><h:outputText value="Email Address: "/></b></td>
                        </tr>
                        <tr>
                            <td><p:inputText id="username" size="30"
                                             value="#{loginController.username}"/>
                            </td>
                        </tr>
                        <tr>
                            <td><b><h:outputText value="Password: "/></b></td>
                        </tr>
                        <tr>
                            <td><p:password id="password" minLength="1" size="30" feedback="false"
                                            value="#{loginController.password}"/><br/></td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <p:commandButton value="Login" ajax="true" 
                                        action="#{loginController.login()}"/>
                                </center>
                            </td>
                        </tr>
                    </table>
                    <table cellspacing="7" id="retrievePasswordTable">
                        <tr>
                            <td><b><h:outputText value="Username: "/></b></td>
                        </tr>
                        <tr>
                            <td><p:inputText size="30"
                                             value="#{loginController.passwordRequestUsername}"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <center>
                                    <p:commandButton value="RETRIEVE PASSWORD" ajax="true" 
                                        action="#{loginController.retrievePassword()}"/>
                                </center>
                            </td>
                        </tr>
                    </table>
                </p:panel>
            </h:form>
        </center>
	
	 <script type="text/javascript">
		if (!swfobject.hasFlashPlayerVersion("10.2")) {
			var playerVersion = swfobject.getFlashPlayerVersion();
			alert("You are running flash verion: "+playerVersion['major']+"."+playerVersion['minor']+"\r\n Please download a more recent flash version" );
		}
	</script>
    </ui:define>
</ui:composition>