<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Beek Admin Console</title>
    <h:outputStylesheet library="css" name="style.css"/>
    <ui:insert name="gmap"/>
    <ui:insert name="script"/>
    <ui:insert name="checkAccess">
        <f:metadata>
            <f:event listener="#{TemplateController.isLoggedIn()}" type="preRenderView"/>
        </f:metadata>
    </ui:insert>
    <ui:insert name="checkurl"/>
</h:head>

<h:body>
    <div class="ui-widget ui-widget-header" style="height:40px;">
        <div style="float:right;margin-top:5px;margin-right:20px;">
        	<ui:fragment rendered='#{TemplateController.isLoggedIn()}'>
        	<h:form prependId="false">
	        	<p:commandButton value="Info" style="width:50px;"
	                  action="#{TemplateController.viewInfo}"/>
	            <p:spacer style="width:5px;" />
	        	<p:commandButton value="Logout" style="width:100px;"
	                  action="#{TemplateController.logout}"/>
            </h:form>
            </ui:fragment>
        </div>
        <div style="margin-left:20px;">
            <h3><a href="/">Beek Admin Console v #{buildProperties.svnRevision}</a></h3>
        </div>
    </div>

    <div>
        <div id="pagetitle" align="left">
            <ui:insert name="pagetitle"/>
        </div>
    </div>

    <div id="content" style="width:900px; margin-left:auto; margin-right:auto; margin-top:20px;">
        <ui:insert name="content">Content</ui:insert>
    </div>

    <div id="footer">
        <ui:insert name="footer" />
    </div>
</h:body>
</html>