body img{border:none;-ms-interpolation-mode:bicubic;}

.jScrollPaneContainer{position:relative;overflow:hidden;}
.jScrollPaneTrack{position:absolute;cursor:pointer;right:0;top:0;height:100%;}
.jScrollPaneDrag{position:absolute;cursor:pointer;overflow:hidden;}
.jScrollPaneDragTop{position:absolute;top:0;left:0;overflow:hidden;}
.jScrollPaneDragBottom{position:absolute;bottom:0;left:0;overflow:hidden;}
