/*CSS Sprite Menu */

ul#menu{
	margin:0;
	padding:0;
	list-style:none;
	clear:both;
}

#menu li{
	
	overflow:hidden; 
	display:inline; 
	float:left; 
	margin-right:10px;

	
}

#menu li a{
	width:100%;
	height:100%;
	display:block;
	background-image: url(../images/nav_btns.png);
	background-repeat: no-repeat;
}


/* Home Button */

.home_lable{
	width:88px;
	height:40px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	padding: 4px;
}
#menu li.home{
	width:88px;
	height:40px;
}

#menu li.home a{
	background-position:-97px -6px;
	color: #FFF;
	text-indent:24px;
	font-size: 14px;
	padding-top:8px;
	font-weight: bold;
	text-decoration: none;
}

#menu li.home a:hover{
	background-position:-97px -46px;
	color: #000;
	text-indent:24px;
	font-size: 14px;
	padding-top:8px;
	font-weight: bold;
	text-decoration: none;	
}

#menu li.home a.selected{
	background-position:-97px -91px;
	color: #000;
	text-indent:24px;
	font-size: 14px;
	padding-top:8px;
	font-weight: bold;
	text-decoration: none;	
}

/* About Button */

.about_lable{
	width:88px;
	height:40px;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
	padding: 4px;
}
#menu li.about{
	width:88px;
	height:40px;
}

#menu li.about a{
	background-position:-97px -6px;
	color: #FFF;
	text-indent:24px;
	font-size: 14px;
	padding-top:8px;
	font-weight: bold;
	text-decoration: none;
}

#menu li.about a:hover{
	background-position:-97px -46px;
	color: #000;
	text-indent:24px;
	font-size: 14px;
	padding-top:8px;
	font-weight: bold;
	text-decoration: none;	
}

#menu li.about a.selected{
	background-position:-97px -91px;
	color: #000;
	text-indent:24px;
	font-size: 14px;
	padding-top:8px;
	font-weight: bold;
	text-decoration: none;	
}



/* Partners Button */

#menu li.partners{
	
	width:88px;
	height:40px;
	
	
}

#menu li.partners a{
	background-position:-97px -6px;
	color: #FFF;
	text-indent:11px;
	font-size: 14px;
	padding-top:8px;
	font-weight: bold;
	text-decoration: none;	
}

#menu li.partners a:hover{
	
	background-position:-97px -46px;
	color: #000;
	text-indent:11px;
	font-size: 14px;
	padding-top:8px;
	font-weight: bold;
	text-decoration: none;		
	

}

#menu li.partners a.selected{
	
	background-position:-97px -92px;
	color: #000;
	text-indent:11px;
	font-size: 14px;
	padding-top:8px;
	font-weight: bold;
	text-decoration: none;		
	
}

/* Media Button */

#menu li.media{
	
	width:88px;
	height:40px;

}
#menu li.media a{
	background-position:-97px -6px;
	color: #FFF;
	text-indent:21px;
	font-size: 14px;
	padding-top:8px;
	font-weight: bold;
	text-decoration: none;
}

#menu li.media a:hover{
	
	background-position:-97px -46px;
	color: #000;
	text-indent:21px;
	font-size: 14px;
	padding-top:8px;
	font-weight: bold;
	text-decoration: none;	
}

#menu li.media a.selected{
	
	background-position:-97px -92px;
	color: #000;
	text-indent:21px;
	font-size: 14px;
	padding-top:8px;
	font-weight: bold;
	text-decoration: none;		
}

/* Help Button */

#menu li.help{
	
	width:88px;
	height:40px;
	
}

#menu li.help a{
	background-position:-97px -6px;
	color: #FFF;
	text-indent:27px;
	font-size: 14px;
	padding-top:8px;
	font-weight: bold;
	text-decoration: none;
}

#menu li.help a:hover{
	
	background-position:-97px -46px;
	color: #000;
	text-indent:27px;
	font-size: 14px;
	padding-top:8px;
	font-weight: bold;
	text-decoration: none;	
}

#menu li.help a.selected{
	
	background-position:-97px -92px;
	color: #000;
	text-indent:27px;
	font-size: 14px;
	padding-top:8px;
	font-weight: bold;
	text-decoration: none;	
}

/*Get Button */

#menu li.get{
	width:123px;
	height:40px;
}

#menu li.get a{
	background-position:-379px -6px;
	color: #FFF;
	text-indent:8px;
	font-size: 12px;
	padding-top:11px;
	font-weight: bold;
	text-decoration: none;
}

#menu li.get a:hover{
	
	background-position:-379px -46px;
	color: #000;
	text-indent:8px;
	font-size: 12px;
	padding-top:11px;
	font-weight: bold;
	text-decoration: none;	
}

#menu li.get a.selected{
	
	background-position:-379px -92px;
	color: #000;
	text-indent:8px;
	font-size: 12px;
	padding-top:11px;
	font-weight: bold;
	text-decoration: none;	
}


/*------------------------------------------*/


/* Partners Button */

ul#partners{
	margin:0;
	padding:0;
	list-style:none;
	clear:both;
}

#partners li{
	overflow:hidden; 
	display:inline; 
	float:left; 
	margin-right:10px;

}

#partners li a{
	width:100%;
	height:100%;
	display:block;
	background-image: url(../images/side_nav_bg_up.png);
	background-repeat: no-repeat;
}

.partners_lable{
	width:177px;
	height:35px;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	padding: 4px;
} 
#partners li.partners{
	width:177px;
	height:35px;
}

#partners li.partners a{
	background-position:0px 0px;
	color: #000;
	text-indent:24px;
	font-size: 12px;
	padding-top:10px;
	font-weight: bold;
	text-decoration: none;
}

#partners li.partners a:hover{
	background-position:0px -70px;
	color: #FFF;
	text-indent:24px;
	font-size: 12px;
	padding-top:10px;
	font-weight: bold;
	text-decoration: none;
}

#partners li.partners a.selected{
	background-position:0px -35px;
	color: #FFF;
	text-indent:24px;
	font-size: 12px;
	padding-top:10px;
	font-weight: bold;
	text-decoration: none;
}
