<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../newtemplate.xhtml">

    <ui:define name="content">
        <h:head>
            <title>Guide Admin</title>

            <f:metadata>
                <f:event listener="#{GuideViewAdminController.preRenderView}" type="preRenderView"/>
            </f:metadata>
            <h:outputStylesheet library="css" name="style.css"/>
            <h:outputScript library="js" name="guide-admin.js"/>
            <h:outputScript library="js" name="uuid.js"/>
            <h:outputScript library="js" name="sidjs-0.1.js" />
            <h:outputScript library="js" name="three.min.js" />
            <h:outputScript library="js" name="ConvexGeometry.js" />
            <h:outputScript library="js" name="tween.min.js" />
            <h:outputScript library="js" name="admin/GuideAdmin.js" />
            <h:outputScript library="js" name="admin/DragControls.js" />
            <h:outputScript library="js" name="admin/SceneAdmin.js" />
            <h:outputScript library="js" name="admin/HotspotAdmin.js" />
            <h:outputScript library="js" name="admin/DragControls.js" />
            <h:outputScript library="js" name="beekjs/panovideo.js" />
            <h:outputScript library="js" name="beekjs/shaders/BrightnessContrastShader.js" />
            <h:outputScript library="js" name="beekjs/scene.js" />
            <h:outputScript library="js" name="beekjs/hotspots.js" />
            <h:outputScript library="js" name="beekjs/voiceover.js" />
            <h:outputScript library="js" name="beekjs/guide3D.js" />
            <h:outputScript library="js" name="beekjs/guide.js" />
            <h:outputScript library="js" name="beekjs/game.js" />
            <h:outputScript library="js" name="beekjs/scene.js" />
            <h:outputScript library="js" name="beekjs/FontAwesomeIcons.js" />
            <h:outputScript library="js" name="ion.rangeSlider.min.js" />
            <h:outputScript library="js" name="html2canvas.js" />
            <h:outputScript library="js" name="VRControls.js" />
            <h:outputScript library="js" name="VREffect.js" />
            <h:outputScript library="js" name="webvr-manager.js" />
            <h:outputScript library="js" name="webvr-polyfill.js" />
            <h:outputScript library="js" name="CubemapToEquirectangular.js" />
            <h:outputScript library="js" name="tincan-min.js" />
            <h:outputScript library="js" name="admin/ReportAdmin.js" />

            <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.7/wavesurfer.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.regions.min.js"></script>
            <h:outputStylesheet library="css" name="rangeslider/ion.rangeSlider.css"  />
            <h:outputStylesheet library="css" name="rangeslider/normalize.css"  />
            <h:outputStylesheet library="css" name="location.css"  />
            <h:outputStylesheet library="css" name="rangeslider/ion.rangeSlider.skinModern.css"  />
            <h:outputStylesheet library="font-awesome" name="css/font-awesome.css" />

            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />


            <script type="text/javascript">

                sceneId = '#{GuideViewAdminController.selectedGuideScene.getScene().getId()}';
                guideId = '#{GuideViewAdminController.selectedGuide.id}';

                $(function () {
                   // initGuideAdmin();
                    initTableNodeDragging();
                    initTreeNodeDragging();
                    initTreeNodeDropping();
                    var host ='#{request.serverName}' + ':9081';
                    loadGuide('#{GuideViewAdminController.selectedGuide.id}',undefined, host);
                    moveButtons();
                });

            </script>
            <style type="text/css">
                .ui-tabs .ui-tabs-panel{
                    padding:0px;
                }

                td[data-nodetype="child-guide-root-section"] > :first-child,
                td[data-nodetype="child-guide-section"]> :first-child,
                td[data-nodetype="child-guide-scene"]> :first-child{
                    background: lightcyan !important;
                }
            </style>
        </h:head>
        <h:body onload="
        addScrollingRegions();
        showRootTreeNodeChilds();">

            <p:layout fullPage="true" widgetVar="layout">


                <p:growl widgetVar="growl" id="gr" showDetail="true" sticky="false" />


                <p:layoutUnit position="west" header="Scenes" size="60%"  collapsible="true" >
                    <p:layout widgetVar="contents">
                        <p:layoutUnit position="west" header="Add Contents"  collapsible="true">
                            <p:tabView id="h" cache="true"  >
                                <p:tab title="Add Scenes">
                                    <p:layout>
                                        <p:layoutUnit size="50%" position="center" id="mapPanel">

                                            <h:form>
                                                <p:remoteCommand name="updateGuideTable" update="h:locationScenes" actionListener="#{GuideViewAdminController.onMarkerSelect}"/>
                                                <p:remoteCommand name="refreshScenesTable" update="h:locationScenes"/>


                                                <p:inputText id="searchTerm"  value="#{LocationDashboardController.searchTerm}" />
                                                <p:commandButton value="Search" icon="ui-icon-search"
                                                                 action="#{LocationDashboardController.searchButton()}" update="locations" />
                                                <p:commandButton value="Show all" icon="ui-icon-refresh"
                                                                 action="#{LocationDashboardController.showAllLocationsButton()}"/>
                                                <p:dataGrid id="locations"  layout="grid"
                                                            var="location" columns="1"
                                                            value="#{LocationDashboardController.mapLocations}">
                                                    <p:panel headerText="Locations"  >
                                                        <div class="location-row" id ="#{location.id}" >


                                                            <p:commandLink update="h:locationScenes" oncomplete="initTableNodeDragging();" actionListener="#{GuideViewAdminController.onLocationSelect(location.id)}">
                                                                <h:outputText value="#{location.title}"/><br/>
                                                                <h:graphicImage value="http://cdn.beek.co/#{location.getDefaultScene().thumbName}" width="100" height="100"/>
                                                                <f:setPropertyActionListener value="#{location}"  target="#{LocationDashboardController.location}" />
                                                            </p:commandLink>


                                                        </div>
                                                    </p:panel>
                                                </p:dataGrid>
                                            </h:form>
                                        </p:layoutUnit>
                                        <p:layoutUnit position="east" size="50%"  resizable="true">
                                            <p:dataGrid id="locationScenes"  columns="1" layout="grid"
                                                        var="scene"
                                                        value="#{LocationDashboardController.getLocationScenes()}">
                                                <p:panel headerText="Scenes"  style="width:100px" >
                                                    <div class="scene-row" id ="#{scene.id}" >
                                                        <h:outputText value="#{scene.title}"/><br/>
                                                        <h:graphicImage value="http://cdn.beek.co/#{scene.thumbName}" width="100" height="100"/>
                                                    </div>
                                                </p:panel>
                                            </p:dataGrid>
                                        </p:layoutUnit>
                                    </p:layout>
                                </p:tab>
                                <p:tab title="Add Guides">
                                    <h:form prependId="false">
                                        <h:panelGroup id="guideList" columns="1">
                                            <p:commandButton value="Search" style="margin-top: 5px; width:70px ;float: right;  position: relative" process="guideList" update="guideList" action="#{GuideDashboardController.searchButton('false')}"/>
                                            <p:inputText value="#{GuideDashboardController.searchTerm}" style="margin-top: 5px;width:200px;float: right; position: relative; margin-left : 20px"/>
                                            <p:dataGrid var="guide" value="#{GuideDashboardController.searchResults}" lazy="true" columns="3"
                                                        style="padding-top:40px " paginator="true" paginatorAlwaysVisible="false" rows="9" paginatorPosition="bottom"
                                                        paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}">
                                                <p:ajax event="page" oncomplete="initGuideNodeDragging();" process="@this"/>
                                                <p:panelGrid columns="1" styleClass="guide-item">
                                                    <f:facet name="header">
                                                        <p:graphicImage url="#{buildProperties.cdnUrl}/#{guide.getThumbName()}" width="150" height="150"/>
                                                    </f:facet>
                                                    <input type="hidden" class="guide-item-id" value="#{guide.id}"/>
                                                    <input type="hidden" class="guide-item-name" value="#{guide.title}"/>
                                                    <h:outputText style="font-size: 12px" value="#{guide.title}-#{guide.id}" />
                                                </p:panelGrid>
                                            </p:dataGrid>
                                            <script type="text/javascript">
                                                initGuideNodeDragging();
                                            </script>
                                        </h:panelGroup>
                                    </h:form>
                                </p:tab>
                            </p:tabView>

                        </p:layoutUnit>

                        <p:layoutUnit id="centerUnit" position="center" header="Contents" size="50%"  resizable="true" visible="true">
                            <p:panel id="treePanel">
                                <h:form id= "f1" prependId="false" >
                                    <p:tree id="t1" widgetVar="treeWidget"
                                            orientation="horizontal" expanded="true"
                                            var="treeNode"
                                            animate="true"
                                            value="#{GuideViewAdminController.rootTreeNode}"
                                            selectionMode="single" selection="#{GuideViewAdminController.selectedNode}"
                                            onNodeClick="handleTreeNodeClick(node,event);">

                                        <p:ajax event="select" oncomplete="handleTreeNodeClick($(this).parent(),event)" update=":task:gameTaskDetails :tabView:descriptions selectedSceneId"/>
                                        <p:ajax event="dragdrop" listener="#{GuideViewAdminController.onTreeDragDrop}"/>

                                        <p:treeNode type="root">
                                            <h:outputText value="#{GuideViewAdminController.selectedGuide.title}"/>
                                        </p:treeNode>

                                        <p:treeNode type="dropRegion">
                                            <div class="#{treeNode.parentId}"></div>
                                        </p:treeNode>

                                        <p:treeNode type="section">
                                            <input type="hidden" class="section-parent-node-id" value="#{treeNode.parentId}"/>
                                            <input type="hidden" class="section-node-id" value="#{treeNode.id}"/>

                                            <h:outputText
                                                    value="#{treeNode.name}"
                                                    class="section-node"/>
                                        </p:treeNode>

                                        <p:treeNode type="scene">
                                            <input type="hidden" class="scene-parent-node-id" value="#{treeNode.parentId}"/>
                                            <input type="hidden" class="scene-node-id" value="#{treeNode.id}"/>
                                            <input type="hidden" class="scene-id" value="#{treeNode.sceneId}"/>

                                            <h:graphicImage  value="http://cdn.beek.co/#{treeNode.thumb}" style="margin : 0;vertical-align: middle" width="50" height="40"/>
                                            <h:outputText  value="#{treeNode.name}" style="margin: 5px; font-weight: 600; vertical-align: middle; line-height: 12px" class="scene-node"/><br/>
                                            <h:outputText  value="visits: #{treeNode.visits}" style="vertical-align: middle; line-height: 12px; text-align: right" class="scene-node"/><br/>
                                            <h:outputText  value=" time: #{treeNode.avgTime}" style="vertical-align: middle; line-height: 12px; text-align: right" class="scene-node"/>

                                            <p:commandButton icon="ui-icon-arrow-4-diag" update=":modeTab:modalScene :modeTab:sceneSettings" rendered="#{scene.status != 6}"   style="font-size: 14px; bottom: 5px"
                                                             oncomplete="PF('modalScene').show(); fetchSceneData()"	actionListener="#{LocationEditController.setSelectedSceneById(treeNode.sceneId)}" >
                                            </p:commandButton>
                                        </p:treeNode>

                                        <p:treeNode type="child-guide-root-section">
                                            <input type="hidden" class="section-parent-node-id" value="#{treeNode.parentId}"/>
                                            <input type="hidden" class="section-node-id" value="#{treeNode.id}"/>
                                            <h:outputText value="#{treeNode.name}"/>
                                        </p:treeNode>
                                        <p:treeNode type="child-guide-section">
                                            <input type="hidden" class="section-parent-node-id" value="#{treeNode.parentId}"/>
                                            <input type="hidden" class="section-node-id" value="#{treeNode.id}"/>
                                            <h:outputText value="#{treeNode.name}"/>
                                        </p:treeNode>
                                        <p:treeNode type="child-guide-scene">
                                            <h:graphicImage value="http://cdn.beek.co/#{treeNode.thumb}" style="margin : 0;vertical-align: middle" width="50" height="40"/>
                                            <h:outputText   value="#{treeNode.name}" style="margin: 5px; font-weight: 600; vertical-align: middle; line-height: 12px"/><br/>
                                            <h:outputText   value="visits: #{treeNode.visits}" style="vertical-align: middle; line-height: 12px; text-align: right"/><br/>
                                            <h:outputText   value=" time: #{treeNode.avgTime}" style="vertical-align: middle; line-height: 12px; text-align: right"/>
                                        </p:treeNode>
                                    </p:tree>

                                    <p:remoteCommand name="updateGuideSection" process="@this" update="t1"
                                                     onstart="PF('blockTree').show();"
                                                     oncomplete="onUpdateGuideSectionComplete(xhr, status, args);"
                                                     action="#{GuideViewAdminController.updateGuideSection}" />

                                    <p:remoteCommand name="updateSceneMove" process="@this"
                                                     action="#{GuideViewAdminController.updateSceneMove}" />


                                    <h:inputHidden id="updatedSceneOrder"  />
                                    <p:remoteCommand name="updateSceneOrder" process="@this" action="#{GuideViewAdminController.updateSceneOrder}" />

                                    <h:inputHidden id="updatedSectionOrder"  />
                                    <p:remoteCommand name="updateSectionOrder" process="@this" action="#{GuideViewAdminController.updateSectionOrder}" />
                                    <h:inputHidden id="selectedSceneId" value="#{GuideViewAdminController.selectedGuideScene.sceneId}"  />
                                    <p:contextMenu id="ct1" for="t1" nodeType="section">
                                        <p:menuitem value="Add Section"
                                                    onclick="return handleTreeNodeAddClick();" />
                                        <p:menuitem value="Edit Section"
                                                    onclick="return handleTreeNodeEditClick();" />
                                        <p:menuitem value="Delete Section"
                                                    onclick="return handleTreeNodeDeleteClick(event);" />
                                    </p:contextMenu>
                                    <p:contextMenu id="ct2" for="t1" nodeType="scene">
                                        <p:menuitem value="Delete Scene"
                                                    onclick="return handleTreeNodeDeleteClick(event);" />
                                    </p:contextMenu>
                                    <p:contextMenu id="ct3" for="t1" nodeType="root">
                                        <p:menuitem value="Add Section"
                                                    onclick="return handleTreeNodeAddClick();" />
                                    </p:contextMenu>
                                </h:form>
                            </p:panel>
                        </p:layoutUnit>
                    </p:layout>
                </p:layoutUnit>

                <p:layoutUnit position="center" size="40%"  resizable="true"   collapsible="true">

                    <p:layout widgetVar="previewLayout" >

                        <p:layoutUnit position="center" header="Settings" size="50%" collapsible="true" resizable="true">

                            <h:form>

                                <h2>
                                    <p:inplace id="ajax" editor="true">
                                        <p:inputText id="guideTitle" value="#{GuideViewAdminController.selectedGuide.title}" >
                                            <p:ajax event="change" process="@form" listener="#{GuideViewAdminController.saveGuide}" />
                                        </p:inputText>

                                    </p:inplace>
                                </h2>

                            </h:form>


                            <p:tabView id="tabView" onTabChange="onGuideTabChange(index)">

                                <p:tab id="game" title="Game Tasks">
                                    <h:form id="taskList">
                                        <p:dataTable id="gameTasks" value="#{GuideViewAdminController.gameTasks}"
                                                     draggableRows="true" sortBy="#{task.order}" var="task">
                                            <p:ajax event="rowReorder" listener="#{GuideViewAdminController.onGameTaskReOrder}"  />

                                            <p:column headerText="Id" visible="false" >
                                                <input type="hidden" class="task-id" value="#{task.id}" />
                                            </p:column>

                                            <p:column headerText="Tasks" width="60%" >
                                                <h3><h:outputText value="#{task.title}" /></h3>
                                                <h:outputText value="#{task.getInstructions()}" />
                                            </p:column>
                                            <p:column headerText="Parent Task" width="20%" >
                                                <p:selectOneMenu label="Parent task" id="parentTaskSelected" value="#{task.parentId}" style="width:150px">
                                                    <f:selectItem itemLabel="(No parent task)" itemValue="" noSelectionOption="true" />
                                                    <f:selectItems  value="#{GuideViewAdminController.getTaskList()}" />
                                                    <p:ajax update="@form" listener="#{GuideViewAdminController.onParentTaskChange(task)}" />
                                                </p:selectOneMenu>
                                            </p:column>

                                            <p:column width="15%">

                                                <p:commandButton value="Edit" id="editGameTask" update="task" oncomplete="PF('taskAdmin').show(); fetchTaskSceneData()" icon="ui-icon-pencil" >
                                                    <f:setPropertyActionListener value="#{task}" target="#{GuideViewAdminController.selectedTask}" />
                                                </p:commandButton>
                                                <p:commandButton value="Delete" id="deleteGameTask" update="@form" action="#{GuideViewAdminController.deleteSelectedTask()}" icon="ui-icon-close" >
                                                    <f:setPropertyActionListener value="#{task}"  target="#{GuideViewAdminController.selectedTask}" for="deleteGameTask" />
                                                     <p:confirm header="Confirmation"  message="Are you sure you want to delete this task?" icon="ui-icon-alert" />
                                                </p:commandButton>
                                            </p:column>

                                        </p:dataTable>

                                        <p:remoteCommand name="fetchTaskSceneData"
                                                         action="#{GuideViewAdminController.getSceneData}"
                                                         oncomplete="initTaskAdmin(xhr, status, args);"/>
                                    </h:form>

                                    <p:commandButton value="Add Task" id="add" update="task" oncomplete="PF('taskAdmin').show();fetchTaskSceneData()" actionListener="#{GuideViewAdminController.addGameTask}" />

                                </p:tab>



                                <p:tab id="description" title="Scene Settings">



                                    <h:form id="descriptions">

                                        <h2>
                                            <p:inplace id="sceneTitleInPlace" editor="true">
                                                <p:inputText id="sceneTitle" value="#{GuideViewAdminController.selectedGuideScene.title}" >
                                                    <p:ajax event="change" process="@form" listener="#{GuideViewAdminController.saveGuide}" />
                                                </p:inputText>

                                            </p:inplace>
                                        </h2>

                                            <h:outputLabel for="audioGuideSceneVoiceover" value="Upload Audio MP3" />
                                            <p:fileUpload  id="audioGuideSceneVoiceover" update="@form" process="@this" fileUploadListener="#{GuideViewAdminController.handleGuideSceneAudioUpload}" mode="advanced" dragDropSupport="false"
                                                           fileLimit="1" auto="true" allowTypes="/(\.|\/)(mp3|m4a|m4u)$/" />


                                        <p:dataTable var="guideSceneVoiceOver" value="#{GuideViewAdminController.selectedGuideScene.voiceovers}" rendered="#{not empty GuideViewAdminController.selectedGuideScene.voiceovers}" draggableRows="true">
                                            <p:ajax event="rowReorder" listener="#{GuideViewAdminController.onVoiceoverRowReorder}" />
                                            <p:column headerText="Id">
                                                <h:outputText value="#{guideSceneVoiceOver}" />
                                                <p:commandButton icon="ui-icon-trash" action="#{GuideViewAdminController.deleteVoiceover(guideSceneVoiceOver)}" update="@form" />
                                                <p:commandButton type="button" icon="ui-icon-play" onclick="playVoiceover('#{guideSceneVoiceOver}')" />
                                            </p:column>

                                        </p:dataTable>

                                        <p:panel>
                                            <p:commandButton value="Publish Video" actionListener="#{GuideViewAdminController.publishGuideSceneVideo}" ></p:commandButton>
                                           <a href="http://cdn.beek.co/#{GuideViewAdminController.selectedGuideScene.getVideoSettings().hiRes}" target="_blank"> View output video</a>
                                        </p:panel>

                                        <p:inputText id="guideSceneVideoSettings" value="#{GuideViewAdminController.selectedGuideScene.video}" type="hidden" >
                                            <p:ajax event="change" process="@form" listener="#{GuideViewAdminController.saveGuide}" />
                                        </p:inputText>

                                        <p:remoteCommand name="saveGuide" update="@form" actionListener="#{GuideViewAdminController.saveGuide}"/>
                                       </h:form>



                                </p:tab>





                                <p:tab id="settings" title="Settings">

                                    <h:panelGrid columns="2" columnClasses="align-top, align-top">
                                        <p:panel>
                                            <p:graphicImage id="thumbImage"
                                                            style="display:block;width:300px;height:300px;"
                                                            url="#{buildProperties.cdnUrl}/#{GuideViewAdminController.selectedGuide.getThumbName()}" />
                                            <h:form enctype="multipart/form-data">
                                                <p:fileUpload  id= "fp" style="width: 300px" process="@form" widgetVar="fu" fileUploadListener="#{GuideViewAdminController.handleGuideCoverUpload}" mode="advanced" dragDropSupport="false"
                                                               update="tabView:thumbImage" auto="true" fileLimit="100000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"/>
                                            </h:form>

                                        </p:panel>
                                        <p:panel>

                                            <h:form>

                                                Title: <p:inputText id="title" value="#{GuideViewAdminController.selectedGuide.title}" style="width:160px">
                                                <p:ajax event="change" process="@form" listener="#{GuideViewAdminController.saveGuide}" />
                                            </p:inputText>
                                                <p:spacer width="100%" height="20" />
                                                Introduction:
                                                <p:editor id="guideDescriptionEditor" onchange="guideDescriptionUpdate()" valueChangeListener="#{GuideViewAdminController.saveGuide}" value="#{GuideViewAdminController.selectedGuide.description}"></p:editor>
                                                <p:remoteCommand name="guideDescriptionUpdate" process="@form" actionListener="#{GuideViewAdminController.saveGuide}"/>

                                                Subdomain: <p:inputText id="subdomain" value="#{GuideViewAdminController.selectedGuide.subdomain}" style="width:160px">
                                                <p:ajax event="change" process="@form" listener="#{GuideViewAdminController.saveGuide}" />
                                            </p:inputText>

                                                Parent ID: <p:inputText id="parentId" value="#{GuideViewAdminController.selectedGuide.parent}" style="width:40px">
                                                <p:ajax event="change" process="@form" listener="#{GuideViewAdminController.saveGuide}" />
                                            </p:inputText>

                                                <h:outputLabel for="guideSoundTrack" value="Upload Audio MP3" />
                                                <p:fileUpload  id="guideSoundTrack" update="@form" process="@this" fileUploadListener="#{GuideViewAdminController.handleGuideSoundTrackUpload}" mode="advanced" dragDropSupport="false"
                                                               fileLimit="1" auto="true" allowTypes="/(\.|\/)(mp3|m4a|m4u)$/" />

                                                <p:commandButton value="Delete Sound Track" actionListener="#{GuideViewAdminController.deleteSoundTrack}" ></p:commandButton>

                                                <p:panel>
                                                    <p:commandButton value="Publish Video" actionListener="#{GuideViewAdminController.publishVideo}" ></p:commandButton>
                                                    <h:outputText value="#{GuideViewAdminController.selectedGuide.outputVideo}" />
                                                </p:panel>
                                            </h:form>
                                        </p:panel>

                                    </h:panelGrid>


                                </p:tab>

                                <p:tab id="users" title="Users">

                                    <h:form prependId="false">
                                        <br> </br>
                                        <br> </br>
                                        Enter Email Address:
                                        <p:inputText id="emailField"
                                                     value="#{GuideViewAdminController.emailAddress}" style="width:160px"></p:inputText>
                                        <p:commandButton align="right" value="Add User" update="tabView:userEmails"
                                                         actionListener="#{GuideViewAdminController.addUser()}" />
                                        <br />
                                        <br />
                                        <br> </br>
                                        <table border="0">
                                            <tr>
                                                <td valign="top">Users</td>
                                            </tr>
                                            <tr>
                                                <td><p:dataTable id="userEmails" var="usersEmails" width="200"
                                                                 value="#{GuideViewAdminController.usersEmails}"
                                                                 emptyMessage="No users found.">
                                                    <p:column>
                                                        <h:outputText value="#{usersEmails}" />
                                                    </p:column>
                                                    <p:column style="width:4%">
                                                        <p:commandLink
                                                                actionListener="#{GuideViewAdminController.removeUser(usersEmails)}">
                                                            <h:outputText value="Remove User" />
                                                        </p:commandLink>
                                                    </p:column>
                                                </p:dataTable></td>
                                            </tr>
                                        </table>
                                    </h:form>
                                </p:tab>

                                <p:tab id="list" title="List">

                                    <h:form prependId="false">
                                        <td><p:dataTable id="sceneList" var="scene" width="200"
                                                         value="#{GuideViewAdminController.getSceneList()}"
                                                         emptyMessage="No scenes found">
                                            <p:column>
                                                <h:outputText value="#{scene.title}" />
                                            </p:column>
                                            <p:column>
                                                <h:outputText value="#{scene.id}" />
                                            </p:column>

                                            <p:column>
                                                <h:outputText value="http://beek.co/g#{GuideViewAdminController.selectedGuide.id}/s#{scene.id}" />
                                            </p:column>

                                        </p:dataTable></td>
                                    </h:form>
                                </p:tab>

                                <p:tab id="report" title="Report">
                                    <p:dataList value="#{GuideViewAdminController.getPerformance()}" var="row" itemType="disc" emptyMessage="no data" >
                                        <h3>	#{row.first}: #{row.second}</h3>
                                    </p:dataList>


                                    <h2>Cities</h2>
                                    <div class="chart" id='report_map'></div>
                                    <br/>
                                    <div>
                                        <h2>Sources</h2>
                                        <div class="chart" id='sourcePieChart'></div>
                                    </div>

                                    <script type='text/javascript'>
                                       // setTimeout(function(){drawMap(#{GuideViewAdminController.getCitiesData()})},1000);
                                    </script>
                                </p:tab>
                                <p:tab id="records" title="Records">



                                    <div id="recordsTable"/>
                                </p:tab>



                            </p:tabView>
                            <div style="opacity: 0.0" id="html2canvasRenderer"></div>
                        </p:layoutUnit>



                    </p:layout>

                </p:layoutUnit>

            </p:layout>



            <p:dialog widgetVar="dialog" resizable="false" modal="true" header="Login">
                <h:panelGrid columns="2" cellpadding="5">
                    <h:outputLabel for="name" value="Name:" />
                    <p:inputText id="name" label="name" />
                    <f:facet name="footer">
                        <p:commandButton value="Cancel" style="float:right;" onclick="PF('dialog').hide();return false;" />
                        <p:commandButton value="Save"   style="float:right;" onclick="if(dialogMode === 'add')onAdd(); else onEdit(); return false;"/>
                    </f:facet>
                </h:panelGrid>
            </p:dialog>

            <p:confirmDialog global="true" widgetVar="confirmDialog" message="Are you sure?" width="200px">
                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" style="float:right;"/>
                <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" style="float:right;"
                                 onclick="onDelete();return false;"/>
            </p:confirmDialog>


            <p:dialog  widgetVar="taskAdmin"  onShow="updateTaskDialogue()" closeOnEscape="true" styleClass="modalScene" modal="true" dynamic="true" >

                <div id="taskContainer"/>

                <p:selectBooleanButton id="playPause" widgetVar="playButton" value="val"  onLabel="Play" onchange="handlePlayButtonChange(this.checked)" offLabel="Pause" onIcon="ui-icon-play" offIcon="ui-icon-pause" style="width:80px;margin-top: -40px; float: right"/>

                <h:form id="task">
                    <p:remoteCommand name="saveGameTask" update=":tabView:taskList" actionListener="#{GuideViewAdminController.saveSelectedTask()}" />

                    <p:scrollPanel mode="native" style="height: 600px">

                        <h:panelGrid columns="6" >

                            <p:inputText id="Title" rows="1" counter="labelCount" maxlength="20" counterTemplate="{0} characters remaining." value="#{GuideViewAdminController.selectedTask.title}"/>

                            <p:inputText id="Code" type="hidden" value="#{GuideViewAdminController.selectedTask.code}"/>
                            <p:inputText id="Scene" type="hidden" value="#{GuideViewAdminController.selectedTask.scene}"/>

                                <p:selectOneMenu label="Task scene" widgetVar="sceneSelector" id="scenesSelector" onchange="taskSceneChange_handler(this.value)"  value="#{GuideViewAdminController.selectedTask.scene}" style="width:150px">
                                    <f:selectItem itemLabel="Select scene that task belongs to" itemValue="" noSelectionOption="true" />
                                    <f:selectItems value="#{GuideViewAdminController.getSelectedGuideScenesSelectItemList()}" />
                                    <p:ajax update="@form" listener="#{GuideViewAdminController.onTaskSceneChange}" />
                                </p:selectOneMenu>


                        </h:panelGrid>


                        <p:selectOneRadio id="code" update="@form"   value="#{GuideViewAdminController.selectedTask.code}">
                            <f:selectItem itemLabel="Child Tasks" itemValue="childtasks" />
                            <f:selectItem itemLabel="Drag Pano" itemValue="panodrag" />
                            <f:selectItem itemLabel="Find Hotspots" itemValue="findhotspots" />
                            <f:selectItem itemLabel="Select any hotspot" itemValue="anyhotspot" />
                            <f:selectItem itemLabel="Watch Pano Video" itemValue="watchpanovideo" />
                            <f:selectItem itemLabel="Listen to voiceover" itemValue="finishvoiceover" />
                            <f:selectItem itemLabel="Multi Choice" itemValue="multichoice" />
                            <f:selectItem itemLabel="User ID" itemValue="userid" />
                            <f:selectItem itemLabel="Record Voice" itemValue="recordVoice" />
                            <f:selectItem itemLabel="capturePhoto" itemValue="capturePhoto" />
                            <p:ajax update="task:input " event="valueChange"  />
                        </p:selectOneRadio>

                        <p:panelGrid id="gameTaskDetails" columns="2" columnClasses="top-alignment,top-alignment">

                            <p:panel header="Instructions">
                                <p:panelGrid columns="2" columnClasses="forty-percent top-alignment,top-alignment">
                                 <p:panel>
                                    <p:inputTextarea id="Instructions" rows="5" cols="60" style="margin: 10px" value="#{GuideViewAdminController.selectedTask.instructions}" counter="instructionCount" maxlength="300" counterTemplate="{0} characters remaining." autoResize="false" /><br/>
                                    <h:outputText id="instructionCount" /><br/>

                                 </p:panel>
                                <p:panel id="inputVoice">
                                     <h:outputLabel for="voiceQuestionInput" value="Upload Audio MP3" />
                                     <p:fileUpload  id="voiceQuestionInput" update="@form" process="@this" fileUploadListener="#{GuideViewAdminController.handleGameTaskVoiceUpload}" mode="advanced" dragDropSupport="false"
                                                    fileLimit="1" auto="true" allowTypes="/(\.|\/)(mp3|m4a|m4u)$/" />

                                    <p:commandButton id="play_voiceQuestionInput"  icon="ui-icon-play" type="button" rendered="#{not empty GuideViewAdminController.selectedTask.getGameTaskInput().voiceFile}" onclick="openFileURL('#{GuideViewAdminController.selectedTask.getGameTaskInput().voiceFile}')" ></p:commandButton>
                                    <p:commandButton id="delete_voiceQuestionInput" update=":task:inputVoice"  icon="ui-icon-trash" rendered="#{not empty GuideViewAdminController.selectedTask.getGameTaskInput().voiceFile}" actionListener="#{GuideViewAdminController.deleteGameTaskVoice}" >
                                       <p:confirm header="Confirmation"  message="Are you sure you want to delete this voiceover?" icon="ui-icon-alert" />
                                    </p:commandButton>
                                </p:panel>
                                </p:panelGrid>
                                <p:panel id="input">



                                    <p:panel id="inputHotspots" header="Hotspots to find" rendered="#{GuideViewAdminController.selectedTask.code == 'findhotspots'}">
                                        <p:pickList id="pickListInput"  converter="PrimefacesPickListConverter"  showCheckbox="true"  value="#{GuideViewAdminController.gameTaskHotspots}"  var="hotspot" itemLabel="#{hotspot.title}" itemValue="#{hotspot}">
                                            <p:ajax event="select" listener="#{GuideViewAdminController.onGameTaskHotspotSelect}"  />
                                            <p:ajax event="unselect" listener="#{GuideViewAdminController.onGameTaskHotspotUnselect}" />
                                        </p:pickList>

                                    </p:panel>



                                    <p:panel id="inputTime" header="Set Time">
                                        <p:inputText id="taskTime" value="#{GuideViewAdminController.gameTaskTime}" >
                                            <p:ajax event="change" process="@form" />
                                        </p:inputText>


                                        <div id="timeSlider"/>
                                    </p:panel>

                                    <p:panel id="userid" style="width: 500px" rendered="#{GuideViewAdminController.selectedTask.code == 'userid'}">
                                        <p:inputTextarea id="userIds" rows="5" cols="60" style="margin: 10px" value="#{GuideViewAdminController.userIds}"  autoResize="false" /><br/>

                                    </p:panel>


                                    <p:panel id="multichoice" style="width: 500px" rendered="#{GuideViewAdminController.selectedTask.code == 'multichoice'}">

                                        <p:inputText value="#{GuideViewAdminController.multichoiceOption}" >
                                            <p:ajax event="change" process="@form" />
                                        </p:inputText>
                                        <p:commandButton value="Add" action="#{GuideViewAdminController.addGameChoice}" update="task:multichoiceOptions" />

                                        <p:dataTable id="multichoiceOptions" value="#{GuideViewAdminController.gameChoices}"
                                                     draggableRows="true" var="gameChoice">
                                            <p:column headerText="choice">
                                                <p:inputText id="choiceTitle" value="#{gameChoice.title}" />
                                            </p:column>
                                            <p:column headerText="Correct answer">
                                                <p:selectBooleanCheckbox value="#{gameChoice.correct}"/>
                                            </p:column>

                                            <p:column headerText="Remove">
                                                <p:commandButton actionListener="#{GuideViewAdminController.removeGameChoice(gameChoice)}"  update="task:multichoiceOptions" icon="ui-icon-close" />
                                            </p:column>
                                        </p:dataTable>

                                    </p:panel>

                                    <p:panel id="childTasks" header="Child tasks" rendered="#{GuideViewAdminController.selectedTask.code == 'childtasks'}">
                                        <p:commandButton value="Add Childtasks" update="task" oncomplete="PF('taskAdmin').show()" actionListener="#{GuideViewAdminController.addChildGameTask}"></p:commandButton>


                                        <h:form id="childTaskList">
                                            <p:dataTable id="childTaskListTable" style="width: 500px" rows="3"
                                                         draggableRows="true" sortBy="#{task.order}" var="task" paginator="true">
                                                <p:ajax event="rowReorder" listener="#{GuideViewAdminController.onGameTaskReOrder}"  />

                                                <p:column headerText="Id" visible="false" >
                                                    <input type="hidden" class="task-id" value="#{task.id}" />
                                                </p:column>

                                                <p:column headerText="Tasks" >
                                                    <h3><h:outputText value="#{task.title}" /></h3>
                                                    <h:outputText value="#{task.getInstructions()}" />
                                                </p:column>

                                                <p:column >

                                                    <p:commandButton  id="editChildGameTask"  update=":task" oncomplete="PF('taskAdmin').show()" icon="ui-icon-pencil" >
                                                        <f:setPropertyActionListener value="#{task}"  target="#{GuideViewAdminController.selectedTask}" />
                                                    </p:commandButton>
                                                    <p:commandButton  id="deleteChildGameTask" update="@form" action="#{GuideViewAdminController.deleteSelectedTask()}" icon="ui-icon-close" >
                                                        <f:setPropertyActionListener value="#{task}"  target="#{GuideViewAdminController.selectedTask}" for="deleteGameTask" />
                                                        <!-- <p:confirm header="Confirmation"  message="Are you sure?" icon="ui-icon-alert" />-->
                                                    </p:commandButton>
                                                </p:column>

                                            </p:dataTable>


                                        </h:form>
                                    </p:panel>

                                </p:panel>


                            </p:panel>



                            <p:panel header="Feedback">

                                <p:tabView id="answers">


                                <p:tab id="correctAnswer" title="correct answer" header="correctAnswer">
                                    <p:panelGrid columns="2" columnClasses="forty-percent top-alignment,top-alignment">
                                        <p:panel>
                                            <p:inputTextarea id="Feedback" rows="5" cols="60" style="margin: 10px" value="#{GuideViewAdminController.selectedTask.feedback}" counter="feedbackCount" maxlength="300" counterTemplate="{0} characters remaining." autoResize="false" /><br/>
                                            <h:outputText id="feedbackCount" /><br/>

                                        </p:panel>
                                        <p:panel id="rightAnswerVoiceFile">
                                            <h:outputLabel for="voiceQuestionOutput_correct" value="Upload Correct Answer Voice" />
                                            <p:fileUpload  id="voiceQuestionOutput_correct" update="@form" process="@this" fileUploadListener="#{GuideViewAdminController.handleGameTaskVoiceUpload}" mode="advanced" dragDropSupport="false"
                                                           fileLimit="1" auto="true" allowTypes="/(\.|\/)(mp3|m4a|m4u)$/" />

                                            <p:commandButton id="play_voiceQuestionOutput_correct"  icon="ui-icon-play" type="button" rendered="#{not empty GuideViewAdminController.selectedTask.gameTaskOutput.rightAnswerVoiceFile}" onclick="openFileURL('#{GuideViewAdminController.selectedTask.gameTaskOutput.rightAnswerVoiceFile}')" ></p:commandButton>
                                            <p:commandButton id="delete_voiceQuestionOutput_correct" update=":task:answers:rightAnswerVoiceFile"  icon="ui-icon-trash" rendered="#{not empty GuideViewAdminController.selectedTask.gameTaskOutput.rightAnswerVoiceFile}" actionListener="#{GuideViewAdminController.deleteGameTaskVoice}" >
                                                <p:confirm header="Confirmation"  message="Are you sure you want to delete this voiceover?" icon="ui-icon-alert" />
                                            </p:commandButton>
                                        </p:panel>


                                    </p:panelGrid>



                                        <p:selectOneMenu label="Scene to load" id="sceneToLoadSelector" value="#{GuideViewAdminController.gameTaskOutput.rightAnswerSceneId}" style="width:150px">
                                            <f:selectItem itemLabel="Select Scene that loads when task completes" itemValue="" noSelectionOption="true" />
                                            <f:selectItems value="#{GuideViewAdminController.getSelectedGuideScenesSelectItemList()}" />
                                        </p:selectOneMenu>
                                    <h:outputLabel for="rightAnswerVideoTime" value="Time" />
                                    <p:inputText id="rightAnswerVideoTime" value="#{GuideViewAdminController.gameTaskOutput.rightAnswerVideoTime}" >
                                        <p:ajax event="change" process="@form" />
                                    </p:inputText>
                                        <p:selectOneMenu label="Task to load" id="rightAnswerTaskToLoadSelector" value="#{GuideViewAdminController.gameTaskOutput.rightAnswerTaskId}" style="width:150px">
                                            <f:selectItem itemLabel="Select task that loads when right answer selected" itemValue="" noSelectionOption="true" />
                                            <f:selectItems value="#{GuideViewAdminController.getTaskList()}" />
                                        </p:selectOneMenu>

                                    <p:panel id="output">
                                        <p:panel  id="hotspotOutput"  header="Hotspots to show">
                                            <p:pickList id="pickListOutput"   converter="PrimefacesPickListConverter"  value="#{GuideViewAdminController.gameTaskHotspotsToShow}"  var="hotspot"  itemLabel="#{hotspot.title}" itemValue="#{hotspot}" >
                                            </p:pickList>
                                        </p:panel>
                                    </p:panel>

                                </p:tab>
                                <p:tab id="wrongAnswer" title="wrong answer" header="Wrong answer">
                                    <p:selectOneMenu label="Scene to load" id="wrongAnswerSceneToLoadSelector" value="#{GuideViewAdminController.gameTaskOutput.wrongAnswerSceneId}" style="width:150px">
                                        <f:selectItem itemLabel="Select Scene that loads when wrong answer selected" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{GuideViewAdminController.getSelectedGuideScenesSelectItemList()}" />
                                    </p:selectOneMenu>

                                    <h:outputLabel for="wrongAnswerVideoTime" value="Time" />
                                    <p:inputText id="wrongAnswerVideoTime" value="#{GuideViewAdminController.gameTaskOutput.wrongAnswerVideoTime}" >
                                        <p:ajax event="change" process="@form" />
                                    </p:inputText>

                                    <p:selectOneMenu label="Task to load" id="wrongAnswerTaskToLoadSelector" value="#{GuideViewAdminController.gameTaskOutput.wrongAnswerTaskId}" style="width:150px">
                                        <f:selectItem itemLabel="Select task that loads when wrong answer selected" itemValue="" noSelectionOption="true" />
                                        <f:selectItems value="#{GuideViewAdminController.getTaskList()}" />
                                    </p:selectOneMenu>

                                    <p:panelGrid columns="2" columnClasses="forty-percent top-alignment,top-alignment">
                                        <p:panel>
                                            <p:inputTextarea id="wrongFeedback" rows="5" cols="60" style="margin: 10px" value="#{GuideViewAdminController.gameTaskOutput.wrongAnswerDescription}" counter="feedbackCount" maxlength="300" counterTemplate="{0} characters remaining." autoResize="false" /><br/>

                                        </p:panel>
                                        <p:panel id="wrongAnswerVoice">
                                            <h:outputLabel for="voiceQuestionOutput_incorrect" value="Upload wrong Answer Voice" />
                                            <p:fileUpload  id="voiceQuestionOutput_incorrect" update="@form" process="@this" fileUploadListener="#{GuideViewAdminController.handleGameTaskVoiceUpload}" mode="advanced" dragDropSupport="false"
                                                           fileLimit="1" auto="true" allowTypes="/(\.|\/)(mp3|m4a|m4u)$/" />

                                            <p:commandButton id="play_voiceQuestionOutput_incorrect"  icon="ui-icon-play" type="button" rendered="#{not empty GuideViewAdminController.selectedTask.gameTaskOutput.getWrongAnswerVoiceFile()}" onclick="openFileURL('#{GuideViewAdminController.selectedTask.gameTaskOutput.wrongAnswerVoiceFile}')" ></p:commandButton>
                                            <p:commandButton id="delete_voiceQuestionOutput_incorrect" update="task:answers:wrongAnswerVoice"  icon="ui-icon-trash" rendered="#{not empty GuideViewAdminController.selectedTask.gameTaskOutput.getWrongAnswerVoiceFile()}" actionListener="#{GuideViewAdminController.deleteGameTaskVoice}" >
                                                <p:confirm header="Confirmation"  message="Are you sure you want to delete this voiceover?" icon="ui-icon-alert" />
                                            </p:commandButton>
                                        </p:panel>
                                    </p:panelGrid>
                                </p:tab>

                                </p:tabView>
                            </p:panel>



                        </p:panelGrid>
                    </p:scrollPanel>

                </h:form>

                <p:ajax event="close" process="@this" immediate="true"   oncomplete="saveGameTask();removePlayer()" />
            </p:dialog>

            <p:dialog  widgetVar="recordForm"  onShow="recordFormReady()"  appendToBody="true"  modal="true" dynamic="true" >
                <form>
                    <p:dataTable widgetVar="recordTable" id="recordTable" value="#{GuideViewAdminController.gameTasks}"
                                 sortBy="#{task.order}" var="task">

                        <p:column headerText="Id" visible="false" >
                            <input type="hidden" class="task-id" value="#{task.id}" />
                        </p:column>
                        <p:column headerText="Hotspots" visible="false" >
                            <input type="hidden" id="task_#{task.id}_hotspots" class="task-hotspots" value="#{GuideViewAdminController.getSceneHotspotIds(task.scene)}" />
                        </p:column>

                        <p:column headerText="Tasks" >
                            <h3><h:outputText value="#{task.title}" /></h3>
                            <h:outputText value="#{task.getInstructions()}" />
                        </p:column>

                        <p:column width="15%">
                            <div id = "task_#{task.id}"/>
                        </p:column>

                    </p:dataTable>
                </form>
                <p:ajax event="close" process="@this" update="recordTable" oncomplete="removePlayer();clearSelected()" />
            </p:dialog>

            <h:form id="hidden">
                <p:remoteCommand name="guideSaved" process="@this"  action="#{GuideViewAdminController.updateSelectedGuideScene}" update=":task:pickListInput task:answers:pickListOutput"/>

                <h:inputHidden id="newSection"  />
                <p:remoteCommand name="addNewSection" process="@this" action="#{GuideViewAdminController.addSection}" />
                <p:remoteCommand name="editSection" process="@this" action="#{GuideViewAdminController.editSection}" />
                <p:remoteCommand name="deleteSection" process="@this" action="#{GuideViewAdminController.deleteSection}" />

                <h:inputHidden id="newScene"  />
                <p:remoteCommand name="addNewScene" process="@this" action="#{GuideViewAdminController.addScene}" />
                <p:remoteCommand name="deleteScene" process="@this" action="#{GuideViewAdminController.deleteScene}" />

                <h:inputHidden id="updatedTaskOrder"  />
                <p:remoteCommand name="updateTaskOrder" process="@this" action="#{GuideViewAdminController.reorderGameTasks}" />

            </h:form>
            <p:blockUI block="h:mapPanel" widgetVar="blockUI"/>
            <p:blockUI block="treePanel" widgetVar="blockTree"/>

            <ui:include src="../scene/admin.xhtml" />
        </h:body>
    </ui:define>
</ui:composition>