<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../newtemplate.xhtml">
    <ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{GuideCreateController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>
	</ui:define>

    <ui:define name="content">
        <h:form prependId="false">
        
			<p:growl id="growl" showDetail="true" sticky="true" />

        
            <p:growl id="info" showDetail="true" autoUpdate="true"/>
                      <h:panelGrid columns="2" cellpadding="10px" >

		                      <p:panel id="locations_list" >
								  <p:selectOneListbox id="advanced" style="width: 200px" value="#{GuideCreateController.location}" converter="#{locationConverter}" var="locations" filter="true" filterMatchMode="contains">
									  <p:ajax event="valueChange" immediate="true" process="@this"/>
								  <f:selectItems value="#{GuideCreateController.myLocations}" var="location" itemLabel="#{location.title}" itemValue="#{location}" />
								  <p:column>
									  <h:outputText value="#{locations.title}" />
								  </p:column>
							  </p:selectOneListbox>


		                      </p:panel>

						  <p:panel id="next_list"  style="width: 200px; height: 200px">
							  <h:outputText value="Title: " />
	                      <p:inputText id="title_field" style="width:180px" value="#{GuideCreateController.guide.title}"/>
	                         
						<p:commandButton value="create" icon="ui-icon ui-icon-plusthick"  action="#{GuideCreateController.saveGuide}" style="margin: 50px"/>
						  </p:panel>
					  </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>