<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../newtemplate.xhtml">
				
    <ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{GuideDashboardController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>

	</ui:define>


    <ui:define name="content">
    <h:form id="form" preappend="false">
    
    		    <p:growl id="growl" showDetail="true" sticky="true" /> 
		
                    
                    <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
					<p:dialog modal="true" widgetVar="statusDialog" header="Status"   
        			draggable="false" closable="false">  
    				<p:graphicImage value="/resources/images/ajaxLoadingBar.gif" />  
					</p:dialog>    
    
    <p:confirmDialog widgetVar="deleteSelectedGuideDialog"
				message="Are you sure you want to delete the guide?"
				header="Delete Guide" severity="alert" >
				<p:commandButton id="confirm" value="Yes" icon="ui-icon-trash"
						oncomplete="PF('deleteSelectedGuideDialog').hide()" update="form:tabView:guidesList"
					actionListener="#{GuideDashboardController.deleteSelectedGuide()}" >
					</p:commandButton>
				<p:commandButton id="decline" value="No" 
					onclick="PF('deleteSelectedGuideDialog').hide()" type="button" />
			</p:confirmDialog>
			 
            
		<p:tabView id="tabView" dynamic="true" cache="true" >	
		<p:tab id="guides" title="Guides">
		<p:messages id="messagesForDebugging" showDetail="true" autoUpdate="true" />
		
    	<p:commandButton value="New Guide" style="width:120px; margin-left:0px; margin-bottom:10px;" icon="ui-icon-plus"
	               immediate="true" onclick=""    action="#{GuideDashboardController.redirectToGuideCreate()}"/>
	                  
		<p:commandButton value="Search" style="width:70px ;float: right;  position: relative"
	                  action="#{GuideDashboardController.searchButton('true')}"/>
	    <p:inputText id="searchTerm" value="#{GuideDashboardController.searchTerm}" style="width:200px;float: right; position: relative; margin-left : 20px"/>

    	    <p:commandButton value="Show all guides" style="width:160px; float: right; position: relative; margin-right : 20px"
	                  action="#{GuideDashboardController.showAllGuidesButton()}"/>
     
 
    
		<p:dataGrid id="guidesList" var="guide" value="#{GuideDashboardController.getDashboardGuides()}" lazy="true" columns="5"  
         paginator="true" paginatorAlwaysVisible="false" rows="20" paginatorPosition="bottom"
        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"  
        >  
  
        <p:panel style="width:200px" header="#{guide.title}-#{guide.id}">  

 				<a href="#{guide.getId()}/admin">
 				<img src="#{buildProperties.cdnUrl}/#{guide.getThumbName()}" alt="Guide thumb" width="200" height="200"/></a>
			<p:commandButton style="float :right; position: relative; top: -205px" icon="ui-icon-trash" action="#{GuideDashboardController.setSelectedGuide(guide)}" onclick="PF('deleteSelectedGuideDialog').show()"/>
			<p:commandButton style="float :right; position: relative; top: -205px" icon="ui-icon-copy" actionListener="#{GuideDashboardController.cloneGuide(guide)}" update="guidesList">
			
			</p:commandButton> 

        </p:panel>  
    </p:dataGrid>  
    </p:tab>
     <!-- <p:ajax event="tabChange" listener="#{quoteEditBean.partTabChange}" immediate="true" /> -->
    <p:tab id="Data" title="Statistics">
 		<p:ajaxStatus   onstart="#{GuideDashboardController.cacheData()}"/>
    
     <p:calendar style="float:right" id="startDate" immediate="true" pattern="yyyy-mm-dd"
     value="#{GuideDashboardController.startDate}" navigator="true" display="inline"> 
      <f:convertDateTime type="date"  dateStyle="short" pattern="yyyy-mm-dd" />
      <p:ajax event="dateSelect"  listener="#{GuideDashboardController.changeStartDate}" update="visits, visitsChart, timeChart" /> 
      </p:calendar>  
      <span style="float: right">Start Date</span>
    <h1>Visits</h1>
    
    
    <p:chart id="visitsChart" type="bar" value="#{GuideDashboardController.visitChart}" legendPosition="ne"
            title="Visits" autoscale="true" seriesColors="09F, 000000" xaxisAngle="15" stacked="true" zoom="true" orientation="vertical" animate="true" style="height:400px"/>  
   	<h1> Average Time</h1>
   	
   	 <p:chart id="timeChart" type="bar" value="#{GuideDashboardController.timeChart}" legendPosition="ne"
            title="Visits" autoscale="true" seriesColors="666666, 999999, 09F" xaxisAngle="15" stacked="true" zoom="true" orientation="vertical" animate="true" style="height:400px"/>  
 
    
    <br/> <br/>
    
        <p:dataTable id="visits" var="visits" value="#{GuideDashboardController.visits}" rows="10" paginatorPosition="bottom" paginatorAlwaysVisible="false">
        			<p:column sortBy="#{visits.title}" style="vertical-align: middle; width: 200px" headerText="Guide">
        			<h3 style="margin-top: 0px;margin-bottom: 0px; height: 50px; width: 200px">
        			<img src="http://cdn.beek.co/#{visits.thumbName}" style="margin-right: 10px; width: 50px; height: 50px" />
        			<h:outputText value="#{visits.title}" style="width: 220px; padding-bottom: 20px; overflow: auto" /></h3>

        			</p:column>
 			        <p:column sortBy="#{visits.visitors}" width="100px" headerText="Visitors">
 			        <h:outputText value="#{visits.visitors}" />
        			</p:column>
        			<p:column sortBy="#{visits.visits}" width="100px" headerText="Visits">
 			        <h:outputText value="#{visits.visits}" />
        			</p:column>
        			
        			<p:column sortBy="#{visits.newVisits}" width="100px" headerText="New visits">
 			        <h:outputText value="#{visits.newVisits}" />
        			</p:column>
        			
        			<p:column sortBy="#{visits.avgTimeOnSite}" width="100px" headerText="Avg Time">
 			        <h:outputText value="#{visits.avgTimeOnSite}" />
        			</p:column>
        			
        			<p:column sortBy="#{visits.pageviewsPerVisit}" width="100px" headerText="Avg Scenes">
 			        <h:outputText value="#{visits.pageviewsPerVisit}" />
        			</p:column>
        			
        			<p:column sortBy="#{visits.visitsWithEvent}" width="100px" headerText="Active Visits">
 			        <h:outputText value="#{visits.visitsWithEvent}" />
        			</p:column>
        			
        			<p:column sortBy="#{visits.totalEvents}" width="100px" headerText="Interactions">
 			        <h:outputText value="#{visits.totalEvents}" />
        			</p:column>
        		
        			
        			<p:column sortBy="#{visits.eventsPerVisitWithEvent}" width="100px" headerText="Avg Interacts">
 			        <h:outputText value="#{visits.eventsPerVisitWithEvent}" />
        			</p:column>
        </p:dataTable>
        </p:tab>
        </p:tabView>
    </h:form>

	
    </ui:define>
</ui:composition>