<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="../newtemplate.xhtml">
	

	<ui:define name="checkurl">
		<f:metadata>
			<f:event listener="#{GuideEditController.preRenderView()}"
				type="preRenderView" />
		</f:metadata>

  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
 <script type='text/javascript'>
  
  
   google.load('visualization', '1', {'packages': ['geomap', 'corechart']});

 
    function drawMap(feed) {
 
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'City'); 
        data.addColumn('number', 'Visits'); 
        data.addColumn({type:'string', role:'tooltip', 'p': {'html': true}}); 
        data.addRows(feed);
        
  var options = {
		sizeAxis: { minValue: 0, maxValue: 100 },		
        displayMode: 'markers',
        colorAxis: {colors: ['#33ADFF', '#003D66']},
        width : '100%',
        height : '600px',
        enableRegionInteractivity: false,
        keepAspectRatio: true,
        legend : 'none',
        tooltip: {isHtml: true}
      };

      var container = document.getElementById('report_map');
      var geomap = new google.visualization.GeoChart(container);
      geomap.draw(data, options);
    };
    

    
    
    function drawChart(title, metric,  data, div) {

        var chartData = new google.visualization.DataTable();
        chartData.addColumn('string', title); 
        chartData.addColumn('number', metric); 
        chartData.addRows(data);

        var options = {
          title: title,
          sliceVisibilityThreshold: 0.01,
          chartArea:{left:0,top:0,width:'100%'}
          // is3D: true,
         // tooltip: {isHtml: true}
        };

        var chart = new google.visualization.PieChart(document.getElementById(div));

        chart.draw(chartData, options);
      }
    

  </script>	
	    			
	<style type="text/css">
.publish
{
	display: block;
	width: 400px;
}

.right
{
	position: relative;
	float: right;
	top: -300px;
	right: 100px;
	
}

.map
{

	width : 100%;
	height: 400px;
}

.chart
{

	width : 100%;
	height: 450px;
}

.dataGridColumns {
    vertical-align: top;
}
#tabView\:edit,#tabView\:publish,#tabView\:text,#tabView\:report,#tabView\:users{

	display:none;
}

	</style>

	</ui:define>
	

	<ui:define name="content" style="overflow:hidden">
		<h:form prependId="false">
		
		    <p:growl id="growl" showDetail="true" sticky="true" /> 
		
                    
                    <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
					<p:dialog modal="true" widgetVar="statusDialog" header="Status"   
        			draggable="false" closable="false">  
    				<p:graphicImage value="/resources/images/ajaxLoadingBar.gif" />  
					</p:dialog>  
					
					<p:dialog modal="true" widgetVar="statusDialogReport" header="Status"   
        			draggable="false" closable="false">  
        			<span>Getting data and generating report</span>
    				<p:graphicImage value="/resources/images/ajaxLoadingBar.gif" />  
					</p:dialog>  
		
			<p:tabView id="tabView" dynamic="true" activeIndex="#{GuideEditController.activeIndex}">
				<p:tab id="contents" title="Contents">
					<ui:include src="admin.xhtml"/>
				</p:tab>
				<p:tab id="edit" title="Edit">
					<p:growl id="guideTabGrowl" showDetail="true" autoUpdate="true" />
					<iframe src="/views/guide/view.jsf?g=#{GuideEditController.guide.id}&amp;autologin=true"
						width="100%" height="600px" />
						
						<br/><br/><br/><br/>
						<div>
						
					<span>Subdomain: <p:inputText id="subdomain" value="#{GuideEditController.subdomain}" style="width:160px"></p:inputText>		
						Parent ID: <p:inputText id="parentId"
						value="#{GuideEditController.parentId}" style="width:40px"></p:inputText>	<br/>	
						<p:commandButton align="right" value="Save" actionListener="#{GuideEditController.saveGuide()}" />
					</span>
					
					</div>
				</p:tab>

				<p:tab id="publish" title="Publish">
					<h:form name="publishContent" style="overflow:hidden" prependId="false">
					
						<p:selectOneMenu style="width:250px"
							disabled="#{!GuideEditController.isAdmin()}"
							value="#{GuideEditController.guide.status}">
							<f:selectItems value="#{GuideEditController.statuses}"
								var="status" itemLabel="#{status.descriptor}"
								itemValue="#{status.code}" />
							<p:ajax event="change"
								listener="#{GuideEditController.saveGuide}" />
						</p:selectOneMenu>
	

					<p:outputPanel id="default_scene_image"
										autoUpdate="true"
										style="width:300px;height:300px">
										<p:graphicImage
											style="display:block;width:300px;height:300px;"
											url="#{buildProperties.cdnUrl}/#{GuideEditController.getGuide().getThumbName()}" />
									</p:outputPanel>
			
				<div class="right">
					<div class="publish">
						<b>SHORT URL </b> <br/> Use for sharing and social media
								<p:inputTextarea id="shorturl"
										style="width:300px; height:20px"
										value="http://beek.co/g#{GuideEditController.getGuide().getId()}" />
					</div><br/>		
				
					<div class="publish">			
						<b>LONG URL </b> <br /> Use for links in websites forbetter SEO
								<p:inputTextarea id="longurls"
										style="width:400px; height:20px" onload="replace()"
										value="http://beek.co/guide/#{GuideEditController.getGuide().getId()}-#{GuideEditController.getGuide().getTitle()}" />
							<script>
								$('#tabView\\:longurls').text(function (i, text) {
									url = text.replace(/\s+/g, '-');
								    $('#tabView\\:longurls').text(url);
								});	
							</script>
					
					</div><br/>	
					
					<div class="publish">					
						<b>EMBED IFRAME </b> <br /> Copy this code into your website, and change the size to suit. <br />
								<p:inputTextarea
										style="width:400px; height:20px"
										value="&lt;iframe allowFullscreen=&quot;true&quot; src=&quot;http://#{GuideEditController.beekDomain}/g#{GuideEditController.guide.id}&quot;/&gt;" />
					</div><br/>
					<div class="publish">			
						<b>JQUERY PLUGIN </b> <br /> You can
									customise your own version of Beek to install on your website.
									Download the code and edit the beek.html to suit your needs.
									Enter your scene or guide ID in the load() function. <br />
								<p:commandButton value="Download .zip"
										ajax="true" immediate="true"
										action="http://beek.co/beekjs/beekjs.zip" />
					
					</div>
				</div>
				
				
				
       </h:form>
     </p:tab>
     
     
     
     <p:tab id="text" title="Text Version">
     
     		<h1> Text Version </h1>
					<span>Use this text in places where you can submit articles to generate traffic to your guide.  </span>
				<br/>
				<ul>
					<ui:repeat value="${GuideViewController.selectedGuide.guideSections}" var="section">
					<h2>#{section.title}</h2>
						<ul>
						<ui:repeat value="${section.guideScenes}" var="guideScene">
							<h3><a href="http://#{GuideViewController.domain}/guide/#{GuideViewController.selectedGuide.id}-#{GuideViewController.getGuideTitleURl()}/#{guideScene.scene.id}-#{guideScene.titleUrl}">#{guideScene.titleMerged}</a></h3>
							<span>#{guideScene.getCleanDescription()}</span><br/><br/>
							<a href="http://#{GuideViewController.domain}/guide/#{GuideViewController.selectedGuide.id}-#{GuideViewController.getGuideTitleURl()}/#{guideScene.scene.id}-#{guideScene.titleUrl}"><img width="100px" src="http://cdn.beek.co/scene_#{guideScene.scene.id}_thumb_#{guideScene.scene.thumbIncrement}.jpg"/></a>
							<ul>
								<ui:repeat value="${guideScene.photos}" var="photo">
								<a href="http://#{GuideViewController.domain}/guide/#{GuideViewController.selectedGuide.id}-#{GuideViewController.getGuideTitleURl()}/#{guideScene.scene.id}-#{guideScene.titleUrl}/#{photo.id}">#{photo.title}</a>
									<span>#{photo.getCleanDescription()}</span><br/>
								</ui:repeat>
								<ui:repeat value="${guideScene.posters}" var="poster">
								<a href="http://#{GuideViewController.domain}/guide/#{GuideViewController.selectedGuide.id}-#{GuideViewController.getGuideTitleURl()}/#{guideScene.scene.id}-#{guideScene.titleUrl}/#{poster.id}">#{poster.title}</a>
									<span>#{poster.getCleanText()}</span><br/>
								</ui:repeat>
							</ul>
							<br/>
						</ui:repeat>
						</ul>
				
						
					</ui:repeat>
				</ul>
         </p:tab>
         
         
         
         
	<p:tab id="report" title="Report">

		<style type="text/css">
			.ui-datalist-content {
				border:none !important;
			}

			.reporttitle
			{
			font-size : 26px;
			}
		</style>
	<div style="float: left; display: block; width: 50%; height: 350px">
			<p:outputPanel id="guidecover"
                            autoUpdate="true"
                            style="width:300px;height:300px">
                            <p:graphicImage
                                style="display:block;width:300px;height:300px;"
                                url="#{buildProperties.cdnUrl}/#{GuideEditController.getGuide().getThumbName()}" />
                        </p:outputPanel>
            </div>
              <div style="float: left; display: block; width: 50%; height: 350px">
                        <p:dataList value="#{GuideEditController.getPerformance()}" var="row" itemType="disc" emptyMessage="no data" >
				  <h1>	#{row.first}: #{row.second}</h1>
			  </p:dataList>
                  </div>
                <br/>



       <span class="reporttitle" >Scenes</span>
            <p:dataGrid columnClasses="dataGridColumns" lazy="true" var="visit" value="#{GuideEditController.visitsByScene}" widgetVar="visitTable"
            rows="10"	paginator="true" paginatorPosition="bottom" paginatorAlwaysVisible="false"  columns="5" emptyMessage="no data">
                <p:panel style="width:210px; padding: 5px" headerText="Scene" emptyMessage="no data">
                   <img src="http://cdn.beek.co/#{visit.thumbName}" style="width: 210px; height: 200px"/><br/>
                        <h2><h:outputText value="#{visit.title}" /></h2>
                        <b> Views: </b><h:outputText value="#{visit.pageViewsString}" /><br/>
                        <b> Average time:  </b><h:outputText value="#{visit.avgTimeOnPageString}" />


                <h3><h:outputText value="Hotspots" /></h3>
                <p:dataList emptyMessage="no data"  rows="5"  var="hotspot" rendered="#{GuideEditController.sceneDataReady(visit.sceneId)}" value="#{GuideEditController.getHotspotByScene(visit.sceneId)}">
                    #{hotspot.getHotspotTitle()}: #{hotspot.total}
                </p:dataList>
         </p:panel>


            </p:dataGrid >


        <span class="reporttitle" >Cities</span>
                 <div class="chart" id='report_map'></div>
                 <br/>
                 <div>
                          <span class="reporttitle" >Sources</span>
                          <div class="chart" id='sourcePieChart'></div>
                </div>


<script type='text/javascript'>
setTimeout(function(){drawMap(#{GuideEditController.getCitiesData()})},1000);
setTimeout(function drawPieCharts(){
drawChart('Sources', 'Visits',#{GuideEditController.getSourceData()}, 'sourcePieChart');

},1000);
</script>





				
	</p:tab>

	<p:tab id="users" title="Users">
					<p:ajaxStatus onsuccess="PF('statusDialog').hide();" />

					<br> </br>
					<br> </br>
                Enter Email Address:
		           <p:inputText id="emailField"
						value="#{GuideEditController.emailAddress}" style="width:160px"></p:inputText>
					<p:commandButton align="right" value="Add User" update="tabView:userEmails"
						actionListener="#{GuideEditController.addUser()}" />
					<br />
					<br />
					<br> </br>
					<table border="0">
						<tr>
							<td valign="top">Users</td>
						</tr>
						<tr>
							<td><p:dataTable id="userEmails" var="usersEmails" width="200"
									value="#{GuideEditController.usersEmails}"
									emptyMessage="No users found.">
									<p:column>
										<h:outputText value="#{usersEmails}" />
									</p:column>
									<p:column style="width:4%">
										<p:commandLink
											actionListener="#{GuideEditController.removeUser(usersEmails)}">
											<h:outputText value="Remove User" />
										</p:commandLink>
									</p:column>
								</p:dataTable></td>
						</tr>
					</table>

				</p:tab>
			</p:tabView>

		
		</h:form>

	</ui:define>
</ui:composition>