<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../template.xhtml">
    <ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{GuideLinkController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>
	</ui:define>
	
	<ui:param name="guide" value="#{GuideLinkController.guide}" />
	<ui:param name="location" value="#{GuideLinkController.location}" />

    <ui:define name="content">
		<p:breadCrumb>
			<p:menuitem value="Dashboard" url="/" />
			<p:menuitem value="Link Location" url="/guide/#{guide.id}/link/#{location.id}" />
		</p:breadCrumb>
        <h:form prependId="false">
	        <p:growl id="linkGrowl" showDetail="true" autoUpdate="true"/>
            <p:panel id="createPanel" header="#{guide.title}" style="width:670px">
              Add the following location: <STRONG>#{location.title}</STRONG> 
              to your guide: <STRONG>#{guide.title}</STRONG>
              <f:facet name="footer">
                    <p:commandButton value="Add Link" style="width: 200px" 
                    	ajax="true"
                    	action="#{GuideLinkController.addLink}"/>
              </f:facet>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>