<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../template.xhtml">
    <ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{GuideLinkRequestController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>
	</ui:define>

	<ui:param name="guide" value="#{GuideLinkRequestController.guide}" />

    <ui:define name="content">
		<p:breadCrumb>
			<p:menuitem value="Dashboard" url="/" />
			<p:menuitem value="Link Location" url="/guide/#{guide.id}/linkrequest" />
		</p:breadCrumb>
        <h:form prependId="false">
	        <p:growl id="linkGrowl" showDetail="true" autoUpdate="true"/>
            <p:panel id="createPanel" header="#{guide.title}" style="width:670px">
           	  Request to have your location:
                 <ui:fragment rendered='#{GuideLinkRequestController.locations.size() &gt; 1}'>                                  
                     <p:selectOneMenu style="width:200px" 
                     		value="#{GuideLinkRequestController.locationId}"> 
                        <f:selectItems value="#{GuideLinkRequestController.locations}" 
				                 	var="location"
				                    itemLabel="#{location.title}" 
				                    itemValue="#{location.id}"/>
                     </p:selectOneMenu>
                     
                 </ui:fragment>
                 <ui:fragment rendered='#{GuideLinkRequestController.locations.size() == 1}'>                                  
                    #{GuideLinkRequestController.locations.get(0).title}
                 </ui:fragment>
                 <br/>
                 
              added to the guide: <STRONG>#{guide.title}</STRONG>
              <f:facet name="footer">
	           		<ui:fragment rendered='#{GuideLinkRequestController.locations.size() &gt; 0}'>  
	                    <p:commandButton value="Send Request" style="width: 200px" 
	                    	ajax="true"
	                    	action="#{GuideLinkRequestController.sendLinkRequest}"/>
	              </ui:fragment>
	              <ui:fragment rendered='#{GuideLinkRequestController.locations.size() == 0}'>  
	              		You need to have at least one location to join a guide.
	              </ui:fragment>
              </f:facet>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>