<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../template.xhtml">

	<ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{GuideReportController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>
	</ui:define>
	
    <ui:define name="content">
    	<p:breadCrumb>
		<p:menuitem value="Dashboard" url="/" />
		<p:menuitem value="Guide Report" url="/guide/#{GuideReportController.guide.id}/report" />
	</p:breadCrumb>
	<style type="text/css">
	    .ui-datalist-content {
	        border:none !important;
	    }
	</style>
	 <script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
     google.load('visualization', '1', {'packages': ['geochart']});
     google.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
        	['Country', 'Visits'],
        <ui:repeat value="${GuideReportController.countriesMapData}" var="country">
			['${country.name}', ${country.visits}],
		</ui:repeat>
        ]);

        var options = {};

        var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    };
    </script>
	<table width="900">
		<tr>
			<td width="450" style="padding-left:50px;">
				<p:graphicImage value="#{buildProperties.cdnUrl}/#{GuideReportController.guide.thumbName}" />
			</td>
			<td width="450">
				<p:fieldset legend="Performace">
					<p:dataList value="#{GuideReportController.performance}" var="row"  >
						#{row.first}: #{row.second}
					</p:dataList> 
				</p:fieldset><br/>

				<p:fieldset legend="Engagement">
					<p:dataList value="#{GuideReportController.engagement}" var="row"  >
						#{row.first}: #{row.second}
					</p:dataList>
				</p:fieldset><br/>
				
				

				

				
			</td>
		</tr>
		<tr>
			<td>
				<p:panel header="Visits by Month" >
					<p:graphicImage value="#{GuideReportController.visitsOverTimeChart}" />
				</p:panel>
			</td>
			<td>
				<p:panel header="Average Scenes by month" >
					<p:graphicImage value="#{GuideReportController.scenesOverTimeChart}" />
				</p:panel>
			</td>
		</tr>
		<tr>
			<td>
				<p:panel header="Average Visit Duration by month" >
					<p:graphicImage value="#{GuideReportController.durationOverTimeChart}" />
				</p:panel>
			</td>
			<td>
				
			</td>
		</tr>
	</table>
	
	Scene
		<p:dataTable var="visit" value="#{GuideReportController.visitsByScene}">
			
			<p:column style="width:300px" headerText="Scene">
				<a href="#{GuideReportController.guidePath}/#{visit.sceneId}"  target="_blank">
			    	<h:outputText value="#{visit.title}" />
			    </a>
			</p:column>

			<p:column style="width:90px" headerText="Views">
			    <h:outputText value="#{visit.pageViews}" />
			</p:column>
			
			 <p:column headerText="Average visit length">
			    <h:outputText value="#{visit.avgTimeOnPage}" />
			</p:column>
			
		</p:dataTable>
		<br/>
	Referrals
		<p:dataTable var="referral" value="#{GuideReportController.referals2}">
			<p:column style="width:300px" headerText="Referral Path">
			    <a href="http://#{referral.referralSource}#{referral.referralPath}"  target="_blank">
			    	<h:outputText value="#{referral.referralSource}#{referral.referralPath}" />
			    </a>
			</p:column>

			<p:column style="width:90px" headerText="Visits">
			    <h:outputText value="#{referral.visits}" />
			</p:column>

			<p:column headerText="Pageviews per Visit">
			    <h:outputText value="#{referral.pageViewsPerVisit}" />
			</p:column>
		</p:dataTable>
	<br/>
	<br/>
		<div id="chart_div" style="width: 900px; height: 500px;"></div>
	<br/>
		<p:fieldset legend="Guide Actions">
			<p:dataList value="#{GuideReportController.guideActions}" var="row"  >
				#{row.first}: #{row.second}
			</p:dataList>
		</p:fieldset><br/>
	<br/>
	
	Media Events
		<p:dataTable var="event" value="#{GuideReportController.mediaEvents}">
			<p:column style="width:300px" headerText="Media">
				<a href="#{GuideReportController.guidePath}/#{event.sceneId}/#{event.hotspotId}"  target="_blank">
			    	<h:outputText value="#{event.hotspotTitle}" />
			    </a>
			</p:column>
			<p:column style="width:90px" headerText="Total">
			    <h:outputText value="#{event.total}" />
			</p:column>
		</p:dataTable>
    	<br/>
    	
  	Individual Visits
		<p:dataTable var="visit" value="#{GuideReportController.individualVisits}">
			<p:column style="width:300px" headerText="Email">
				<a href="/guide/#{GuideReportController.guide.id}/report/#{visit.key}/"  target="_blank">
			    	<h:outputText value="#{visit.email}" />
			    </a>
			</p:column>
			<p:column style="width:90px" headerText="Date">
			    <h:outputText value="#{event.dateFormatted}" />
			</p:column>
		</p:dataTable>
    	<br/>
	<br/>
		<br/>
	<br/>
    </ui:define>
    
</ui:composition>