<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>#{GuideViewController.selectedGuide.destination.title} - #{GuideViewController.selectedGuide.title} - #{GuideViewController.selectedScene.titleMerged}</title>

	<meta name="description" content="#{GuideViewController.selectedGuide.title} Interactive guide to help you experience #{GuideViewController.selectedGuide.destination.title}, and #{GuideViewController.selectedScene.titleMerged}. Use the panorama tour to explore the virtual destination. " />

	<meta name="keywords" content="#{GuideViewController.selectedGuide.destination.title}, #{GuideViewController.guideNamesCommaDelimited}, 3d, virtual, panorma, guide, tour, video, destination, travel, visitor" />

    <f:metadata>
        <f:event listener="#{GuideViewController.validateGuideViewPageURL}" type="preRenderView"/>
    </f:metadata>
    
	<link rel="iframe_src" href="http://#{GuideViewController.domain}#{GuideViewController.scenePath}"/>
    
    <meta property="fb:admins" content="117333291687303" />
    <meta property="og:title" content="#{GuideViewController.selectedGuide.title} - #{GuideViewController.selectedScene.titleMerged}"/>
    <meta property="og:type" content="movie"/>
    <meta property="og:url" content="http://#{GuideViewController.domain}#{GuideViewController.scenePath}"/>
    <meta property="og:image" content="#{buildProperties.cdnUrl}/#{GuideViewController.selectedScene.scene.thumbName}"/>
    <meta property="og:site_name" content="Beek"/>
    <meta property="og:description" content="#{GuideViewController.selectedScene.descriptionMergedCleaned}"/>
    <meta property="og:video:width" content="320" />
    <meta property="og:video:height" content="200" />
	
    <!-- test -->
    <style type="text/css" media="screen">
        html, body {
            height: 100%;
            overflow: hidden;
            font-family: Arial, Helvetica, sans-serif;
	   color: #FFFFFF;
        }

        body {
            margin: 0;
            padding: 0;
            layout: absolute;
			background-image:url('http://gms.#{GuideViewController.domain}/resources/images/bg.png') ;
			background-repeat:repeat-x;
			background-color: #30b8ec;
        }

        #preloadtext {
         	text-align: left;
        }
        
        #preloader {
			display: none;
			width: 600px; /*the width of the element*/
			height: 100px; /*the height of the element*/
			position: absolute; /*absolute position to center the element in relation to its parent element*/
			left: 50%; /*the left border of the element is positioned at half of the available width of the parent element*/
			top:50%;
			margin-left: -300px; /*half of the element width is removed from the left margin to center it*/
			margin-top: -170px;
			font-size: 14px;
        }

        .preloader_embed {
        	margin-top: -30px !important;
        	width: 200px !important;
        	margin-left: -100px !important;
        }
        
        #preloadtrack {
        	xxwidth:300px;
        	background-color:#FFF;
			padding:1px;
			margin-top:5px;
        }
        
        #preloadbar {
        	width:1px; 
        	height:4px; 
        	background-color:#3b80c3;
        }

		#descriptionHolder {
    		position: absolute;
    		bottom: 60px;
    		left:50%;
			width: 320px;
			height: 320px;
			margin-left: 15px;
			background-color: #FFFFFF;
        }
	
        #logo {
    		position: absolute;
    		top: 10px;
    		left:16px;
        }
        
        #guidethumb {
    		position: absolute;
    		height:330px;
    		width:336px;
    		bottom: 60px;
    		left:50%;
        }

        #guideshelf {
    		position: absolute;
    		bottom: 10px;
			width:760px;
			height:100px;
    		left:50%;
			margin-left: -380px;
			background-image:url('http://gms.#{GuideViewController.domain}/resources/images/shelf.png')
        }
	
        #play-button {
            display: none;
        }

        #itunes-button {
            display: none;
        }
        
        .flash-hidden {
            position: absolute;
            top: 1000px;
        }

        .flash-visible {
            height: 100%; 
            width: 100%;
            top: 0;
        }
        
        /*Info Container*/
        
         #guidehelpcontainer {
    		height:330px;
    		width:336px;
			position: absolute;
			bottom: 60px;
			right:50%;
        }

        h1 {
			font-size: 18px;
			padding-top: 12px;
			padding-left: 24px;
			text-decoration:none;
		}

		h2 {
			font-size: 12px;
			padding-left: 24px;
			font-weight: bold;
			margin-bottom:5px;
		}
		
		ul{
			list-style-type: square;
		}
		
		ul ul{
			list-style-type: none;
			padding-left: 10px;
		}
		
        li {
			font-size: 11px;
			padding-left: 4px;
			margin-left: 0;
		}
		
		
		a:link {color:#FFFFFF;text-decoration:none}      /* unvisited link */
		a:visited {color:#FFFFFF;text-decoration:none}  /* visited link */
		a:hover {color:#FFFFFF;text-decoration:none}  /* mouse over link */
		a:active {color:#FFFFFF;text-decoration:none}  /* selected link */
		
		.menu ul li ul {
		    display:none;
		}
		.menu ul li.selected ul {
		    display:block;
		}
       
    </style>
    
    <script type="text/javascript" src="http://gms.#{GuideViewController.domain}/resources/js/swfobject.js"></script>   
    <script type="text/javascript" src="http://gms.#{GuideViewController.domain}/resources/js/jquery.min.js"></script>   
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="http://gms.#{GuideViewController.domain}/resources/js/jquery.transit.js"></script>
	<script src="http://gms.#{GuideViewController.domain}/resources/js/jquery.leanorama.js"></script>
	<script src="http://gms.#{GuideViewController.domain}/resources/js/jquery.leanorama.infobox.js"></script>
	<script src="http://gms.#{GuideViewController.domain}/resources/js/jquery.leanorama.beek.js"></script>
	<script src="http://gms.#{GuideViewController.domain}/resources/js/jquery.leanorama.beek.bubbles.js"></script>
    <script type="text/javascript">
    	
	var loadImmediately = false;
	var flashLoaded = false;
		
	var STAGE_SWF_LOADED = 1;
	var STAGE_GUIDE_LOADED = 2;
	var STAGE_SCENE_LOADED = 3;

	function isIOSBrowser()
	{
		return (/iphone|ipad|ipod/i.test(navigator.userAgent.toLowerCase()));  
	} 
	
	function isMobileBrowser()
	{
		return (/iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm/i.test(navigator.userAgent.toLowerCase()));  
	} 
	
	function startMyApp()
	{
		var iOS = ( navigator.userAgent.match(/(iPad|iPhone|iPod)/g) ? true : false );
		if(iOS)
			launchIOSApp();
			
		var ua = navigator.userAgent.toLowerCase();
		var isAndroid = ua.indexOf("android") &gt; -1;
		if(isAndroid)
			launchAndroidApp();
	 }
	 
	function launchIOSApp()
	{
	  document.location = 'beek://guide/#{GuideViewController.selectedGuide.id}';
	  setTimeout( function()
	  {
	      document.location = 'itms://itunes.apple.com/us/app/beekAppId';
	  }, 300);
	}
	
	function launchAndroidApp()
	{
	  document.location = 'beek://guide/#{GuideViewController.selectedGuide.id}';
	  setTimeout( function()
	  {
	      document.location = 'http://m.#{GuideViewController.domain}/android';
	  }, 300);
	}

	function doesNotHaveFlash()
	{
		var version = swfobject.getFlashPlayerVersion();
		return (version["major"] &lt;= 10 &amp;&amp; version["minor"] &lt; 2);  
	} 

	function showUpgradeFlash()
	{
		loadFlash();
		document.getElementById("player-div").className = "flash-visible";
		document.getElementById("preview").className = "preview-hidden";
	} 
			
	function navigateToHTML5Version()
	{
		//document.getElementById("itunes-button").style.display = "inline";
		//document.getElementById("itunes-button").style.visibility = "visible";
		
		//window.location.href = "http://#{GuideViewController.domain}/beekjs/beek.html?guide=#{GuideViewController.selectedGuide.id}"
            $('#swfContainer').leanorama({
                gyro: false,
                touch: true,
                autostart: false,
                beek: {
                    jsonpPrefix: 'http://gms.beektest.co',
                    cdnPrefix: 'http://cdn.beek.co'
                }
            });
	}
	
	function showPlayButton()
	{
		document.getElementById("play-button").style.display = "inline";
		document.getElementById("play-button").style.visibility = "visible";
	}
	
	function showPreloader()
	{
		document.getElementById("preloader").style.display = "block";
		document.getElementById("preloader").style.visibility = "visible";
		showProgress(0.2);
	}
	
	function preloadFlash()
	{
		showPreloader();
		showHideHelp();
		buildMenu();
			
		// fail safe in-case the thumb does not load.
		setTimeout("loadFlash()", 1000);

		loadImmediately = true;
	}

	function onPlayButtonClick()
	{
		document.getElementById("play-button").style.display = "none";
		document.getElementById("play-button").style.visibility = "hidden";
	
		showPreloader();
		loadFlash();
	}
	
	function loadFlash()
	{
		if(flashLoaded)
			return;
		flashLoaded = true;
		
		showProgress(0.2);

		var params = {
			"quality" : "high",
			"bgcolor" : "#30b8ec",
			"allowscriptaccess" : "always",
			"allowfullscreen" : "true",
			"wmode" : "direct"
		}

		var attributes = {
			"id" : "player-swf",
			"name" : "player-swf",
			"align" : "middle"
		};
		
		var flashvars = #{GuideViewController.flashVarsJSON}
	
		var playerVersion = swfobject.getFlashPlayerVersion();
		var swfUrl = playerVersion.major &lt; 11 
			? "#{GuideViewController.playerSwfUrlFlash10}"
			: "#{GuideViewController.playerSwfUrl}?r=yuioasdfas";
	
		swfobject.embedSWF(
				swfUrl,
				"player-div",
				"100%", "100%",
				"10.2.0", 
				"/resources/swf/playerProductInstall.swf",
				flashvars, 
				params, 
				attributes
		);
	}

	var currpercent = 0;
	var timeout;
	
	function showProgress(percent, endfunction)
	{
		currpercent += 0.02;
		
		var text = "Loading ";
		var width = $(document).width();
		if (width &gt; 700)
			text += "#{GuideViewController.selectedGuide.title} Guide ";
		
		text += (percent *100)+"%";
		var barWidth = $("#preloadtrack").width() * currpercent;
		
		$("#preloadtext").html(text);
		$("#preloadbar").width(barWidth);

		if(currpercent &lt; percent)
			timeout = setTimeout("showProgress("+percent+", "+endfunction+");", 20);

		else if(endfunction != null)
			endfunction();
	}
		


	function setSwfStage(stage)
	{
		switch(stage)
		{
			case STAGE_SWF_LOADED:
				showProgress(0.5);
				break;
				
			case STAGE_GUIDE_LOADED:
				showProgress(0.7);
				break;
				
			case STAGE_SCENE_LOADED:
				showFlash();
				break;
		}
	}

	function showFlash()
	{
		clearTimeout(timeout);
			
		showProgress(1, setSwfVisible);
	}
	
	function setSwfVisible()
	{
		$('#swfContainer').css({"left": "0"});
		$("#preview").hide();
	}

	function trackVisitKey(key)
	{
		_gaq.push(['_setCustomVar', 1, 'key', key, 1]);
	}
	
	function trackSceneView(sceneId)
	{
		_gaq.push(['_trackPageview', '#{GuideViewController.guidePath}/s'+sceneId]);
	}

	function trackEvent(category, action, label)
	{
		_gaq.push(['_trackEvent', category, action, label]);
	}
    
        function shareOnFaceBook(url)
        {
            var t = document.title;
            window.open(
            	'http://www.facebook.com/sharer.php?u=' + encodeURIComponent(url) + '&amp;t=' + encodeURIComponent(t), 
            	'sharer', 
            	'toolbar=0,status=0,width=626,height=436'
            );
        }
        
        function openLikeFacebookWindow(url)
        {
		window.open(
			'http://www.facebook.com/plugins/like.php?href=' + encodeURIComponent(url), 
			'like', 
			'toolbar=0,status=0,width=450,height=80'
		);
        }

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{buildProperties.gaCode}']);
        _gaq.push(['_trackPageview', '#{GuideViewController.scenePath}']);
        
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
        
        $(window).resize(function() {
        
			showHideHelp();
		});
	
		$(document).ready(function () {
			//startMyApp();
			
		});
        
        function showHideHelp(){
        	var width = $(document).width();
		    
        	if (width &lt; 700) {
		        $("#logo").hide();
		        $("#guidethumb").hide();
		        $("#guidehelpcontainer").hide();
		        $("#descriptionHolder").hide();
		        $("#guideshelf").hide();
		        $("#preloader").toggleClass('preloader_embed', true);
		    } else {
		        $("#logo").show();
		        $("#guidethumb").show();
		        $("#guidehelpcontainer").show();
		        $("#descriptionHolder").show();
		        $("#guideshelf").show();
		        $("#preloader").toggleClass('preloader_embed', false);
		    }
        }
        
        function buildMenu()
        {
	        $(".menu").click(function(e) {
	        	var sel = $(".menu .selected");
		        sel.removeClass("selected");
		        
		        var nextSel = $(e.target).closest("li");
		        if(sel.html() != nextSel.html())
		        	nextSel.addClass("selected").parent().parent().addClass("selected");
		    });
        }

    </script>
</head>
<body>
	<div id="preview" >
	    <img id="logo" alt="Beek Logo" src="http://gms.#{GuideViewController.domain}/resources/images/logo_white.png" />
	        
		<div id="preloader">
			<div id="preloadtext">this is some text</div> 
			<div id="preloadtrack"><div id="preloadbar"></div></div>
		</div><!-- end preloader -->
		<div id="guideshelf" ></div>
		<div id="guidehelpcontainer" class='menu'>
			<h1>Contents</h1>
			<ul>
				<ui:repeat value="${GuideViewController.selectedGuide.guideSections}" var="section">
				<li><a href='#'>#{section.title}</a>
					<ul>
					<ui:repeat value="${section.guideScenes}" var="guideScene">
						<li><a href="#{GuideViewController.guidePath}/s#{guideScene.scene.id}">#{guideScene.titleMerged}</a></li>
					</ui:repeat>
					</ul>
				</li>
				</ui:repeat>
			</ul>
		</div><!-- end guidehelpcontainer -->
		<div id="descriptionHolder"><h:outputText value="${GuideViewController.selectedScene.descriptionMergedCleaned}" escape="false" /></div>
	    <img id="guidethumb" src="#{buildProperties.cdnUrl}/#{GuideViewController.selectedGuide.thumbName}" />
	    <div id="itunes-button">
	   		Find the Beek app in the itunes store
	    </div>
	    <div id="play-button">
	   		<a href="Javascript:onPlayButtonClick()">Play</a>
	    </div>
    </div><!-- end preview -->
    <div id="swfContainer" style="position:absolute; left:2000px; width:100%; height:100%">
	    <div id="player-div" class="flash-hidden">
	        <p>
	            To view this page ensure that Adobe Flash Player version
	            10.2.0 or greater is installed.
	        </p>
	        <script type="text/javascript">
	            var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
	            document.write(unescape("%3Ca href='http://www.adobe.com/go/getflashplayer'%3E%3Cimg src='" + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player'/%3E"));
	        </script>
	    </div>
    </div>
    <script type="text/javascript">
		if(isIOSBrowser())
			navigateToHTML5Version();

		else if(doesNotHaveFlash())
			navigateToHTML5Version();
			
		else if(isMobileBrowser())
			navigateToHTML5Version();
			
		else
			preloadFlash();
    </script>
</body>
</html>
