
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://java.sun.com/jsf/html">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>#{GuideViewController.selectedGuide.title}</title>

    <meta name="description" content="#{GuideViewController.selectedGuide.title}, #{GuideViewController.selectedScene.titleMerged} " />

    <meta name="keywords" content="#{GuideViewController.selectedGuide.title}, #{GuideViewController.guideNamesCommaDelimited}, 3d, virtual, panorma, guide, tour, video, destination, travel, visitor" />

    <meta property="og:title" content="#{GuideViewController.selectedGuide.title}"/>
    <meta property="og:url" content="http://#{GuideViewController.domain}#{GuideViewController.scenePath}"/>
    <meta property="og:image" content="#{buildProperties.cdnUrl}/#{GuideViewController.selectedScene.scene.thumbName}"/>
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Beek"/>
    <meta property="og:description" content="#{GuideViewController.selectedScene.descriptionMergedCleaned}"/>


    <link rel="stylesheet" href="#{GuideViewController.CSSPath}player.css" />
    <link rel="stylesheet" href="#{GuideViewController.CSSPath}beek.css" />


    <f:metadata>
        <f:event listener="#{GuideViewController.validateGuideViewPageURL}" type="preRenderView"/>
    </f:metadata>

    <link rel="iframe_src" href="http://#{GuideViewController.domain}#{GuideViewController.scenePath}"/>

    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, maximum-scale=1.0,  minimum-scale=1, user-scalable=no, shrink-to-fit=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="mobile-web-app-capable" content="yes"/>



</head>

<body>
<div id="preloader">

    <div id="guideIntro">
        <ui:fragment rendered="#{GuideViewController.selectedGuide.thumbName ne 'guide_default_thumb_1.png'}">
        <img id="guideCoverImg" />
        </ui:fragment>

        <div class="guideIntroText">
            <h1>#{GuideViewController.selectedGuide.title}</h1>
            <span>#{GuideViewController.selectedGuide.description}</span>
        </div>

    </div>

</div>
<div id="container"/>
<div class="spacer"></div>
<div id="html2canvasRenderer"/>

<script type='text/javascript' src="#{GuideViewController.JSPath}sidjs-0.1.js"></script>
<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type='text/javascript' src="#{GuideViewController.JSPath}jquery.address.js"></script>
<script type='text/javascript' src="#{GuideViewController.JSPath}player.js"></script>


<script type="text/javascript">

    var guideTitle = '#{GuideViewController.selectedGuide.title}';
    var guidePath = '#{GuideViewController.guidePath}';
    var guideThumb = '#{GuideViewController.selectedGuide.thumbName}';
    var guideDescription = "#{GuideViewController.selectedGuide.description}";
    var domain = '#{GuideViewController.domain}';
    var scenePath = '#{GuideViewController.scenePath}';
    var gaCode = '#{buildProperties.gaCode}';

    var sceneId = '#{GuideViewController.selectedScene.getScene().getId()}';
    var guideId = '#{GuideViewController.selectedGuide.id}';
    var connectId = '#{GuideViewController.getConnectId()}';
    var userId = '#{GuideViewController.getUserId()}';
    var jsPath = '#{GuideViewController.JSPath}';
    var cssPath = '#{GuideViewController.CSSPath}';

    var status = '#{GuideViewController.getSelectedGuide().status}';
    var hostdomain = location.hostname.split('.');
    var subdomain = hostdomain.shift();
    var referrer  = document.referrer;

    var canvas2DSupported = !!window.CanvasRenderingContext2D;

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', gaCode]);
    _gaq.push(['_trackPageview', scenePath]);
    if(userId)
        _gaq.push(['_setCustomVar', 1, 'key', userId, 1]);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

    start();

</script>

</body>
</html>