@import url(//fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

.video-container {
width: 100%;
height: 100%;
position: absolute;
padding:0;
margin:0;
left: 0px;
top: 0px;
z-index: -1000;
overflow:hidden;
}


.video-player {

   min-height: 100%;  
   min-width:100%; 
   max-height: 100%;  
   max-width:100%; 
  	object-fit: fill;
   position:absolute;
  bottom:0;
   left:0;
}

video::-webkit-media-controls {
	display:none;
}

video::-webkit-media-controls-start-playback-button {
	display:none;
}

html:-moz-full-screen {
    background: black	;
}
 
html:-webkit-full-screen {
    background: black;
}
 
html:-ms-fullscreen {
    background: black;
    width: 100%; /* needed to center contents in IE */
}
 
html:fullscreen {
    background: black;
}

.spinner {
	width: 70px;
	height: 70px;
	z-index: 4;
	position: absolute;
	top:80%;
	bottom: 0;
	left: 80%;
	right: 0;
	margin: auto;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-webkit-transform: translate(-50%, -50%); /* Safari */
	transform: translate(-50%, -50%);
}

.double-bounce1, .double-bounce2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #662d91;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.1) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.2);
		-webkit-transform: scale(0.2);
	} 50% {
		  transform: scale(1.0);
		  -webkit-transform: scale(1.0);
	  }
}

.wrap {
	position: relative;
}


#video video::-webkit-media-controls{
	display: none;
}

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
	opacity: 0;
	pointer-events: none;
	width: 5px;
}


.playButton{
	position: absolute;
	top:80%;
	bottom: 0;
	left: 80%;
	right: 0;
	margin: auto;
	background-color: rgba(102, 45, 145, 0.2 );
	z-index: 5!important;
	height: 70px;
	width: 70px;
	padding: 10px;
	border-radius: 50%;
	text-align: center;
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-webkit-transform: translate(-50%, -50%); /* Safari */
	transform: translate(-50%, -50%);
}

.playButton i{
	font-size: 50px;
	line-height: 70px;
	margin-left: 5px;
	margin-top: 0px;
	display: inline-block;
	color: #662d91;
}

.userIdInput{
	background-color: #e6e8eb;
	color: #662d91;
	width: 200px;
	padding: 5px;
	margin: 10px;
	font-size: 14px;
}