<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../newtemplate.xhtml">
                
<script src="resources/js/jquery.min.js"></script>

    <ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{LeadCampaignEmailController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>
	</ui:define>
	
    <ui:define name="content">
		<h:form prependId="false">
                    <p:messages autoUpdate="true" />
                    <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
              
					<p:dialog modal="true" widgetVar="statusDialog" header="Status"   
        			draggable="false" closable="false">  
    				<p:graphicImage value="/resources/images/ajaxLoadingBar.gif" />  
					</p:dialog>  
		
					 Email Subject: <p:inputText id="Subject" value="#{LeadCampaignEmailController.emailSubject}" style="margin-left: 8px;margin-bottom: 5;width:450px" />   
					                  
						               
		<p:commandButton value="Send Email"  action="#{LeadCampaignEmailController.sendEmailButton()}" icon="ui-icon-mail-closed" style="margin-left: 8px;margin-bottom: 10px;width:200px; height: 30px"  />
		

			 <br/>
    <script>
		function linkInTextArea(a, b, c, d)
		{
			guideid = a, guidename = b, guidethumb = c, email = d;
			var email_link = '<li><a href="http://beek.co/g'+ guideid +'?email='+ email +'">' + guidename +'</a></li>';
			$('#editor_input').val($('#editor_input').val()+ email_link);
			UpdateFields()
			
		}
		
		function UpdateFields() {
		    for (instance in CKEDITOR.instances) {
		        CKEDITOR.instances[instance].updateElement();
		    }
		}
	</script>
<p:layout style="" id="layout">  

    <p:layoutUnit position="west" size="20%" resizable="false">
    
       	<p:accordionPanel value="#{LeadCampaignEmailController.references}" var="reference">  
	    <p:tab title="#{reference.shortname}">  
	        <h:panelGrid columns="1" cellpadding="10">  

	                <h:outputText value="#{reference.text}" style="font-weight: bold" escape="false"/>  
	  
	        </h:panelGrid>  
	  
	    </p:tab>  
	</p:accordionPanel>  
    </p:layoutUnit>  
  
  
    <p:layoutUnit position="center" size="80%" resizable="true">
      	 <p:editor id="editor" value="#{LeadCampaignEmailController.emailText}" style="width: 100%"  height="480"/>
    </p:layoutUnit>  

</p:layout>  




   
   

   
  
    			

 
    </h:form>
    </ui:define>
</ui:composition>