<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../newtemplate.xhtml">
    <ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{LeadCreateController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>
	    <style>
	    .guides
	    {
	    width: 430px;
	    float: right;
		top: -30px;
		right: 20px;
		position: relative;
	    
	    }
	   
	    
	    .item
	    {
	    float: left;
	    height: 400px;
	    vertical-align: top;
    	display: inline-block;
    	margin: 20px 20px
	    }
	    </style>
	</ui:define>
	
    <ui:define name="content">
    <h:form preappendid="false">

    <p:growl id="growl" showDetail="true" sticky="true" /> 
		
                    
                    <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
					<p:dialog modal="true" widgetVar="statusDialog" header="Status"   
        			draggable="false" closable="false">  
    				<p:graphicImage value="/resources/images/ajaxLoadingBar.gif" />  
					</p:dialog>  
		<p:panel id="pnl" header="New Lead" style="height:400px">
		<br> </br>
		                      <p:commandButton value="Save and Edit"  style= "width:150px; float: right"
			                  actionListener="#{LeadCreateController.saveLead(1)}" icon="ui-icon-disk"/>
			                  <br/><br/><br/>
		                      <p:commandButton value="Save and New"  style= "width:150px; float: right"
			                  actionListener="#{LeadCreateController.saveLead(2)}" icon="ui-icon-disk"/>

					        

      		        	<div class="item">
		                   <span style="float: left; height: 20px"> <h1>Organisation</h1> </span> 
		                   						 
                            <br/> <br/> <br/><br/> 
                           <span> Name</span><br/> 
                            <p:inputText id="orgName" value="#{LeadCreateController.orgName}" style=" width:200px"/>
                           <br/><br/> 
                           <span> Website</span><br/> 
                            <p:inputText id="orgWebsite" value="#{LeadCreateController.orgWebsite}" style=" width:200px"/>
							<br/> <br/> <br/> <br/>
						</div>
							
							
					<div class="item"> 
                            <h1>Contact</h1> 
							
							Name<br/>
                            <p:inputText id="firstName" value="#{LeadCreateController.firstName}" style="width:200px"/>
                            <br/> <br/>Surname<br/>
                            <p:inputText id="lastName" value="#{LeadCreateController.lastName}" style="width:200px"/>
                           <br/> <br/>Email<br/>
                            <p:inputText id="emailButton" value="#{LeadCreateController.email}" style="width:200px"/>
                           <br/><br/> Telephone<br/>
                            <p:inputText id="telephone" value="#{LeadCreateController.telephone}" style="width:160px"/>

					 </div>    
							
							<div class="item"> 
							    <h1>Campaign</h1> <br/>
							 <p:selectOneMenu id="campaigns" style="float: left; width: 200px; overflow-x: hidden" value="#{LeadCreateController.new_campaign_name}" >  
                      		  <f:selectItem itemValue="default" itemLabel="Select campaign" />
                      		  <f:selectItems value="#{LeadCreateController.getCampaigns()}" var="Campaigns" itemValue="#{Campaigns.campaign_name}" itemLabel="#{Campaigns.campaign_name}" /> 
                           	</p:selectOneMenu>  
                           	

 							 </div>  
                     </p:panel>
                            

    </h:form>
    </ui:define>
</ui:composition>