<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../newtemplate.xhtml">
    <ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{LeadEditController.preRenderView}" 
	        		type="preRenderView"/>

	    </f:metadata>

		<meta name="leadId" content="${leadId}"/>
	    <style>
	    .guides
	    {
	    float: left;
		position: relative;
	    
	    }
	    .container
	    {
	    float: left; 
	    margin-top:100px; 
	    margin-bottom:100px; 
	    margin: auto auto;
	    width: 100%
	    }
	    
	    .item
	    {
	    float: left;
	    width: 25%;
	    vertical-align: top;
    	display: inline-block;
    	text-align: left;
	    }
	    
	    .slider
	    {
	    float: left;
	     font-size :20px;
	    }
	    
	    .slidertext
	    {
	    width:33%; 
	    float: left;
	    }
	    
	     .ui-slider-horizontal .ui-state-default {
	     background:  url(http://beek.co/images/logo.png);
	     border: none;
	     background-size:50px 50px;
	     top: -28px;
	      width:50px; 
   		 height:50px; 
	     }
	    </style>
	    
	</ui:define>
	
    <ui:define name="content">
    <h:form preappendid="false">

    <p:growl id="growl" showDetail="true" sticky="true" /> 
		
                    
                    <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>
					<p:dialog modal="true" widgetVar="statusDialog" header="Status"   
        			draggable="false" closable="false">  
    				<p:graphicImage value="/resources/images/ajaxLoadingBar.gif" />  
					</p:dialog>  

 

<p:panel id="pnl" header="Edit Lead" style="display:block;overflow:auto;">
        <f:facet name="actions">  
				       		   <p:commandButton value="Save"  style= "width:100px; margin-left: 20px; float: right"
			                  actionListener="#{LeadEditController.saveLead()}" icon="ui-icon-disk"/>
				   			   <p:commandButton id="email" icon="ui-icon-mail-closed" value="Email" immediate="true" style="width:100px; float: right"
			                  actionListener="#{LeadEditController.redirectLeadEmail()}"/>
        </f:facet>  
 				 <span style="float: left; height: 20px"> <h1>Progress</h1> </span> 
				<div style="float:left; width: 100%; margin-top: 50px; margin-bottom: 50px">
				          <p:slider for="output" value="#{LeadEditController.percentCompleteInt}"  display="output" style="width:90%; float: left; margin-left: 20px" displayTemplate="{value}" step="5">  
		        			<p:ajax event="slideEnd" listener="#{LeadEditController.onSlideEnd}"/>
					        </p:slider>
							<br/><br/>
					<div style="width: 100%; float: left; margin-left: 20px">		
						<div class="slidertext">	
						 <span Class="slider" >Cold Lead</span>
						 </div>
						<div class="slidertext">
					       <b> <span Class="slider" ><h:outputText id="output"  value="#{LeadEditController.getPercentCompleteIntString()}"/>% Complete</span></b> 
						</div>	
						<div class="slidertext">
						 <span Class="slider" style="float:right; position: relative; right: 100px" >Customer</span>
						 </div>
	  				</div>
			    </div>
				    
				    
				    

				   
				   
				    

			                
              <div class="container">

		        	<div class="item">
		                   <span style="float: left; height: 20px"> <h1>Organisation</h1> </span> 
		                   						 
                            <br/> <br/> <br/><br/> 
                           <span> Name</span><br/> 
                            <p:inputText id="orgName" value="#{LeadEditController.orgName}" style=" width:200px"/>
                           <br/><br/> 
                           <span> Website</span><br/> 
                            <p:inputText id="orgWebsite" value="#{LeadEditController.orgWebsite}" style=" width:200px"/>
							<br/> <br/> <br/> <br/>
							</div>
							
							
					<div class="item"> 
                            <h1>Contact</h1> 
							
							Name<br/>
                            <p:inputText id="firstName" value="#{LeadEditController.firstName}" style="width:200px"/>
                          <br/> <br/>Surname<br/>
                            <p:inputText id="lastName" value="#{LeadEditController.lastName}" style="width:200px"/>
                            <br/> <br/>Email<br/>
                            <p:inputText id="emailButton" value="#{LeadEditController.email}" style="width:200px"/>
                           <br/><br/> Telephone<br/>
                            <p:inputText id="telephone" value="#{LeadEditController.telephone}" style="width:160px"/>

					 </div>    
							
							
							
							
					<div class="item">
							<h1>Campaigns</h1> 
								

									 <span> Current Campaigns</span><br/> 
							
											 <p:dataTable width="200px" style="width:200px" id="leadCampaigns" var="leadCampaigns" value="#{LeadEditController.leadCampaigns}">
									      <p:column>
									       <h:outputText value="#{leadCampaigns}" />
									       </p:column>
									       </p:dataTable>	
									       <br/> 
									       <span> Add/Remove Campaign</span><br/>  
    		                     <p:selectOneMenu id="campaigns" style="float: left; width: 200px; overflow-x: hidden" value="#{LeadEditController.new_campaign_name}" >  
                      		  <f:selectItem itemValue="default" itemLabel="Select campaign" />
                      		  <f:selectItems value="#{LeadEditController.getCampaigns()}" var="Campaigns" itemValue="#{Campaigns.campaign_name}" itemLabel="#{Campaigns.campaign_name}" /> 
                             <p:ajax listener="#{LeadEditController.addCampaign()}" process="@this"   event="change" execute="@form" update="leadCampaigns"  render="leadCampaigns" />                        
							 </p:selectOneMenu>  
							<p:inputText id="newCampaign" value="#{LeadEditController.newCampaign}" style="width:170px;float: left;"/>
            				 <p:commandButton value="" style="width:25px; height: 25px; position: relative;  float: left" icon="ui-icon-plus" action="#{LeadEditController.newCampaignButton()}">
	             		    	 <f:ajax event="click" execute="@form" process="@this"  update="leadCampaigns campaigns" render="leadCampaigns campaigns"/>
	         			    </p:commandButton>
                       </div>  
                         
                       <div class="item">
			                  <h1>Next Action</h1>
			                  <br/>
                            <p:selectOneMenu style="width: 220px" value="#{LeadEditController.nextAction}">  
					            <f:selectItem itemLabel="Call" itemValue="Call" />  
					            <f:selectItem itemLabel="Email" itemValue="Email" />  
					            <f:selectItem itemLabel="Meet" itemValue="Meet" />  
					            <f:selectItem itemLabel="Quote" itemValue="Quote" />  
					             <f:selectItem itemLabel="Book Shoot" itemValue="Book Shoot" />  
					             <f:selectItem itemLabel="Shoot" itemValue="Shoot" />  
					             <f:selectItem itemLabel="Process" itemValue="Process" />  
					              <f:selectItem itemLabel="Invoice" itemValue="Invoice" /> 
					        </p:selectOneMenu> 
					        <br/>
					       <p:calendar  mode="inline" id="nextaction" value="#{LeadEditController.nextActionDateFormat}"/> 

						</div>    
						
						
     

			</div>
						
					 	<div style="float: left; padding-left: 20px; width:40%; margin-top:100px">

					        <span><h1>New Comment</h1></span>
					       
					        <p:inputTextarea rows="6" style="width: 100%; float:left" value="#{LeadEditController.newComments}">
                            </p:inputTextarea>
                            <br/>  <br/>  <br/> <br/>  <br/> <br/>  <br/> <br/> 
                     
                           <span style="float:left"><h1>Comment History</h1></span>
                            <br/>  <br/>  <br/>  <br/> <br/> 

	                            <div style="width:400px;  float:left; font-size: 16px" id="updatedcomments">#{LeadEditController.comments}</div>
	                            <script>
	                            var comments  = $("#updatedcomments").text();
	                            $("#updatedcomments").html(comments); 
  
	                            </script>
	                            </div> 
	                            
	                            <div style="float: right; padding-right: 20px; margin-top:100px; ">
       							<span style="float:left; position: relative"><h1>Tracked Guides</h1></span><br/>
                            		<p:dataGrid id="guides" var="visit" styleClass="guides"  value="#{LeadEditController.visitsData}" >  

								          <p:panel headerText="Guide thumb" style="width:150px">  
								         <a href="../../../guide/#{visit.getGuideId()}/report/#{visit.getKey()}">  <img src="http://cdn.beek.co/#{LeadEditController.getGuideThumbFromId(visit.getGuideId())}" style="width:150px;height:150px" /> </a>  
								          <div id='#{visit.getGuideId()}' title='#{visit.getKey()}' class="stats">
								          <b>Visit Date: </b><h:outputText value="#{visit.timestamp}" >
								           <f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
											</h:outputText> <br/>
								           <b>Total Visits: </b><h:outputText value="#{visit.visits}" /> <br/>
								           <b>Active Visits: </b><h:outputText value="#{visit.visitsWithEvent}" /> <br/>
								            <b>Avg Scenes: </b><h:outputText value="#{visit.pageviewsPerVisit}" /> <br/>
								           <b>Avg Time: </b><h:outputText value="#{visit.avgTimeOnSite}" /> <br/>
								
								          
								           </div>
								        </p:panel>  
								
								    </p:dataGrid>  
                            </div> 
        </p:panel>


 
    </h:form>
    </ui:define>
</ui:composition>