<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../template.xhtml">

	<ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{UserInfoController.preRenderView}" type="preRenderView"/>
	    </f:metadata>
	</ui:define>
    <ui:define name="content">
    
    <p:breadCrumb>
		<p:menuitem value="Dashboard" url="/" />
		<p:menuitem value="Info" url="/user/info" />
	</p:breadCrumb>

    <h:form>
    <p:growl id="info" showDetail="true" autoUpdate="true"/>
    <p:panel header="User Info" id="shootDetails" style="width:900px"> 
	    <table width="100%" border="0" >
		  <tr>
		    <td>first_name</td>
		    <td><h:outputText value="#{UserInfoController.user.firstName}" /></td>
		  </tr>
		  <tr>
		    <td>last_name</td>
		    <td><h:outputText value="#{UserInfoController.user.lastName}" /></td>
		  </tr>
			<tr>
				<td>Stitch Template</td>
				<td><h:outputText value="#{UserInfoController.user.stitchtemplate}" /></td>
			</tr>
		  
		  <tr>
		    <td valign="top">Guide IDs</td>
		    <td>
		    	<p:dataTable var="guideid" width="200"
					value="#{UserInfoController.user.getGuideID()}" 
			        emptyMessage="No GuideIDs found.">
			
			    <p:column>
			        <h:outputText value="#{guideid}" />
			    </p:column>
			</p:dataTable>
			</td>
		  </tr>
		  <tr>
		    <td valign="top">Location IDs</td>
		    <td>
		    	<p:dataTable var="locationid" width="200"
					value="#{UserInfoController.user.getLocationsID()}" 
			        emptyMessage="No LocationIDs found.">
			
			    <p:column>
			        <h:outputText value="#{locationid}" />
			    </p:column>
			</p:dataTable>
			</td>
		  </tr>
		  <tr>
		    <td valign="top">Type</td>
		    <td>
		    	<p:dataTable var="type" width="200"
					value="#{UserInfoController.user.getType()}" 
			        emptyMessage="No types found.">
			
			    <p:column>
			        <h:outputText value="#{type}" />
			    </p:column>
			</p:dataTable>
			</td>
		  </tr>
		  <tr>
		    <td valign="top">Lat</td>
		    <td>
		    	<p:dataTable var="lat" width="200"
					value="#{UserInfoController.user.getLat()}" 
			        emptyMessage="No Lat found.">
			    <p:column>
			        <h:outputText value="#{lat}" />
			    </p:column>
			</p:dataTable>
			</td>
		  </tr>
		  <tr>
		    <td valign="top">Lon</td>
		    <td>
		    	<p:dataTable var="lon" width="200"
					value="#{UserInfoController.user.getLon()}" 
			        emptyMessage="No Lon found.">
			    <p:column>
			        <h:outputText value="#{lon}" />
			    </p:column>
			</p:dataTable>
			</td>
		  </tr>
		  <tr>
		    <td valign="top">groups</td>
		    <td>
		    	<p:dataTable var="ewGroup" width="200"
					value="#{UserInfoController.user.getGroups()}" 
			        emptyMessage="No groups found.">
			
			    <p:column>
			        <h:outputText value="#{ewGroup.f_group}" />
			    </p:column>
			</p:dataTable>
			</td>
		  </tr>
		  <tr>
		  </tr>
		</table>
	</p:panel>
    
		</h:form>
    </ui:define>
</ui:composition>