<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../template.xhtml">
                
    <ui:param name="location" value="#{PhotoShootProcessController.location}" />
    <ui:param name="locationMapModel" value="#{PhotoShootProcessController.locationMapModel}" />
    
    <ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{PhotoShootProcessController.preRenderView}" 
	        		type="preRenderView"/>
	    </f:metadata>
	</ui:define>
	<ui:define name="script">
	    <h:outputScript library="js" name="accordion.js"/>
	</ui:define>

	<ui:define name="gmap">
        <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
        <h:outputScript library="js" name="map-service.js"/>
        <script type="text/javascript">
		  function showFlash(accordionId)
		  {
			var activeIndex = $("#"+accordionId+"_active").val();
			var visibleTab = $("#"+accordionId+"\\:" + activeIndex + "\\:scene_tab");
			var holder = visibleTab.find('#flash_holder');
			
			// Populate iframe if not already
			if(holder.html() == "" || holder.html() == null)
				holder.html(
					'&lt;iframe src="'+holder.attr("iframeurl")+'" class="sceneAccordionTab" width="100" height"100" scrolling="no" /&gt;'
				);
		  }
		  
		  function resetAllAccordions()
		  {
		  	  resetAccordionPanel('scenesAccordionId');
		  }
		  
		  function resetAccordionPanel(accordionId)
		  {
		  	   // A hidden field in the accordion that stores the current active index
		  	   $('#'+accordionId+'_active').val(-1);
		  }
           
          function onAddSceneComplete(xhr, status, args) {
		      var sceneId = args.sceneId;
		      var content = '&lt;div id="flash_holder" iframeurl="/views/scene/view.jsf?s='+sceneId+'&amp;autologin=true" class="sceneAccordionTab" &gt;&lt;/div&gt;';
		      PF('scenesAccordionVar').addTabHtml(content);
		  }
		  
		  function triggerBrowse()
		  {
			  	var logoUploader = $("#logoUploaderId");
			  	var button = logoUploader.find('.fileinput-button');
				button.click();
		  }
        </script>
    </ui:define>

    <ui:define name="content">
		<p:breadCrumb>
			<p:menuitem value="Dashboard" url="/" />
			<p:menuitem value="#{location.title} - Wizard" url="/shoot/#{location.photoShootId}/wizard" />
		</p:breadCrumb>
        <center>
           <h:form id="wizard_form" prependId="false">
				<p:wizard id="locationWizard" widgetVar="wiz" 
						flowListener="#{PhotoShootProcessController.onFlowProcess}"
						onnext="resetAllAccordions()" onprev="resetAllAccordions()">
					<p:tab id="locationTab" title="Details" >
						<p:growl id="uploadedScenesGrowl" showDetail="true" autoUpdate="true"/>
						<p:panel header="Location Details - Status: #{location.statusText}">
							<table width="100%" border="0">
							  <tr>
							    <td valign="top" width="280" >
							    	<h:outputText value="Type: " /><br/>  
									<p:selectOneMenu effect="fade"
		                                 value="#{location.type}"
		                                 style="width:260px">
					                    <f:selectItem itemLabel="Activity" itemValue="1"/>
					                    <f:selectItem itemLabel="Accommodation" itemValue="2"/>
					                    <f:selectItem itemLabel="Attraction" itemValue="3"/>
					                    <f:selectItem itemLabel="Entertainment" itemValue="4"/>
					                    <f:selectItem itemLabel="Restaurant" itemValue="5"/>
					                    <f:selectItem itemLabel="Transportation" itemValue="6"/>
					                    <f:selectItem itemLabel="Venue" itemValue="7"/>
					                </p:selectOneMenu>
                
							    	<h:outputText value="Title: " /><br/>  
				                    <p:inputText label="Title" style="width:260px" 
				                            value="#{location.title}" /><br/>   
				                      
				                    <h:outputText value="Description: " /><br/> 
				                    <p:inputTextarea label="Description"  
				                            value="#{location.description}" 
				                            style="width:260px;height:245px;"/><br/> 
							    </td>
							    <td valign="top">
							        <br/>
								    <p:gmap id="location_map"
                                            widgetVar="l_map"
                                            type="ROADMAP"
                                            draggable="true"
                                            style="width:600px;height:305px; margin-bottom:5px;"
                                            onPointClick="addMarker(event,PF('l_map'));return false;"
                                            zoom="13"
                                            model="#{PhotoShootProcessController.locationMapModel}"
                                            center="#{location.latitude},#{location.longitude}">
                                            <p:ajax event="stateChange" listener="#{PhotoShootProcessController.locationMapModel.onStateChange}"/>
	                                        <p:ajax event="pointSelect" listener="#{PhotoShootProcessController.locationMapModel.onPointSelect}"/>
	                                        <p:ajax event="markerDrag" listener="#{PhotoShootProcessController.locationMapModel.onMarkerDrag}"/>
                                    </p:gmap>
                                    
									<script type="text/javascript">
									   function setLocationMarker()
									   {
									   		if(PF('l_map'))
										   		updateMarker(
										   			'#{location.latitude}',
										   			'#{location.longitude}',
										   			'13',
										   			PF('l_map')
										   		);
									   }
									   
									   setTimeout(setLocationMarker, 1000);
									</script>
									<p:spacer width="300" height="10" />
									<p:inputText id="searchField" style="width:200px; height:18px;"/>
					                <p:commandButton value="Search" ajax="true"
		                                 update="location_map" style="width:90px;height:26px"
		                                 onclick="findLocation(PF('l_map'));return false;"/>
							    </td>
							  </tr>
							</table>
		                </p:panel>
						
					</p:tab>
					<p:tab id="scenesTab" title="Scenes">
						<p:accordionPanel id="scenesAccordionId" 
								widgetVar="scenesAccordionVar"
								value="#{PhotoShootProcessController.scenes}"
								var="scene"
								cache="true"
								activeIndex="-1"
								onTabShow="showFlash('scenesAccordionId')">
								<p:tab id="scene_tab" title="#{scene.title}" css-class="sceneAccordionTab" >
									<div id="flash_holder" class="sceneAccordionTab" scrolling="no"
							    		iframeurl="/views/scene/view.jsf?s=#{scene.id}&amp;autologin=true"></div>
								</p:tab>
						</p:accordionPanel>
                        <p:commandButton value="ADD SCENE" ajax="true" immediate="true"
					        	action="#{PhotoShootProcessController.addScene()}"
					        	oncomplete="onAddSceneComplete(xhr, status, args)"/>
					</p:tab>
					
					<p:tab id="finish" title="Finish">
						<h:panelGrid columns="2">
							<p:outputPanel>
								<h:outputText value="Title: #{location.title}" /><br/> 
			                    	<p:selectOneMenu style="width:190px" 
						                 value="#{location.defaultSceneId}">
			                         <f:selectItems value="#{PhotoShootProcessController.scenes}" 
								                 	var="scene" 
								                    itemLabel="#{scene.title}" 
								                    itemValue="#{scene.id}" />
								     <p:ajax update="default_scene_image" event="change" />
			                      </p:selectOneMenu>
							</p:outputPanel>
							<p:outputPanel>
								<h:outputText value="Send the scenes to the client for approval." /><br/>
								<h:outputText value="Add A message." /><br/>
							</p:outputPanel>
							<p:outputPanel>
			                      <p:outputPanel id="default_scene_image" autoUpdate="true" 
			                      		style="display:block;width:200px;height:200px;background-color:#EFEFEF;">
					                    <p:graphicImage style="display:block;width:200px;height:200px;"
					                    	url="#{buildProperties.cdnUrl}/#{PhotoShootProcessController.defaultScene.thumbName}" />
			                   	  </p:outputPanel>
							</p:outputPanel>
							<p:outputPanel>
								<p:inputTextarea label="Description"  
						                            value="#{message}" 
						                            style="width:260px;height:190px;"/>
							</p:outputPanel>
							<p:outputPanel>
								<br/>
							</p:outputPanel>
							<p:outputPanel>
						        <p:commandButton value="REQUEST APPROVAL" 
						        		ajax="true" immediate="true"
							        	action="#{PhotoShootProcessController.requestApproval()}"/>
							</p:outputPanel>
					    </h:panelGrid>
					</p:tab>
				</p:wizard>
			</h:form>          
        </center>
    </ui:define>
</ui:composition>