.ui-widget, .ui-widget .ui-widget {
    font-size: 12px !important;
}
#logo {
    width: 960px;
    height: 60px;
    margin: 0 auto;    
}
#logo h3 {
    color: #fff;
    font-size: 15px;
    margin: 0px;
    padding: 20px 20px 0px 20px;    
}
#logo h3 a {
    text-decoration: none;
}
#pagetitle h4{
    float: left;
    font-size: 15px;
    color: #555;
    margin: 0px;
    padding-top: 10px;
    padding-left: 20px;
    border-top: 1px solid #DDD;
    text-shadow: #EEE 0px 1px 0px;
}

#content{
    height: 420px;
    width: 100%;
}
/*#footer{
    width: 100%;
    background: #272727;
    height: 100px;
    margin: 0px;
}*/
.datatable td:nth-child(1) {
    width: 500px;
}
.uploadedimage{
    position: inherit!important;
    display: inline-block!important;
    padding-right: 4px;
    height: 14px;
}
.defaultimage{
    position: inherit!important;
    display: inline-block!important;
    padding-right: 4px;
    height: 14px;
}
.ui-accordion .ui-accordion-content {
    padding: 1px 0em 0em 0em !important;
}
.ui-wizard-step-title {
    font-size: 12px !important;
    width: 100px !important;
    text-align: center !important
}