.publish
{
    display: block;
    width: 400px;
}

.right
{
    position: relative;
    float: right;
    top: -320px;
    right: 50px;

}

.reporttitle
{
    font-size: 26px;
    overflow: hidden;

}

#fu, #vu .ui-fileupload-buttonbar {
    height: 25px;
}

/*          .ui-fileupload-buttonbar .ui-fileupload-choose, .ui-fileupload-upload, .ui-fileupload-cancel{
              display: none;
          }*/


.modalScene {
    width:90% !important;
    height:100% !important;
    top:0% !important;
    left: 5% !important;
    margin: 0;
    overflow-y: scroll!important;
}

.ui-picklist{
    height: 100px;
    margin: 0;
    overflow: auto;
    padding: 0;
}
.ui-picklist-buttons-cell {
    display:none
}


.iFrameScene{
    top: 0;
    left: 0;
    height: 600px;
}

#container{

    top: 0!important;
    left: 0!important;
    position: static;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.timeMarker {
    position: relative;
    top: -40px;
    left: 0;
    font-size: 20px;
    color: red
}

.twenty-percent {
    width: 20%;
}

.thirty-percent {
    width: 30%;
}

.forty-percent {
    width: 40%;
}

.sixty-percent {
    width: 60%;
}

.seventy-percent {
    width: 70%;
}

.eighty-percent {
    width: 80%;
}

.top-alignment {
    vertical-align: top;
}

.onehundred-wide {
    width: 100px;
}

.icons{
    font-size: 20px;
    margin: 5px;
}

.selectedIcon{
    background: #cd0a0a;
}

#icons{
    display: inline-block;
    overflow-y: scroll;
    height: 120px;
    width: 400px;
}

#behaviours{
    display: inline-block;
    overflow: auto;
    height: 80px;
    width: 400px;
}

.ui-tabs-panel{
    margin: 0 0;
    padding: 0!important;
}

.ui-growl {
    z-index: 999999 !important;
}
.rotationSlider{
    width: 90px;
    float: left;
}
.focusMarker{
    height: 10px;
    background-color: #003bb3;
    position: absolute;
    display: inline-block;
    bottom: 65px;
    left: 0;
}

