@import url(//fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

     html, body {
            overflow: hidden;
            font-family: 'Lato',Helvetica,Arial,sans-serif;
			height:     100%;
			padding:    0;
			margin:     0;
        }
		
		
        body {
            layout: absolute;
			background-color: #ffffff;
        }

        #preloadtext {
         	text-align: left;
        }
		


		#previewimg {
			position: absolute; 
			left: 0;
			top: 0;
         	width: 100%;
    		height: 100%;
			background-image: url(http://cdn.beek.co/scene_27_thumb_8.jpg); 
			background-size: 100%; 
			/* opacity: 0.2; filter: alpha(opacity=20);  */
        }
        
        #preloader {
/*			width: 100%;
			height: 100%;
			background-color: white;*/
        }
		
       /* Original */ 
	   
         /*#preloaderItems {
			position : absolute;
			top: 50%;
		 	transform: translateY(-50%);
		 	left: 50%;
		 	transform: translateX(-50%);
		 	-webkit-transform: translateY(-50%);
  			-ms-transform: translateY(-50%);

        }*/
		
       /* Updates */ 
	   		
        #preloaderItems {
		   width: 10%; 
           margin: auto;
		  position: fixed; /* or absolute */
 		 top: 50%;
 		 left: 50%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
        }		
        
		
		 #container {
			width:100%;
			height:100%;
			position: absolute;
        }
		
      
        #preloadtrack {
        	width:100px;
        	background-color:#FFF;
			padding:1px;
        }
        
        #preloadbar {
        	width:1px; 
        	height:4px; 
        	background-color:#3b80c3;

        }
        

		#descriptionHolder {
    		position: absolute;
    		bottom: 60px;
    		left: 60px;
			width: 320px;
			height: 320px;
			margin-left: 15px;
			background-color: #FFFFFF;
        }
	
        
		
		 .guidethumb_embed {
			left: 10px!important;
			height:100px!important;
    		width:100px!important;
        }


        #itunes-button {
            display: none;
        }
        
		
        .flash-hidden {
            position: absolute;
            display: block;
            visibility: hidden;
            width:      100%;
			height:     100%;
            
        }

        .flash-visible {
            height: 100%; 
            width: 100%;
            display: block;
        }
        
        /*Info Container*/
        
         #guidehelpcontainer {
    		width:336px;
        }
	
		
		 #loading{
    		width:336px;
        }

/*         h1 {
			font-size: 18px;
			padding-top: 12px;
			padding-left: 24px;
			text-decoration:none;
			color: #09F;
			font-weight: 400;
		}
 */
		
/*		ul{
			list-style-type: square;
			padding-left: 10px;
		}
		
		ul ul{
			list-style-type: none;
			padding-left: 20px;
		}
		
        li {
			font-size: 11px;
			padding-left: 4px;
			margin-left: 0;
			color: #333333;
			} */
			
			a:link {color:#333333;text-decoration:none}       /*unvisited link */
			a:visited {color:#333333;text-decoration:none}   /*visited link */
			a:hover {color:#333333;text-decoration:none}  /* mouse over link */
			a:active {color:#333333;text-decoration:none}  /* selected link */
		
		
		.menu ul li ul {
		    display:none;
		}
		.menu ul li.selected ul {
		    display:block;
		} 
       
       
       .iframe-container {
	       z-index: 100;
	       display:none
       }

	.content-container {
		margin:0px;
		padding:0px;
		overflow-x: hidden;
		overflow-y: hidden;
		}
	
	.iframeshim {
		position: absolute;
		left: 100px;
		top: 100px;
		width: 400;
		height: 400;
		background: white;

		}
       