<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../newtemplate.xhtml">
    <ui:define name="checkurl">
        <f:metadata>
            <f:event listener="#{LocationCreateController.preRenderView}"
                    type="preRenderView"/>
        </f:metadata>
    </ui:define>

    <ui:param name="location" value="#{LocationCreateController.location}" />
    <ui:define name="script">
        <h:outputScript library="js" name="accordion.js"/>
        <style type="text/css">
            .ui-fileupload-buttonbar {
                 height: 25px;
            }
            .ui-fileupload-buttonbar .ui-fileupload-choose, .ui-fileupload-upload, .ui-fileupload-cancel{
                display: none;
            }
        </style>
    </ui:define>
    <ui:define name="gmap">
        <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
        <h:outputScript library="js" name="map-service.js"/>
        <h:outputScript library="js" name="location.js" />
        
        <script type="text/javascript">
          var counter = 0;         
          function showFlash(accordionId)
          {
            console.log(accordionId);
            var activeIndex = $("#"+accordionId+"_active").val();
            var visibleTab = $("#"+accordionId+"\\:" + activeIndex + "\\:scene_tab");
            var holder = visibleTab.find('#flash_holder');
            console.log(holder);
            // Populate iframe if not already
            if(holder.html() == "" || holder.html() == null)
                holder.html(
                    '&lt;iframe src="'+holder.attr("iframeurl")+'" class="sceneAccordionTab" width="100%" height"100%" scrolling="no" /&gt;'
                );
          }

          function resetAllAccordions()
          {
                resetAccordionPanel('scenesAccordionId');
          }

          function resetAccordionPanel(accordionId)
          {
                 // A hidden field in the accordion that stores the current active index
                 $('#'+accordionId+'_active').val(-1);
          }

          function onAddSceneComplete(xhr, status, args) {
              if(status == 'success'){
                  if(args.temp_sceneId !== undefined &amp;&amp; args.sceneId !== undefined &amp;&amp; args.sceneName !== undefined){
                      var temp_sceneId = args.temp_sceneId;
                      var sceneId = args.sceneId;
                      var sceneName = args.sceneName;

                      var iid = 'sceneId_'+temp_sceneId;
                      $('#'+iid).attr('id','sceneId_'+sceneId);
                      //var content = '&lt;div id="flash_holder" iframeurl="/views/scene/view.jsf?s='+sceneId+'&amp;autologin=true" class="sceneAccordionTab" scrolling="no" &gt;&lt;/div&gt;';
                      PF('scenesAccordionVar').addEmptyTabHtml(sceneId,sceneName);
                      uploadNextFile($('#sceneId'));                      
                  }
              }
          }
          
          if (navigator.geolocation) {
        	    checkGeolocationByHTML5();
        	} else {
        	    checkGeolocationByLoaderAPI(); // HTML5 not supported! Fall back to Loader API.
        	}

        	function checkGeolocationByHTML5() {
        	    navigator.geolocation.getCurrentPosition(function(position) {
        	        setMapCenter(position.coords.latitude, position.coords.longitude);
        	    }, function() {
        	        checkGeolocationByLoaderAPI(); // Error! Fall back to Loader API.
        	    });
        	}

        	function checkGeolocationByLoaderAPI() {
        	    if (google.loader.ClientLocation) {
        	        setMapCenter(google.loader.ClientLocation.latitude, google.loader.ClientLocation.longitude);
        	    } else {
        	        // Unsupported! Show error/warning?
        	    }
        	}

        	function setMapCenter(latitude, longitude) {
        		PF('l_map').getMap().setCenter(new google.maps.LatLng(latitude, longitude));
        	}

            function enableSceneTab(success, sceneId, sceneName, message){
              var content = '&lt;div id="flash_holder" iframeurl="/views/scene/view.jsf?s='+sceneId+'&amp;autologin=true" class="sceneAccordionTab" scrolling="no" &gt;&lt;/div&gt;';
              try{PF('scenesAccordionVar').enableTabHtml(success, sceneId, sceneName, message, content);}
              catch(e){}
            }

            function updateSceneTab(sceneId,sceneName,message){
                try{PF('scenesAccordionVar').updateTabHtml(sceneId, sceneName, message);}
                catch(e){}
            }
            
            function handlePushMessage(data){
                if(data === null)return;
                if(data !== undefined){
                    if(data.eventName === 'updateSceneTab'){
                        updateSceneTab(data.sceneId, data.sceneName, data.message);
                    }else if(data.eventName === 'enableSceneTab'){
                        enableSceneTab(data.success, data.sceneId, data.sceneName, data.message);
                    }
                }
            }

        </script>
    </ui:define>
    <ui:define name="content">
            <p:socket channel="/*" onMessage="handlePushMessage"/>
            <h:form id="wizard_form" prependId="false">
                <p:wizard id="locationWizard" widgetVar="wiz"
                        flowListener="#{LocationCreateController.onFlowProcess}"
                        onnext="resetAllAccordions()" onprev="resetAllAccordions()">
                    <p:tab id="locationTab" title="Location">
                        <p:growl id="locationGrowl" showDetail="true" autoUpdate="true"/>

                                <br/>
                              <h1>  <h:outputText value="Title: " style="width:150px; float: left" /></h1>
                                <p:inputText id="title" style="width:250px; float: left"
                                     value="#{location.title}"/>
                                      <br/><br/>


                                <br/>
                                <p:outputPanel id="map_panel">
                                    <p:gmap id="location_map"
                                            widgetVar="l_map"
                                            type="ROADMAP"
                                            draggable="true"
                                            style="width:100%;height:300px"
                                            onPointClick="addMarker(event,PF('l_map'));return false;"
                                            zoom="5"
                                            model="#{LocationCreateController.locationMapModel}"
                                            center="#{location.latitude},#{location.longitude}">
                                            <p:ajax event="stateChange" listener="#{LocationCreateController.locationMapModel.onStateChange}"/>
                                            <p:ajax event="pointSelect" listener="#{LocationCreateController.locationMapModel.onPointSelect}"/>
                                            <p:ajax event="markerDrag" listener="#{LocationCreateController.locationMapModel.onMarkerDrag}"/>
                                    </p:gmap>
                                    <script type="text/javascript">
                                       function setLocationMarker()
                                       {
                                               if(PF('l_map'))
                                                   updateMarker(
                                                       '#{location.latitude}',
                                                       '#{location.longitude}',
                                                       '13',
                                                       PF('l_map')
                                                   );
                                       }

                                       setTimeout(setLocationMarker, 1000);
                                    </script>
                                    <p:inputText id="searchField" style="width:200px; float: right; position: relative; top: -36px"/>
                                    <p:commandButton value="Search" ajax="true"
                                         update="location_map" style="width:90px; float: right; top: -40px"
                                         onclick="findLocation(PF('l_map'));return false;"/>
                                         <br/>
                                 </p:outputPanel>
                    </p:tab>
                    <p:tab id="scenesTab" title="Scenes">
                        <p:growl id="scenesGrowl" showDetail="true" autoUpdate="true"/>
                        <p:accordionPanel id="scenesAccordionId"
                                widgetVar="scenesAccordionVar"
                                value="#{LocationCreateController.scenes}"
                                var="scene"
                                cache="true"
                                activeIndex="-1"
                                onTabShow="showFlash('scenesAccordionId')">
                                <p:tab id="scene_tab" title="#{scene.title}" css-class="sceneAccordionTab" scrolling="no" >
                                    <div id="flash_holder" class="sceneAccordionTab" scrolling="no"
                                        iframeurl="/views/scene/view.jsf?s=#{scene.id}&amp;autologin=true"></div>
                                </p:tab>
                        </p:accordionPanel>
                        <br/><br/>
                        <h:form prependId="false">

 						<p:button value="Select Panorama" icon="ui-icon-image" onclick="PF('fu').chooseButton.find('input[type=file]')[0].click();return false;"/>&#160;&#160;

                            <p:inputText id="sceneName"/>&#160;&#160;
                            <p:watermark for="sceneName" value="Scene Name" />  

                            <p:inputText id="sceneId" type="hidden"/>

                           
                            <p:commandButton value="Upload" icon="ui-icon-circle-check" process="@form" ajax="true"
                                             onstart="return initHiddenSceneId($('#sceneId'));"
                                             actionListener="#{LocationCreateController.addScene()}"
                                             oncomplete="onAddSceneComplete(xhr, status, args)">
                            </p:commandButton>

                            <br/> <br/>
                            <p:fileUpload  id= "fp" process="@form" widgetVar="fu" fileUploadListener="#{SceneController.handleFileUpload}" mode="advanced" dragDropSupport="false"
                                           update="messages" fileLimit="10000" allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
                                           oncomplete="uploadNextFile($('#sceneId'));">
                            </p:fileUpload>

                            <p:growl id="messages" showDetail="true"/>
                        </h:form>
                        <script type="text/javascript">
                            $('#fp').change(function(e){
                                onFileSelect(e);
                            })
                        </script>
                    </p:tab>                  
                    <p:tab id="finishTab" title="Finish">

                        <h:outputText value="Default Scene: " /><br/>
                        <p:selectOneMenu style="width:400px"
                             value="#{location.defaultSceneId}">
                         <f:selectItems value="#{LocationCreateController.scenes}"
                                         var="scene" update="shorturl"
                                        itemLabel="#{scene.title}"
                                        itemValue="#{scene.id}" />
                         <p:ajax update="default_scene_image" event="change" />
                      </p:selectOneMenu>
                      <p:outputPanel id="default_scene_image" autoUpdate="true"
                              style="display:block;width:400px;height:400px;background-color:#EFEFEF;">
                            <p:graphicImage
                                url="#{buildProperties.cdnUrl}/#{LocationCreateController.defaultScene.thumbName}" />
                         </p:outputPanel>
                         <p:commandButton value="SAVE" icon="ui-icon-disk" ajax="true" immediate="true" style="float: right; right: 150px"
                                action="#{LocationCreateController.processSubmit()}" />
                                
                                
                   <div style="float:right; position: relative; top: -400px; right: 100px">
					<div class="publish">

							<h1> <p:inputTextarea id="shorturl" style="width:300px; height:30px" value="http://beek.co/s#{LocationCreateController.location.defaultSceneId}"/></h1>
					</div><br/>		
				
				
					
					</div>
                    </p:tab>
                </p:wizard>
            </h:form>
    </ui:define>
</ui:composition>