<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                template="../newtemplate.xhtml">

    <ui:define name="checkurl">
        <f:metadata>
            <f:event listener="#{LocationDashboardController.preRenderView}"
                     type="preRenderView"/>
        </f:metadata>

    </ui:define>
    <ui:define name="content">
    <h:head>

 <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
 <title>Location Dashboard</title>
 <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3"></script>
 <script type="text/javascript" src="/resources/js/label.js"></script>
 <script type="text/javascript" src="/resources/js/markerclusterer.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Beek Admin Console</title>
    <h:outputStylesheet library="css" name="style.css"/>
    <ui:insert name="gmap"/>
    <ui:insert name="script"/>
    <ui:insert name="checkAccess">
        <f:metadata>
            <f:event listener="#{TemplateController.isLoggedIn()}" type="preRenderView"/>
    </f:metadata>
    </ui:insert>
</h:head>


<h:body onload="initialize(#{LocationDashboardController.getMapLocationsTitles()}, #{LocationDashboardController.getMapLats()}, #{LocationDashboardController.getMapLons()}, #{LocationDashboardController.getMapLocationIDs()})">

    <div style="margin-left:5%; margin-right:5%">
    	<h:form>
    	
    	<p:commandButton value="New Location" icon="ui-icon-plus" style="font-weight: bold; width:150px; margin-left:1%;"
	                  action="#{LocationDashboardController.goToCreateLocation()}"/>
		<p:commandButton value="Search" icon="ui-icon-search" style="width:80px; float:right; margin-right: 8px"
	                  action="#{LocationDashboardController.searchButtonUpdateMap}" />
	    <p:inputText id="searchTerm"  value="#{LocationDashboardController.searchTerm}" style="width:200px; margin-right: 8px; margin-top: 4px; float:right"/>

         <p:commandButton value="Show all" icon="ui-icon-refresh" style="width:120px; margin-right: 50px; float:right"
	                  action="#{LocationDashboardController.showAllLocationsButton()}"/>
		</h:form>
        <div id="pagetitle" align="left">
        
            <ui:insert name="pagetitle"/>
        </div>
    
    <div id="footer">
    
        <ui:insert name="footer" />
    </div>
 <div id="map_canvas" style="height: 800px; width: 100%"></div>
 <br/><br/>

 </div>
</h:body>
 </ui:define>

</ui:composition>