<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
    template="../newtemplate.xhtml">
    <ui:define name="checkurl">
        <f:metadata>
            <f:event listener="#{LocationEditController.preRenderView}"
                type="preRenderView" />
        </f:metadata>

    </ui:define>

    <ui:param name="location" value="#{LocationEditController.location}" />
	<ui:define name="script">
	    <h:outputScript library="js" name="accordion.js"/>
	</ui:define>

    <ui:define name="gmap">
        <script id="maps" src="http://maps.google.com/maps/api/js?sensor=false"
            type="text/javascript"></script>
        <h:outputScript library="js" name="map-service.js" />
        <h:outputScript library="js" name="location.js" />
        <h:outputScript library="js" name="sidjs-0.1.js" />
        <h:outputScript library="js" name="three.min.js" />
        <h:outputScript library="js" name="ConvexGeometry.js" />
        <h:outputScript library="js" name="tween.min.js" />
        <h:outputScript library="js" name="admin/SceneAdmin.js" />
        <h:outputScript library="js" name="admin/HotspotAdmin.js" />
        <h:outputScript library="js" name="admin/DragControls.js" />
        <h:outputScript library="js" name="beekjs/panovideo.js" />
        <h:outputScript library="js" name="beekjs/shaders/BrightnessContrastShader.js" />
        <h:outputScript library="js" name="beekjs/scene.js" />
        <h:outputScript library="js" name="beekjs/guide.js" />
        <h:outputScript library="js" name="beekjs/hotspots.js" />
        <h:outputScript library="js" name="beekjs/voiceover.js" />
        <h:outputScript library="js" name="beekjs/guide3D.js" />
        <h:outputScript library="js" name="beekjs/FontAwesomeIcons.js" />
        <h:outputScript library="js" name="ion.rangeSlider.min.js" />
        <h:outputScript library="js" name="html2canvas.js" />
        <h:outputScript library="js" name="VRControls.js" />
        <h:outputScript library="js" name="VREffect.js" />
        <h:outputScript library="js" name="webvr-manager.js" />
        <h:outputScript library="js" name="webvr-polyfill.js" />
        <h:outputScript library="js" name="CubemapToEquirectangular.js" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.7/wavesurfer.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.2.3/plugin/wavesurfer.regions.min.js"></script>
        <h:outputStylesheet library="css" name="rangeslider/ion.rangeSlider.css"  />
        <h:outputStylesheet library="css" name="rangeslider/normalize.css"  />
        <h:outputStylesheet library="css" name="location.css"  />
        <h:outputStylesheet library="css" name="rangeslider/ion.rangeSlider.skinModern.css"  />
        <h:outputStylesheet library="font-awesome" name="css/font-awesome.css" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />

        <script type="text/javascript">
          var counter = 0;
          $(document).ready(function(){

            $('#wizard_form\\:tabView\\:fp').change(function(e){
                  onFileSelect(e);
              })
              $('#wizard_form\\:tabView\\:vu').change(function(e){
                  onVideoToStitchFileSelect(e);
              })

              PF('uploadVids').disable();

                $('.ui-fileupload-buttonbar').css('display','none');
          });

/*          function showFlash(accordionId)
          {
            var activeIndex = $("#"+accordionId+"_active").val();
            var visibleTab = $("#"+accordionId+"\\:" + activeIndex + "\\:scene_tab");
            var visibleFrame = $("#" + activeIndex + "scene_frame");
            var visibleFrameId = activeIndex + "scene_frame";
            var holder = visibleTab.find('#flash_holder');
            // Populate iframe if not already
            if(holder.html() == "" || holder.html() == null)
                holder.html(
                    '&lt;iframe src="'+holder.attr("iframeurl")+'" id="'+visibleFrameId+'" class="sceneAccordionTab" width="100%" height"100%" scrolling="no" /&gt;'
                );
             else
            	 visibleFrame.attr('class', 'sceneAccordionTab');
          }*/



          function resetAccordionPanel(accordionId)
          {
                 // A hidden field in the accordion that stores the current active index
                 $('#'+accordionId+'_active').val(-1);
          }



          function enableSceneTab(success, sceneId, sceneName, message){


              try{PF('locationScenes').update()}
/*              var content = '&lt;div id="flash_holder" iframeurl="/views/scene/view.jsf?s='+sceneId+'&amp;autologin=true" class="sceneAccordionTab" &gt;&lt;/div&gt;';
              try{PF('scenesAccordionVar').enableTabHtml(success, sceneId, sceneName, message, content);}*/
              catch(e){}
          }

          function updateSceneTab(sceneId,sceneName,message){

              try{PF('scenesAccordionVar').updateTabHtml(sceneId, sceneName, message);}
              catch(e){}

              console.log('update',sceneId);

              try{PF('locationScenes').update()}
              catch(e){}
          }

          function handlePushMessage(data){
              console.log(data);
              if(data === null)return;
              if(data !== undefined){
                  if(data.eventName === 'updateSceneTab'){
                      updateSceneTab(data.sceneId, data.sceneName, data.message);
                  }else if(data.eventName === 'enableSceneTab'){
                      enableSceneTab(data.success, data.sceneId, data.sceneName, data.message);
                  }
              }
          }

         </script>
    </ui:define>

    <ui:define name="content">
        <h:panelGroup id="panelGroup">
            <b><p:outputLabel value="Location doesnot exist" rendered="#{empty LocationEditController.location or LocationEditController.location.status == -1}"/></b>
            <p:growl id="locationGrowl" showDetail="true" autoUpdate="true" widgetVar="locationGrowl" />
            <p:socket channel="/*" onMessage="handlePushMessage"  rendered="#{not empty LocationEditController.location and LocationEditController.location.status != -1}"/>
            <h:form preappendid="false" id="wizard_form"  rendered="#{not empty LocationEditController.location and LocationEditController.location.status != -1}">

                <p:confirmDialog widgetVar="deleteLocationDialog" id ="deleteLocationDialog"
                                 message="Are you sure you want to delete the location?"
                                 header="Delete Location" severity="alert" >
                    <p:commandButton id="confirm" value="Yes" icon="ui-icon-check"
                                     onstart="PF('deleteLocationDialog').hide();" update=":panelGroup"
                                     actionListener="#{LocationEditController.deleteLocation()}" />
                    <p:commandButton id="decline" value="No" icon="ui-icon-close" onclick="PF('deleteLocationDialog').hide();return false;" type="button" />
                </p:confirmDialog>

                <p:tabView id="tabView" dynamic="true" activeIndex="#{LocationEditController.activeIndex}">
                <p:tab id="scenesTab" title="Scenes">


            <span style=" float :left"><b>Title:</b></span>
            <p:inputText id="title" style="width:250px; margin-left: 30px; float :left" value="#{LocationEditController.title}" /><br /><br />
            <span style=" float :left"><b>Email:</b></span>
            <p:inputText id="email" style="width:250px; margin-left: 20px; float :left" value="#{LocationEditController.email}" /><br /><br />
            <span style=" float :left"><b>Phone:</b></span>
            <p:inputText id="phone" style="width:250px; margin-left: 15px; float :left" value="#{LocationEditController.phone}" /><br /><br />
            <span style=" float :left"><b>Info Url:</b></span>
            <p:inputText id="infoUrl" style="width:250px; margin-left: 10px; float :left" value="#{LocationEditController.infoURL}" /><br /><br />
            <br />
            <span style="font-size: 10px"><i>Please keep titles short and meaningful - 20 characters max</i></span>
            <p:commandButton value="Delete" icon="ui-icon-trash" style="Float: right; top: -30px"  onclick="PF('deleteLocationDialog').show();return false;"/>
            <p:commandButton value="Save" icon="ui-icon-disk" style="Float: right; top: -30px" action="#{LocationEditController.processSubmit()}" />
            <p:commandButton value="Update Outputs" id="updateAllOutputs"  style="Float: right; top: -30px" actionListener="#{LocationEditController.updateAllOutputs}" />
            <br />
            <p:outputPanel id="map_panel">
                <p:gmap id="location_map" widgetVar="l_map" type="ROADMAP"
                        draggable="true" style="width:100%;height:300px"
                        onPointClick="addMarker(event,PF('l_map'));return false;" zoom="10"
                        model="#{LocationEditController.locationMapModel}"
                        center="#{location.latitude},#{location.longitude}">
                    <p:ajax event="stateChange"
                            listener="#{LocationEditController.locationMapModel.onStateChange}" />
                    <p:ajax event="pointSelect"
                            listener="#{LocationEditController.locationMapModel.onPointSelect}" />
                    <p:ajax event="markerDrag"
                            listener="#{LocationEditController.locationMapModel.onMarkerDrag}" />
                </p:gmap>
                <script type="text/javascript">
                    function setLocationMarker()
                    {
                        if(PF('l_map'))
                            updateMarker(
                                    '#{location.latitude}',
                                    '#{location.longitude}',
                                    '10',
                                    PF('l_map')
                            );
                    }

                    setTimeout(setLocationMarker, 1000);
                </script>
                <p:inputText id="searchField"
                             style="width:200px; height:18px; margin-top:8px; float: right" />
                <p:commandButton value="Search" ajax="true"
                                 update="location_map" style="width:90px;height:30px; margin-top:8px;  float: right"
                                 onclick="findLocation(PF('l_map'));return false;" />
                <span style="font-size: 12px; float: right; height :30px; margin-right:20px; margin-top:10px;"><b>Please select a map position for this location</b></span>
            </p:outputPanel>
            <br /><br /><br />
            <p:growl id="scenesGrowl" showDetail="true" autoUpdate="true"/>

                    <p:dataGrid id="locationScenes" widgetVar="locationScenes"
                                value="#{LocationEditController.scenes}"  layout="grid" columns="4"
                                var="scene" style="border:0px #FFF solid; !important; font-size: 10px; text-align: center" lazy="true"
                                emptyMessage="No scenes found.">


                        <p:panel style="width:200px; height: 200px;border-radius: 20px;xposition: relative; text-align: center; display:table-cell; margin: 5px; padding: 5px; vertical-align:top;  background-size: 100% 100%;
						    		 background-image: url(#{buildProperties.cdnUrl}/#{scene.thumbName});">


                            <p:commandButton update=":modal:sceneText" rendered="#{scene.status > -1}" style="font-size: 14px;  #{scene.status != 0 and scene.description.length() > 0 ? 'border-color: green' : 'border-color: red'} "
                                             icon="ui-icon-pencil"  value="#{scene.title}" oncomplete="PF('modalText').show()" title="View Detail">
                                <f:setPropertyActionListener value="#{scene}" target="#{LocationEditController.selectedScene}"  />
                            </p:commandButton>

                            <p:spacer width="100%" height="20px" />


                            <p:panelGrid styleClass="panelgrid-tranparent" columns="2">
                                <h:outputText value="Scene ID:" />
                                <h:outputText  value="#{scene.id}" />
                                <h:outputText value="Visits:" />
                                <h:outputText  value="#{CustomerDashboardController.getVisitsData(scene.id)[0]}" />
                                <h:outputText value="Average Time:" />
                                <h:outputText  rendered="#{CustomerDashboardController.getVisitsData(scene.id)[0] gt 0}"  value="#{CustomerDashboardController.getVisitsData(scene.id)[1]}" />
                            </p:panelGrid>


                            <p:commandButton icon="ui-icon-arrow-4-diag" update=":modeTab:modalScene :modeTab:sceneSettings" rendered="#{scene.status != 6}"   style="font-size: 14px; bottom: 5px"
                                             oncomplete="PF('modalScene').show(); fetchSceneData()"	 >
                                <f:setPropertyActionListener value="#{scene}" target="#{LocationEditController.selectedScene}" />
                             </p:commandButton>

                            <p:commandButton icon="ui-icon-trash" actionListener="#{LocationEditController.deleteScene(scene)}" update="locationScenes"  style="font-size: 14px; bottom: 5px">
                                <p:confirm header="Confirmation" message="Are you sure you want to delete this scene?" icon="ui-icon-alert" />
                            </p:commandButton>

                            <p:commandButton icon="ui-icon-copy" actionListener="#{LocationEditController.duplicateScene(scene)}" update="locationScenes"  style="font-size: 14px; bottom: 5px">
                                <p:confirm header="Confirmation" message="Are you sure you want to duplicate this scene?" icon="ui-icon-alert" />
                            </p:commandButton>



                        </p:panel>

                    </p:dataGrid>

            <br/>
            <h:form prependId="false">

                <p:outputLabel value="Scene Name"/>&#160;

                <p:inputText id="sceneNameLabel"/>&#160;&#160;

                <p:inputText id="sceneId" type="hidden"/>

                <p:panelGrid columns="2" style="width: 100%">

                    <p:panel header="Upload Panorama File" >


                        <p:button value="Select Single Panorama" onclick="PF('fu').chooseButton.find('input[type=file]')[0].click();return false;"/>


                        <p:commandButton value="Upload" process="@form" ajax="true"
                                         onstart="return initHiddenSceneId($('#wizard_form\\:tabView\\:sceneId'));"
                                         actionListener="#{LocationEditController.addScene()}"
                                         oncomplete="onAddSceneComplete(xhr, status, args)">
                        </p:commandButton>

                        <p:fileUpload  id= "fp" process="@form" widgetVar="fu" fileUploadListener="#{SceneController.handleFileUpload}" mode="advanced" dragDropSupport="false"
                                       update="messages" allowTypes="/(\.|\/)(jpe?g|mp4)$/"
                                       oncomplete="uploadNextFile($('#wizard_form\\:tabView\\:sceneId'));">
                        </p:fileUpload>
                    </p:panel>

                    <p:panel header="Upload Videos to Stitch" >
                        <p:commandButton id="uploadPto" value="(Optional) Select Hugin Template" onclick="PF('vu').chooseButton.find('input[type=file]')[0].click(); return false;"/>
                        <p:commandButton widgetVar="upload1" value="Select video 1" onclick="PF('vu').chooseButton.find('input[type=file]')[0].click();PF('upload2').enable(); return false;"/>
                        <p:commandButton widgetVar="upload2" disabled="true" value="Select video 2" onclick="PF('vu').chooseButton.find('input[type=file]')[0].click(); PF('uploadVids').enable(); return false;"/>




                        <p:commandButton value="Upload Videos" process="@form" ajax="true" widgetVar="uploadVids"
                                         onstart="return initHiddenSceneId($('#wizard_form\\:tabView\\:sceneId'),true);"
                                         actionListener="#{LocationEditController.addScene()}"
                                         oncomplete="onAddSceneComplete(xhr, status, args, true)">
                        </p:commandButton>

                        <p:fileUpload  id= "vu" process="@form" widgetVar="vu" fileUploadListener="#{SceneController.handleVideoToStitchUpload}" mode="advanced" dragDropSupport="false" multiple="true"
                                       update="messages" allowTypes="/(\.|\/)(jpe?g|mp4|pto)$/"
                                       oncomplete="uploadVideosToStitch($('#wizard_form\\:tabView\\:sceneId'));"
                                >
                        </p:fileUpload>


                    </p:panel>
                </p:panelGrid>


                <p:growl id="messages" showDetail="true"/>
            </h:form>

        </p:tab>


        <p:tab id="List" title="List">
            <b><h:outputText value="Scene List" /></b><br/><br/>
           	  <ui:repeat value="${LocationEditController.scenes}" var="scene">
   	   <a href="http://beek.co/s#{scene.id}"><span>#{scene.title}</span></a> <br/>
   	      </ui:repeat>


        </p:tab>

        <p:tab id="list" title="Descriptions">
  <p:commandButton value="Save" icon="ui-icon-disk" style="Float: right; top:0px" action="#{LocationEditController.processSubmit()}" />

            <ui:repeat value="${LocationEditController.scenes}" var="scene">

            <p:layout style="width:800px;min-height:200px;">
		    <p:layoutUnit position="west" resizable="true" size="210">
		       <p:graphicImage style="float:left; width:200px;height:200px;" url="#{buildProperties.cdnUrl}/#{scene.thumbName}" />
		    </p:layoutUnit>

   			 <p:layoutUnit position="center" >
                  <h2> <p:inputText value="#{scene.title}" style="margin-left: 50px; width:500px"  immediate="true" cols="100"/> <br/></h2>
                 <p:inputTextarea rows="5" cols="30" style="margin-left: 50px; width:500px" immediate="true" value="#{scene.description}" counter="display" maxlength="1000" counterTemplate="{0} characters remaining." autoResize="false" /><br/>
  				 <h:outputText style="margin-left: 50px"  id="display" />
  				  <br/>
    		</p:layoutUnit>
</p:layout>



            </ui:repeat>

        </p:tab>


        <p:tab id="users" title="Users">

            <p:ajaxStatus onstart="PF('statusDialog').show();" onsuccess="PF('statusDialog').hide();"/>

            <p:dialog modal="true" widgetVar="statusDialog" header="Status"
                      draggable="false" closable="false">
                <p:graphicImage value="/resources/images/ajaxLoadingBar.gif" />
            </p:dialog>

            <br />

            <br> </br>
            Enter Email Address:
            <p:inputText id="emailField"
                         value="#{LocationEditController.emailAddress}"
                         style="width:160px">
                <!-- <p:ajax event="keyup" update="destinationGuidesTable" /> -->
            </p:inputText>
            <p:commandButton align="right" value="Add User"
                             actionListener="#{LocationEditController.addUser()}" />
            <br> </br>
            <br> </br>
            <table border="0">
                <tr>
                    <td valign="top">Users</td>
                </tr>
                <tr>
                    <td><p:dataTable var="usersEmails" width="200"
                                     value="#{LocationEditController.usersEmails}"
                                     emptyMessage="No users found.">
                        <p:column>
                            <h:outputText value="#{usersEmails}" />
                        </p:column>
                        <p:column style="width:4%">
                            <p:commandLink
                                    actionListener="#{LocationEditController.removeUser(usersEmails)}">
                                <h:outputText value="Remove User" />
                            </p:commandLink>
                        </p:column>
                    </p:dataTable></td>
                </tr>
            </table>
            <h:form>
                <p:growl id="info" showDetail="true" autoUpdate="true" />

                <br> </br>
                <p:growl id="growl" showDetail="true" sticky="true" />

            </h:form>
        </p:tab>

        <p:tab id="guides" title="Guides">
            <p:dataGrid
                    value="#{LocationEditController.getGuidesImIn(LocationEditController.getLocation())}"
                    var="guide"
                    emptyMessage="No guides found.">

                <p:panel headerText="#{guide.title}">
                    <a href="/g#{guide.id}" target="_blank">
                        <h:outputText value="#{guide.title}" />
                    </a>

                    <a href="/g#{guide.id}" target="_blank">
                        <p:graphicImage style="width:200px; height:200px"
                                        value="#{buildProperties.cdnUrl}/#{guide.thumbName}" />
                    </a>
                </p:panel>

            </p:dataGrid>


        </p:tab>
        </p:tabView>
        </h:form>

            <div style="opacity: 0.0" id="html2canvasRenderer"></div>
        </h:panelGroup>



        //scene editor
        <p:dialog  widgetVar="modalScene"  styleClass="modalScene" modal="true" onShow="fixPFDialogToggleMaximize('modalScene')" >
            <p:growl id="sceneGrowl" showDetail="true" autoUpdate="true" widgetVar="sceneGrowl" />
                <p:tabView id="modeTab" widgetVar="modeTab">
                    <p:tab id="htmlview" title="HTML">

                        <div id="container"/>

                        <p:selectBooleanButton id="playPause" widgetVar="playButton" value="val"  onLabel="Play" onchange="handlePlayButtonChange(this.checked)" offLabel="Pause" onIcon="ui-icon-play" offIcon="ui-icon-pause" style="width:80px;margin-top: -40px; float: right"/>


                        <p:tabView id="sceneSettings" widgetVar="sceneSettings" onTabChange="handleSceneSettingsTabChange(index)">

                            //Scene settings
                            <p:tab id="sceneSettingsTab" title="Scene Defaults">
                                <h:form id="sceneSettingsForm">
                                    <p:panelGrid columns="3" style="width: 100%" columnClasses="onehundred-wide top-alignment, onehundred-wide top-alignment, onehundred-wide top-alignment">

                                        <p:column>
                                            <h:outputLabel for="sceneName" value="Scene Name:" />
                                            <p:inplace id="sceneName" editor="true">
                                                <p:inputText value="#{LocationEditController.selectedScene.title}">

                                                </p:inputText>
                                            </p:inplace>
                                        </p:column>
                                        <p:column width="100px">
                                            <p:panelGrid columns="2" style="width: 200px" columnClasses="onehundred-wide top-alignment, onehundred-wide top-alignment">
                                                <p:graphicImage id="sceneThumbImage" value="http://cdn.beek.co/#{LocationEditController.selectedScene.thumbName}" height="120" width="120" cache="false" />
                                                <p:commandButton value="Set Default View" update="@this" actionListener="#{LocationEditController.incrementSelectedSceneThumb}" onclick="setScenePan();" oncomplete="setDefaultView();" ></p:commandButton>


                                                <p:inputText id="voiceover" value="#{LocationEditController.selectedScene.voiceover}" type="hidden" />
                                                <p:inputText id="scenePan" type="hidden"/>

                                                <p:remoteCommand name="updateSelectedScenePan" actionListener="#{LocationEditController.updateSelectedScenePan}" />

                                                <p:remoteCommand name="saveSelectedScene" actionListener="#{LocationEditController.saveSelectedScene}" />
                                            </p:panelGrid>

                                        </p:column>
                                        <p:column width="100px">
                                            <p:fileUpload  id="su"  widgetVar="su" process="@this" fileUploadListener="#{SceneController.handleFileUpload}" mode="advanced" dragDropSupport="false" oncomplete="updateScenePanoVideo(args)"
                                                             auto="true" allowTypes="/(\.|\/)(jpe?g|mp4)$/" >
                                                        <f:attribute name="sceneId" value="#{LocationEditController.selectedScene.id}" />
                                            </p:fileUpload>

                                         </p:column>
                                    </p:panelGrid>
                                 </h:form>

                            </p:tab>

                            <p:tab id="voiceoverSettingsTab" title="Voiceover Settings">
                                <h:form id="voiceoverUploadForm">
                                <p:panelGrid columns="2" id="audioSettingsGrid" style="width: 100%" columnClasses="eighty-percent top-alignment,twenty-percent top-alignment" >

                                    <p:column>


                                        <p:panel rendered="#{not empty LocationEditController.selectedScene.voiceover}">
                                            <div id="audio_waveform"></div>
                                            <div class="audio_container" style="text-align: center">
                                                <div id="audio_equalizer" style="margin-top: 10px"></div>
                                            </div>
                                        <p:selectBooleanButton id="recordAudioFocus" widgetVar="recordAudioFocus" value="val"  onLabel="Stop" onchange="handleRecordFocus(this.checked)" offLabel="Record" onIcon="ui-icon-stop" offIcon="ui-icon-caret-2-e-w" style="margin-left: 50%"/>
                                        <p:commandButton value="Delete" id="deleteAudioFocusTrack"  icon="fa fa-fw fa-trash" oncomplete="clearFocusPoints()" >
                                            <p:confirm header="Confirmation" message="Are you sure you want clear the focus track?" icon="ui-icon-alert" />
                                        </p:commandButton>
                                        </p:panel>

                                    </p:column>

                                    <p:column width="200px">
                                        <h:outputLabel for="audioUpload" value="Upload Audio MP3" />
                                        <p:fileUpload  id="audioUpload" update="@form" process="@this" fileUploadListener="#{LocationEditController.handleAudioFileUpload}" mode="advanced" dragDropSupport="false"
                                                       fileLimit="1" auto="true" allowTypes="/(\.|\/)(mp3|m4a|m4u)$/" />

                                        <p:commandButton id="clearVoiceover" type="button" value="Delete Voiceover" icon="fa fa-fw fa-trash" actionListener="#{LocationEditController.deleteVoiceover}" onclick="deleteVoiceover()" />

                                    </p:column>

                                </p:panelGrid>
                                </h:form>
                            </p:tab>
                            //Video Settings
                            <p:tab id="videoSettingsTab" title="Video Settings">
                                <p:panelGrid columns="3" id="videoSettingsGrid" style="width: 100%" columnClasses="sixty-percent top-alignment, twenty-percent top-alignment, twenty-percent top-alignment">
                                    <p:column >
                                        <p:panel header="Time settings" >
                                            <div id="videoSlider">
                                                <input type="text" id="videoTimeSlider" name="videoTimeSlider" />
                                            </div>


                                        </p:panel>
                                        <p:selectBooleanButton id="recordVideoFocus" widgetVar="recordVideoFocus" value="val"  onLabel="Stop" onchange="handleRecordFocus(this.checked)" offLabel="Record" onIcon="ui-icon-stop" offIcon="ui-icon-caret-2-e-w" style="margin-left: 50%"/>
                                        <p:commandButton value="Delete" id="deleteVideoFocusTrack"  icon="fa fa-fw fa-trash" oncomplete="clearFocusPoints()" >
                                            <p:confirm header="Confirmation" message="Are you sure you want clear the focus track?" icon="ui-icon-alert" />
                                        </p:commandButton>

                                    </p:column>
                                    <p:column >
                                    <p:scrollPanel style="height: 160px; width: 200px" header="Video Settings" >
                                        <span>Brightness</span>
                                        <div id="brightnessSlider"/>
                                        <span>Contrast</span>
                                        <div id="contrastSlider"/>
                                        <span>Hue</span>
                                        <div id="hueSlider"/>
                                        <span>Saturation</span>
                                        <div id="saturationSlider"/>
                                        <span>Volume</span>
                                        <div id="volumeSlider"/>


                                    </p:scrollPanel>

                                        <p:selectOneRadio id="videoType" onchange="updateVideoType(this.value)">
                                            <f:selectItem itemLabel="360" itemValue="0"/>
                                            <f:selectItem itemLabel="360 3D" itemValue="1" />
                                            <f:selectItem itemLabel="180" itemValue="2" />
                                            <f:selectItem itemLabel="180 3D" itemValue="3" />
                                        </p:selectOneRadio>
                                    </p:column>

                                    <p:column >
                                        <p:commandButton value="Update Output" id="updateOutputs" update="@this" actionListener="#{LocationEditController.updateOutputs}"  >
                                            <f:attribute name="sceneId" value="#{LocationEditController.selectedScene.id}" />
                                        </p:commandButton>

                                        <p:commandButton id="updateVideoImage" type="button" value="Update Video Image" icon="fa fa-fw fa-camera" onclick="updateVideoImage()" />

                                        <p:panel id="outputs">
                                            <h:outputLabel for="hiRes" value="Original: " rendered="#{not empty LocationEditController.selectedScene.videoSettings.filename }" /> <h:outputText id="hiRes" rendered="#{not empty LocationEditController.selectedScene.videoSettings.filename }" value="#{LocationEditController.selectedScene.videoSettings.filename}"/><br/>
                                            <h:outputLabel for="width" value="Width: " rendered="#{not empty LocationEditController.selectedScene.videoSettings.width }" /> <h:outputText id="width" rendered="#{not empty LocationEditController.selectedScene.videoSettings.width }" value="#{LocationEditController.selectedScene.videoSettings.width}"/><br/>
                                            <h:outputLabel for="height" value="Height: " rendered="#{not empty LocationEditController.selectedScene.videoSettings.height }" /> <h:outputText id="height" rendered="#{not empty LocationEditController.selectedScene.videoSettings.height }" value="#{LocationEditController.selectedScene.videoSettings.height}"/><br/>
                                            <h:outputLabel for="duration" value="Duration: " rendered="#{not empty LocationEditController.selectedScene.videoSettings.duration }" /> <h:outputText id="duration" rendered="#{not empty LocationEditController.selectedScene.videoSettings.duration }" value="#{LocationEditController.selectedScene.videoSettings.duration}"/><br/>
                                            <h:outputLabel for="videoImage" value="VideoImage: " rendered="#{not empty LocationEditController.selectedScene.videoSettings.videoImage }" /><a href="http://cdn.beek.co/#{LocationEditController.selectedScene.videoSettings.videoImage}" target="_blank" ><h:outputText id="videoImage" rendered="#{not empty LocationEditController.selectedScene.videoSettings.videoImage}" value="#{LocationEditController.selectedScene.videoSettings.videoImage}"/></a><br/>
                                            <h:outputLabel for="hiResOut" value="HiRes Output :" rendered="#{not empty LocationEditController.selectedScene.outputVideoSettings.hiRes }"/>  <h:outputText id="hiResOut" rendered="#{not empty LocationEditController.selectedScene.outputVideoSettings.hiRes }" value="#{LocationEditController.selectedScene.outputVideoSettings.hiRes}"/><br/>
                                            <h:outputLabel for="lowResOut" value="LowRes Output :" rendered="#{not empty LocationEditController.selectedScene.outputVideoSettings.lowRes }"/> <h:outputText id="lowResOut" rendered="#{not empty LocationEditController.selectedScene.outputVideoSettings.lowRes  }" value="#{LocationEditController.selectedScene.outputVideoSettings.lowRes}"/><br/>
                                        </p:panel>
                                    </p:column>

                                </p:panelGrid>
                            </p:tab>

                            <p:tab id="hotspots" title="Hotspots">

                                <h:form id="hotspotSettings">

                                <p:panelGrid id="hotspotSettingsPanelGrid" columns="4" style="width: 100%" columnClasses="top-alignment, top-alignment,top-alignment, top-alignment">

                                    <p:column>
                                        <p:commandButton value="Add hotspot"  icon="fa fa-fw fa-plus-circle"  actionListener="#{LocationEditController.addHotspot}" oncomplete="addHotspot(xhr, status, args)" ></p:commandButton>

                                        <br/>
                                        <p:selectOneMenu value="#{LocationEditController.selectedHotspot}" converter="entityConverter">
                                            <f:selectItem itemLabel="Select hotspot" noSelectionOption="true" itemDisabled="false" />
                                            <f:selectItems value="#{LocationEditController.selectedSceneHotspots}" itemLabel="#{hotspot.title}" var="hotspot" itemValue="#{hotspot}" />
                                            <p:ajax update="@form" oncomplete="onHotspotChange()" />
                                        </p:selectOneMenu>

                                        <p:commandButton value="Delete"  icon="fa fa-fw fa-trash" rendered="#{not empty LocationEditController.selectedHotspot}"  actionListener="#{LocationEditController.removeHotspot}" oncomplete="removeHotspot()" >
                                            <p:confirm header="Confirmation" message="Are you sure you want to delete this hotspot?" icon="ui-icon-alert" />
                                        </p:commandButton>

                                    </p:column>

                                    <p:panel style="width: 300px" rendered="#{not empty LocationEditController.selectedHotspot}" >

                                            <h:outputLabel for="hotspotTitle" value="Title:" />

                                            <p:inputText id="hotspotTitle" label="text" value="#{LocationEditController.selectedHotspot.title}" onchange="saveHotspot()">

                                            </p:inputText>
                                            <br/>
                                        <h:outputLabel for="interactive" value="Interactive" />
                                            <p:selectBooleanCheckbox widgetVar="interactive" id="interactive" onchange="handleInteractiveCheck(this.checked)" />

                                        <h:outputLabel for="visible" value="Visible" />
                                        <p:selectBooleanCheckbox widgetVar="visible" id="visible" onchange="handleVisibleCheck(this.checked)" />

                                            <p:inputText id="hotspotId" value="#{LocationEditController.selectedHotspot.id}" type="hidden" />
                                            <p:inputText id="config" value="#{LocationEditController.selectedHotspot.config}" type="hidden" />
                                            <p:inputText id="button" value="#{LocationEditController.selectedHotspot.button}" type="hidden"  />
                                            <p:inputText id="description" value="#{LocationEditController.selectedHotspot.description}" type="hidden"  />
                                            <p:inputText id="media" value="#{LocationEditController.selectedHotspot.media}" type="hidden" />
                                            <p:inputText id="behaviour" value="#{LocationEditController.selectedHotspot.behaviour}" type="hidden" />

                                        <p:panel header="Scale" style="height: 50px">
                                            <div style="height: 10px" id="scaleSlider" />
                                        </p:panel>

                                         <p:panel header="Opacity" style="height: 50px">
                                            <div id="opacitySlider"/>
                                         </p:panel>

                                        <p:panel header="Rotation" style="height: 70px">
                                            <f:facet name="header">
                                                <h:outputText value="Rotation"></h:outputText>
                                                <p:commandButton style="height: 20px" onclick="resetRotation()" value="Reset"/>
                                            </f:facet>
                                            <div class="rotationSlider">
                                                <span>X: </span>
                                                <div class="slider"  id="rotationXSlider"/>
                                            </div>
                                            <div class="rotationSlider">
                                                <span>Y: </span>
                                               <div class="slider"  id="rotationYSlider"/>
                                            </div>
                                            <div class="rotationSlider">
                                                <span>Z: </span>
                                                <div class="slider" id="rotationZSlider"/>
                                            </div>
                                        </p:panel>

                                        <p:selectOneMenu widgetVar="selectWV" onchange="hotspotDuplicateSettings(this.value)">
                                            <f:selectItem itemLabel="Select hotspot to copy"  noSelectionOption="true"/>
                                            <f:selectItems value="#{LocationEditController.selectedSceneHotspots}" itemLabel="#{hotspot.title}" var="hotspot" itemValue="#{hotspot.id}" />
                                        </p:selectOneMenu>

                                    </p:panel>




                                    <p:tabView id="hotspotOptions" widgetVar="hotspotTab" style="width: 400px; height: 180px" styleClass="noupdate" rendered="#{not empty LocationEditController.selectedHotspot}"  onTabChange="handleHotspotOptionTabChange(index)" >
                                        <p:tab id="iconsTab" title="Button">
                                           Label: <p:inputText style="width: 200px" id="buttonLabel" />
                                            <div id="icons" />
                                        </p:tab>
                                        <p:tab id="descriptionTab" title="Text">

                                                <p:selectOneRadio widgetVar="descriptionOptions" onchange="handleDescriptionSettingsChange(this.value)" id="textSettings">
                                                    <f:selectItem itemLabel="No background, white font" itemValue="1" />
                                                    <f:selectItem itemLabel="No background, black font" itemValue="2" />
                                                    <f:selectItem itemLabel="default background, default font" itemValue="3" />
                                                </p:selectOneRadio>

                                          <p:outputLabel value="Font" for="font"/>
                                            <p:inputText  id="font"  style="width: 100px;" value="Lato"/>

                                            <p:outputLabel value="Width(px)" for="textWidthInput"/>
                                             <p:inputText  style="width: 30px;" id="textWidthInput" />

                                             <p:commandButton id="justLeft" type="button"  icon="fa fa-fw fa-align-left" onclick="descriptionAlign(1)" />
                                             <p:commandButton id="justCentre" type="button"  icon="fa fa-fw fa-align-center" onclick="descriptionAlign(2)" />
                                             <p:commandButton id="justRight" type="button"  icon="fa fa-fw fa-align-right" onclick="descriptionAlign(3)" />
                                             <p:commandButton id="updateDescription" type="button" label="update" icon="fa fa-fw fa-refresh" onclick="hotspotDescriptionChange()" />

                                             <p:inputTextarea style="width: 95%; height: 100%" id="hotspotDescriptionTextArea"  width="400" height="160" />
                                         </p:tab>
                                         <p:tab id="mediaTab" title="Media">

                                                 <p:fileUpload  id="mu"  process="@this" fileUploadListener="#{LocationEditController.handleHotspotFileUpload}"  mode="advanced" dragDropSupport="false"
                                                               sizeLimit="1000000"  auto="true" allowTypes="/(\.|\/)(gif|jpe?g|png|mp4|mp3|m4u|m4a)$/" />

                                                 <div id="hotspotFiles"/>
                                         </p:tab>
                                         <p:tab id="areaTab" title="Shape">
                                             <p:selectBooleanButton id="draw"  offLabel="Shape" onchange="drawShape(this.checked)" onLabel="Finish" offIcon="fa fa-fw fa-pencil" onIcon="fa fa-fw fa-check" style="width:80px;margin: auto auto">
                                             </p:selectBooleanButton>
                                             <p:commandButton type="button" Icon="fa fa-fw fa-square" value="Square" onclick="createShape('square')" />
                                             <p:commandButton type="button" Icon="fa fa-fw fa-circle" value="Circle" onclick="createShape('circle')" />
                                             <p:commandButton id="clearShape" widgetVar="clearShape" label="clear shape" icon="fa fa-fw fa-trash" onclick="clearShape()" />

                                             <h:outputLabel for="fill" value="Fill" />
                                             <p:selectOneMenu id="fill" widgetVar="fill"  onchange="handleShapeFilledCheck(this.value)" style="width:150px">
                                                 <f:selectItem itemLabel="None" itemValue="-1"  />
                                                 <f:selectItem itemLabel="Default Color" itemValue="0" />
                                                 <f:selectItem itemLabel="Light Color" itemValue="1" />
                                                 <f:selectItem itemLabel="Dark Color" itemValue="2" />
                                             </p:selectOneMenu>
                                             <h:outputLabel for="stroke" value="Stroke" />
                                             <p:selectOneMenu id="stroke" widgetVar="stroke"  onchange="handleShapeStrokeCheck(this.value)" style="width:150px">
                                                 <f:selectItem itemLabel="None" itemValue="-1"  />
                                                 <f:selectItem itemLabel="Default Color" itemValue="0" />
                                                 <f:selectItem itemLabel="Light Color" itemValue="1" />
                                                 <f:selectItem itemLabel="Dark Color" itemValue="2" />
                                             </p:selectOneMenu>
                                         </p:tab>
                                         <p:tab id="behaviourTab" title="Behaviour" rendered="#{not empty LocationEditController.selectedScene.video}">

                                             <p:selectOneMenu id="behaviourType" widgetVar="behaviourType" onchange="onBehaviourTypeSelectionChange(this.value)" style="width:150px">
                                                 <f:selectItem itemLabel="Video" itemValue="video"  rendered="#{not empty LocationEditController.selectedScene.video}"/>
                                                 <f:selectItem itemLabel="Voiceover" itemValue="voice" rendered="#{not empty LocationEditController.selectedScene.voiceover}" />
                                             </p:selectOneMenu>

                                           <!--   <p:selectBooleanButton id="play"  onLabel="Play" onchange="handlePlayButtonChange(this.checked)" offLabel="Pause" onIcon="ui-icon-play" offIcon="ui-icon-pause" style="width:80px;margin-top: -5px"/>-->

                                          <p:commandButton id="addBehaviour" value="Add Behaviour" onclick="updateBehaviour()" />
                                            <p:commandButton id="clearBehaviours" value="Clear" icon="fa fa-fw fa-trash" onclick="clearBehaviours()" />
                                             <div id ="behaviourVideo" >
                                                 <h:outputText value="Video time" />
                                                <div id="behaviourVideoTimeSlider"/>
                                                <span id="behaviourTimeSliderTime" >0.0</span>
                                             </div>
                                            <div id ="behaviourVoice" >
                                                <h:outputText value="Voiceover time" />
                                                 <div id="behaviourVoiceTimeSlider"/>
                                                <span id="behaviourVoiceSliderTime" >0.0</span>

                                            </div>

                                            <div id="behaviours"/>
                                        </p:tab>


                                    </p:tabView>

                                    <p:tabView style="width: 300px; height: 180px" rendered="#{not empty LocationEditController.selectedHotspot}" >
                                        <p:tab title="Change Scene" >
                                            <p:dataTable widgetVar="loadSceneTable" rendered="#{not empty LocationEditController.selectedHotspot}" rows="5" paginator="true" paginatorPosition="bottom"  value="#{LocationEditController.scenes}" selectionMode="single"  selection="#{LocationEditController.selectedHotspotLoadScene}"  var="scene" rowKey="#{scene.id}">
                                                <p:column  width="20">
                                                    <h:outputText value="#{scene.id}" />
                                                </p:column>
                                                <p:column >
                                                    <h:outputText value="#{scene.title}" />
                                                </p:column>
                                                <p:ajax event="rowSelect" listener="#{LocationEditController.saveSelectedHotspot}" oncomplete="updateHotspot()" />
                                                <p:ajax event="rowUnselect" listener="#{LocationEditController.saveSelectedHotspot}" oncomplete="updateHotspot()" />
                                            </p:dataTable>

                                        </p:tab>
                                        <p:tab title="Change Guide" >
                                            <p:inputText id="loadGuideId" value="#{LocationEditController.selectedHotspot.loadGuideId}" onchange="updateHotspot();  saveHotspot();"/>
                                        </p:tab>
                                    </p:tabView>

                            </p:panelGrid>

                                    <p:remoteCommand name="updateSelectedHotspot"  actionListener="#{LocationEditController.updateSelectedHotspotId}" />
                                    <p:remoteCommand name="saveSelectedHotspot"  actionListener="#{LocationEditController.saveSelectedHotspot}" />
                                    <p:inputText id="selectedHotspotId" type="hidden"/>
                                </h:form>

                            </p:tab>

                        </p:tabView>

                        <p:blockUI block="modeTab:sceneSettings" widgetVar="bui"/>


                        <h:form id="modalScene">

                            <p:inputText id="videoSettings" type="hidden"/>
                            <p:inputText id="voiceoverSettings" type="hidden"/>

                            <p:remoteCommand name="updateVideoSettings" actionListener="#{LocationEditController.updateVideoSettings}" />
                            <p:remoteCommand name="updateVoiceover" actionListener="#{LocationEditController.updateVoiceover}" />
                            <p:remoteCommand name="saveScene" update=":wizard_form:tabView:locationScenes" actionListener="#{LocationEditController.saveSelectedScene}" />
                            <p:remoteCommand name="clearSelected" actionListener="#{LocationEditController.clearSelected}" />


                            <p:remoteCommand name="fetchSceneData"
                                             action="#{LocationEditController.getSceneData}"
                                             oncomplete="initSceneAdmin(xhr, status, args);"/>
                            <p:remoteCommand name="updateVideoDuration"
                                             update="@form"
                                             action="#{LocationEditController.updateVideoDuration}"/>
                        </h:form>
                    </p:tab>


                </p:tabView>


            <p:ajax event="close" process="@this" oncomplete="saveScene();removePlayer();clearSelected();" />
        </p:dialog>

          //scene text editor
        <p:dialog  widgetVar="modalText"  appendToBody="true" styleClass="modalSceneText" modal="true" dynamic="true" >

            <h:form id="modal">
                <p:remoteCommand name="rc" update=":wizard_form:tabView:locationScenes" actionListener="#{CustomerDashboardController.saveSelectedScene()}" />
                <p:panel id="sceneText">

                    <p:inputText id="sceneNameEdit" style="width: 200px" rows="1" counter="labelCount" maxlength="20" counterTemplate="{0} characters remaining." value="#{CustomerDashboardController.selectedScene.title}"/>
                    <br/>
                    <h:outputText id="labelCount" />
                    <p:editor id="sceneDescription" rows="10" cols="50" value="#{CustomerDashboardController.selectedScene.description}" counter="descriptionCount" maxlength="1000" counterTemplate="{0} characters remaining." autoResize="false" /><br/>
                    <h:outputText id="descriptionCount" />

                </p:panel>
            </h:form>

            <p:ajax event="close" process="@this" immediate="true"   oncomplete="rc()" />
        </p:dialog>

        <p:confirmDialog global="true" widgetVar="confirmDialog" message="Are you sure?" width="200px">
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" style="float:right;"/>
            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" style="float:right;"/>
        </p:confirmDialog>

    </ui:define>
</ui:composition>