<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="../template.xhtml">

	<ui:define name="checkurl">
	    <f:metadata>
	        <f:event listener="#{LocationViewController.preRenderView}" type="preRenderView"/>
	    </f:metadata>
	</ui:define>
	
    
	<ui:define name="content">
		<p:breadCrumb>
			<p:menuitem value="Dashboard" url="/" />
			<p:menuitem value="Location - #{LocationViewController.location.statusText}" url="/location/#{LocationViewController.location.id}/view" />
		</p:breadCrumb>
		
		<script type="text/javascript">
          var prevHolder;
		  function showFlash(accordionId)
		  {
		  	if(prevHolder != null)
		  		prevHolder.html("");
		  	
		  	
			var activeIndex = $("#"+accordionId+"_active").val();
			var visibleTab = $("#"+accordionId+"\\:" + activeIndex + "\\:scene_tab");
			var holder = visibleTab.find('#flash_holder');
			holder.html(
				'&lt;iframe src="'+holder.attr("iframeurl")+'" style="'+holder.attr("style")+'" width="100" height"100" /&gt;'
			);
			
			prevHolder = holder;
		  }
        </script>
        
		<center>
			<p:accordionPanel id="scenesAccordion" 
				value="#{LocationViewController.scenes}"
				var="scene"
				cache="true"
				activeIndex="-1"
				onTabShow="showFlash('scenesAccordion')">
				<p:tab id="scene_tab" title="#{scene.title}" >
					<table width="900" border="1">
					  <tr>
					    <td width="450">
					    	<div id="flash_holder" 
					    		iframeurl="/scene/#{scene.id}/view" 
					    		style="width:450px; height:340px">
					    	</div>
					    </td>
					    <td valign="top">
					    	Status: <h:outputText value="#{scene.statusText}" /><br/>
					    	<h:outputText value="#{scene.comments}" />
					    </td>
					  </tr>
					</table>
				</p:tab>
			</p:accordionPanel>
		</center>
	</ui:define>
</ui:composition>
