     html, body {
            overflow: hidden;
            font-family: 'Lato',Helvetica,Arial,sans-serif;
			height:     100%;
			padding:    0;
			margin:     0;
        }

	 #spacer {
		 height : 1px;
	 }

	 #container {
		 z-index: 0;
		 width: 100%;
		 height: 100%;
		 position: absolute;
		 left: 0px;
		 top: 0px;
	 }



	 #preloader {
			position: absolute;
			left: 0;
			top:0;
			width: 100%; 
			height: 100%; 
			background-color: white;
			color: #662d91;
			text-align: center;
		 	z-index: 1;
        }
		 #guideIntro{
			 width:  60%;
			 height: 200px;
			 position: absolute;
			 top:0;
			 bottom: 0;
			 left: 0;
			 right: 0;
			 margin: auto;
		 }

		#guideCoverImg{
			width: auto;
			max-width:  50%;
			height: auto;
			max-height: 50%;
		}
		 .guideIntroText{


		 }

		 .guideIntroText h1{
           padding: 20px;
			 text-align: center;
			 font-size: 20px;
		 }
		 .guideIntroText span{
			 font-size: 15px;
			 position: relative;
			 bottom: 20%;
			 text-align:center;
		 }
	   		
        #preloaderItems {
		   width: 10%;
			position: absolute;
			top:0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
        }		
        
		
		 #container {
			width:100%;
			height:100%;
			position: absolute;
        }
		
      
        #preloadtrack {
        	width:100px;
        	background-color:#FFF;
			padding:1px;
        }
        
        #preloadbar {
        	width:1px; 
        	height:4px; 
        	background-color:#3b80c3;

        }

	 #html2canvasRenderer{
		 opacity: 0.0;
		 filter: alpha(opacity=0.0);
		 -moz-opacity:0.0;
		 -khtml-opacity: 0.0;
		 position: absolute;
		 left : 100%;
		 visibility: hidden;
	 }
        


